<?php
/** @var string $nonce */
$nonce = $this->nonce;
?>

<form class="ls-add-actions-code" method="post" autocomplete="off">
    <input type="hidden" name="action" value="acm-add-consumer-code"/>
    <input type="hidden" name="nonce" value="<?=$nonce?>" />
    <?php $id = uniqid('acCode'); ?>
    <label for="<?=$id?>"><?=__('Add Access Code', 'ls')?></label>
    <input type="text" class="ls-add-ac-input" maxlength="150" id="<?=$id?>" name="code" value=""/>
    <input type="submit" value="<?=__('Add', 'ls')?>" class="button normal-button large ls-add-ac-button"/>
</form>