<div class="ls-consumer-codes">
    <?php if (!empty($this->codes)) { ?>
        <table class="table">
            <thead>
            <tr>
                <th><?=__('Access Code', 'ls')?></th>
                <th><?=__('End date', 'ls')?></th>
            </tr>
            </thead>
            <?php
            $k = 0;

            /**
             * @var string $code
             * @var ACMConsumerCodeConnection $cc
             */
            foreach ($this->codes as $code => $cc) {

                $class = [];

                if ($k++ % 2 === 0) {
                    $class[] = 'alternate';
                }

                if ($cc->isExpired()) {
                    $class[] = 'expired';
                }
                ?>
                <tr<?=empty($class) ? '' : ' class="' . implode(' ', $class) . '"'?>>
                    <td class="code"><?=esc_html($code)?></td>
                    <td class="code-end"><?=date('d.m.Y', $cc->getEndDate())?></td>
                </tr>
            <?php } ?>
        </table>
    <?php } else { ?>
        <p><?=__('You do not have any active Access Code', 'ls')?></p>
    <?php } ?>
</div>