<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><?=$this->siteTitle?></title>
        <style type="text/css">
            #outlook a {padding:0;}
            body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
            .ExternalClass {width:100%;}
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
        </style>
    </head>
    <body id="body">

        <!--[if (gte mso 9)|(IE)]>
        <center>
          <table>
            <tr>
              <td width="600">
                <![endif]-->

                <table width="100%" border="0">
                    <tr>
                        <td class="wrapper-content">

                            <table width="100%" border="0" id="header">
                                <tr>
                                    <td id="headerLogo"><img class="center" src="<?=$this->headerLogo?>" alt="<?=esc_attr($this->siteTitle)?>" /></td>
                                </tr>
                            </table>

                            <table width="100%" border="0" id="content">
                                <?php if(!empty($this->title)) { ?>
                                    <tr>
                                        <td id="title"><?=$this->title?></td>
                                    </tr>
                                <?php } ?>
                                <?php if(isset($this->tdw)) { ?>

                                    <?php if(!empty($this->tdw->image)) { ?>
                                        <tr>
                                            <td class="container center"><img src="<?=$this->tdw->image?>" width="560" alt="" /></td>
                                        </tr>
                                    <?php } ?>

                                    <tr>
                                        <td class="container">
                                            <h3><?=$this->tdw->title?></h3>
                                            <?php
                                            if(!empty($this->tdw->subtitle)) {
                                                echo '<strong style="color: #000;">' . nl2br($this->tdw->subtitle) . '</strong>';
                                            }
                                            ?>
                                            <p><?=nl2br($this->tdw->excerpt)?></p>
                                            <br />
                                            <?=do_shortcode('[BUTTON href="' . $this->tdw->link . '"]Jetzt lesen...[/BUTTON]')?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="container left gray-border">
                                            <?php if(!empty($this->tdw->todo)) { ?>
                                                <table width="100%" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="subtitle"><strong>Umsetzungstipp</strong></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <br />
                                                <?=nl2br($this->tdw->todo)?>
                                                <p class="hr">&nbsp;</p>
                                            <?php } ?>
                                            <?=$this->content?><br />
                                        </td>
                                    </tr>

                                <?php } ?>
                                <tr>
                                    <td id="loginImage"><a href="<?=$this->homeUrl?>" target="_blank"><img src="<?=$this->footerImage?>" alt="Einloggen und gesund bleiben" /></a></td>
                                </tr>
                            </table>

                            <br />

                            <table width="100%" border="0" id="footer">
                                <tr>
                                    <td id="footerContent"><?=$this->footer?></td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

            <!--[if mso]>
              </td>
            </tr>
          </table>
        </center>
        <![endif]-->

    </body>
</html>