<?php
/** @var $tableOverview LS\BPTransactionsTable */
$tableOverview = $this->pointsTable;
$tableOverview->referer = $_SERVER['REQUEST_URI'] . '#ls-bp';
$tableOverview->prepare_items();
?>
<form method="get" autocomplete="off">
    <input type="hidden" name="page" value="bonusPoints"/>
    <input type="hidden" name="table" value="LS\BPTransactionsTable"/>
    <?php $tableOverview->filter_box(); ?>
    <br/>
    <select id="multiple-select" multiple="multiple">
        <?php $cols = $tableOverview->get_columns(); ?>
        <?php $fields2Display = $tableOverview->getFieldsToDisplay(); ?>
        <?php unset($cols['cb']); ?>
        <?php foreach ($cols as $value => $label) { ?>
            <?php $label = mb_strlen($label) > 30 ? mb_substr($label, 0, 28) . '..' : $label; ?>
            <option value="<?=esc_attr($value)?>"<?php selected(in_array($value, $fields2Display)); ?>><?=esc_attr($label)?></option>
        <?php } ?>
    </select>
    <?php $tableOverview->search_box(__('Search'), 'ls'); ?>
    <?php $tableOverview->display(); ?>
</form>
