<div class="ls-sub-tabs tabs">
    <ul>
        <li class="ls-tab"><a href="#ls-log/import-log"><?=__('Import log', 'ls')?></a></li>
    </ul>

    <div id="import-log" class="hide ls-tab-content">
        <?php
        /** @var $table LS\BPImportLogTable */
        $table = $this->importLogTable;
        $table->referer = $_SERVER['REQUEST_URI'] . '#ls-log/import-log';
        $table->prepare_items();
        ?>
        <form method="get" autocomplete="off">
            <input type="hidden" name="page" value="bonusPoints"/>
            <input type="hidden" name="table" value="BPImportLogTable"/>
            <?php $table->display(); ?>
        </form>
    </div>
</div>