<?php
/** @var array $options */
$options = $this->options;

/** @var \LS\BPMethod[] $earningMethods */
$earningMethods = $this->earningMethods;

/** @var LS\BPMethod[] $burningMethods */
$burningMethods = $this->burningMethods;
?>

<form method="post" autocomplete="off">

    <div class="ls-sub-tabs tabs">
        <ul>
            <li class="ls-tab"><a href="#ls-settings/general-settings-tab"><?=__('General settings', 'ls')?></a></li>
            <li class="ls-tab"><a href="#ls-settings/earning-settings-tab"><?=__('Earning', 'ls')?></a></li>
            <li class="ls-tab"><a href="#ls-settings/burning-settings-tab"><?=__('Burning', 'ls')?></a></li>
            <li class="ls-tab"><a href="#ls-settings/aging-settings-tab"><?=__('Aging', 'ls')?></a></li>
            <li class="ls-tab"><a href="#ls-settings/status-settings-tab"><?=__('Status', 'ls')?></a></li>
        </ul>

        <div id="general-settings-tab" class="hide ls-tab-content">

            <h3><?=__('Transactions', 'ls')?></h3>

            <a id="btn-remove-transactions" href="<?=admin_url('/admin.php?page=bonusPoints&action=bp-clear-all&referer=' . urlencode($_SERVER['REQUEST_URI']))?>" class="button" <?= $this->hasTransactions ? '' : 'disabled' ?>><?=__('Reset all transactions', 'ls')?></a>

            <h3><?=__('Currency labels', 'ls')?></h3>

            <table class="form-table">
                <tr>
                    <th scope="row"><label for="ptSingular"><?=__('Point', 'ls')?></label></th>
                    <td><input type="text" id="ptSingular" name="ptSingular" value="<?=esc_attr($options['ptSingular'])?>"/></td>
                </tr>
                <tr>
                    <th scope="row"><label for="ptPlural"><?=__('Points', 'ls')?></label></th>
                    <td><input type="text" id="ptPlural" name="ptPlural" value="<?=esc_attr($options['ptPlural'])?>"/></td>
                </tr>
            </table>

            <br/>

            <h3><?=__('Currency value', 'ls')?></h3>

            <table class="form-table">
                <tr>
                    <th scope="row"><label for="ptCurrency">1 <?=__('Point', 'ls')?> =</label></th>
                    <td><input type="text" id="ptCurrency" name="ptCurrency" value="<?=(float) $options['ptCurrency']?>" style="width: 60px;"/> EUR</td>
                </tr>
            </table>
        </div>

        <div id="earning-settings-tab" class="hide ls-tab-content">
            <h3>Earning methods</h3>
            <?php foreach ($earningMethods as $earningMethod) { ?>
                <div class="row"><label for="em<?=esc_attr($earningMethod->getName())?>"><input type="checkbox" name="earningMethods[<?=esc_attr($earningMethod->getName())?>]" id="em<?=esc_attr($earningMethod->getName())?>" <?php checked($earningMethod->isActive()); ?> /> <?=esc_html($earningMethod->getLabel())?></label></div>
            <?php } ?>
        </div>

        <div id="burning-settings-tab" class="hide ls-tab-content">
            <h3>Burning methods</h3>
            <?php foreach ($burningMethods as $burningMethod) { ?>
                <div class="row"><label for="bm<?=esc_attr($burningMethod->getName())?>"><input type="checkbox" name="burningMethods[<?=esc_attr($burningMethod->getName())?>]" id="bm<?=esc_attr($burningMethod->getName())?>" <?php checked($burningMethod->isActive()); ?> /> <?=esc_html($burningMethod->getLabel())?></label></div>
            <?php } ?>
        </div>

        <div id="aging-settings-tab" class="hide ls-tab-content">

            <h3><?=__('Aging', 'ls')?></h3>

            <?php
            $fields = [
                new LS\Field\Checkbox('agingEnabled', __('Activated', 'ls'), [], $options['agingEnabled']),
                new LS\Field\Text('agingDays', __('Mark transaction as aged after', 'ls'), ['maxlength' => 3, 'style' => 'width: 50px', 'after' => __('Days', 'ls')], $options['agingDays']),
                new LS\Field\Textarea('agingMessage', __('Transaction message', 'ls'), ['maxlength' => 10000], $options['agingMessage'])
            ];
            ?>

            <table class="form-table">
                <?php
                /** @var LS\FieldAbstract $field */
                foreach (array_merge($fields, apply_filters('ls_bp_aging_extra_settings', [])) as $field) {
                    echo '<tr>';
                    echo '<th scope="row"><label for="' . $field->getId() . '">' . esc_html($field->getLabel()) . '</label></th>';
                    echo '<td>';
                    $field->render(false);
                    echo '</td>';
                    echo '</tr>';
                }
                ?>
            </table>
        </div>

        <div id="status-settings-tab" class="hide ls-tab-content">

            <h3><?=__('Silver Status', 'ls')?></h3>

            <table class="form-table">
                <tr>
                    <th scope="row"><label for="statusEnabled"><input type="checkbox" name="statusEnabled" id="statusEnabled" <?php checked((bool) $options['statusEnabled']); ?> /> <?=__('Activated', 'ls')?></label></th>
                </tr>
                <tr>
                    <th scope="row"><label for="statusPoints"><?=__('Points to reach status', 'ls')?></label></th>
                    <td><input type="text" class="text regular-text" name="statusPoints" id="statusPoints" value="<?=$options['statusPoints']?>" maxlength="4"/></td>
                </tr>
                <tr>
                    <th scope="row"><label for="statusLifetime"><?=__('Status lifetime', 'ls')?></label></th>
                    <td><input type="text" name="statusLifetime" id="statusLifetime" value="<?=$options['statusLifetime']?>" style="width: 50px;" maxlength="4"/> <?=__('Days to keep the status after consumer lost the required number of points')?></td>
                </tr>
            </table>
        </div>

    </div>

    <p class="submit">
        <input type="hidden" name="action" value="bp-save-settings"/>
        <input type="submit" name="submit" value="<?=__('Save', 'ls')?>" class="button-primary"/>
    </p>

</form>