<?php
/** @var $table LS\BPTriggersTable */
$table = new LS\BPTriggersTable();
$table->referer = $_SERVER['REQUEST_URI'] . '#ls-earnings/BT-tab';
$table->prepare_items();
?>
<form method="get" autocomplete="off">
    <input type="hidden" name="page" value="bonusPoints"/>
    <input type="hidden" name="table" value="BPTriggersTable"/>
    <h3 class="line"><?=__('Triggers', 'ls')?></h3>
    <?php if (current_user_can('ls_bp_settings')) { ?>
        <a class="add-new-h2 button-primary" href="admin.php?page=bonusPoints&view=bonus-trigger&referer=<?=urlencode($table->referer)?>"><?=__('New trigger', 'ls')?></a>
    <?php } ?>
    <?php $table->display(); ?>
</form>