<div class="ls-accordion consumers-accordion">
    <h3 class="title active"><?=__('Dashboard', 'ls')?></h3>
    <div class="ls-bp-dashboard"></div>
    <h3 class="title"><?=__('Quick History', 'ls')?></h3>
    <div class="ls-bp-quick-history"></div>
</div>

<?php $this->render('admin-transactions-list.phtml');