<table class="wp-list-table widefat striped" style="max-width: 500px;">
    <thead>
    <tr>
        <th><?=__('Date', 'ls')?></th>
        <th><?=__('Points received', 'ls')?></th>
        <th><?=__('Points spent', 'ls')?></th>
        <th><?=__('Points expired', 'ls')?></th>
    </tr>
    </thead>
    <tbody>
    <?php $now = $this->dashboard->now; ?>
    <?php foreach ($this->dashboard as $period => $data) { ?>
        <?php if ($period == 'now') {
            continue;
        } ?>
        <tr>
            <td>
                <?php
                switch ($period) {
                    case 'thisMonth':
                        $start = strtotime('first day of this month', $now);
                        $end = strtotime('next month', $start) - 1;
                        echo $end > current_time('timestamp') ? __('This month', 'ls') : date('F Y', $now);
                        break;
                    case 'thisYear':
                        echo date('Y', $now) == date('Y') ? __('This year', 'ls') : date('Y', $now);
                        break;
                    default:
                        echo date('d.m.Y', strtotime($period, $now));
                }
                ?>
            </td>
            <td><?=number_format($data->pointsReceived, 0, '.', '.')?></td>
            <td><?=number_format($data->pointsSpent, 0, '.', '.')?></td>
            <td><?=number_format($data->pointsExpired, 0, '.', '.')?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>