<?php
$earningMethods = [];

/** @var LS\BPMethod $method */
foreach ($this->earningMethods as $method) {
    if ($method->isActive() && $method->hasSettings()) {
        $earningMethods[] = $method;
    }
}
?>

<?php if (!empty($earningMethods)) { ?>

    <div class="ls-sub-tabs tabs">

        <ul>
            <?php
            /** @var LS\BPMethod $method */
            foreach ($earningMethods as $method) { ?>
                <li class="ls-tab"><a href="#ls-earnings/<?=esc_attr($method->getName())?>-tab"><?=esc_html($method->getLabel())?></a></li>
            <?php } ?>
        </ul>

        <?php
        /** @var LS\BPMethod $method */
        foreach ($earningMethods as $method) { ?>
            <div id="<?=esc_attr($method->getName())?>-tab" class="hide ls-tab-content">
                <?=$method->getSettings()?>
            </div>
        <?php } ?>

    </div>

<?php } else { ?>
    <p style="font-style: italic;"><?=__('No earning methods available', 'ls')?></p>
<?php }