<?php
/** @var \LS\FieldAbstract[] $triggerStructure */
$triggerStructure = $this->triggerStructure;

/** @var array $triggersSettings */
$triggersSettings = $this->triggersSettings;

/** @var int $triggerId */
$triggerId = $this->triggerId;
?>

<form method="post" autocomplete="off" class="bonus-trigger-form">

    <script>
        var triggersSettings = <?=json_encode($triggersSettings)?>;
    </script>

    <br/>

    <?php foreach ($triggerStructure as $fieldName => $field) { ?>
        <?php
        if (in_array($fieldName, ['triggerId', 'createDate']) && empty($triggerId)) {
            continue;
        }

        if ($fieldName == 'description' && empty($field->getValue())) {
            continue;
        }
        ?>
        <div class="row clearfix field-<?=esc_attr($fieldName)?>">
            <?php
            if ($fieldName == 'triggerId') {
                echo '<label>ID</label>' . $field->getDisplayValue();
            } else {
                $field->render();
            }
            ?>
        </div>
    <?php } ?>

    <br/>

    <input type="hidden" name="referer" value="<?=LS\Library::getReferer()?>"/>
    <input type="hidden" name="triggerId" value="<?=$triggerId?>"/>
    <input type="hidden" name="action" value="bp-trigger-save"/>
    <input type="submit" class="button-primary button" value="<?=$triggerId > 0 ? __('Save', 'ls') : __('Add', 'ls')?>"/>

</form>