<?php
/** @var $tableOverview LS\BPConsumerTransactions */
$tableOverview = $this->table;
$tableOverview->referer = $_SERVER['REQUEST_URI'] . '#bp';
$tableOverview->prepare_items();
?>
<form class="ls-bp-consumer-table" method="get" autocomplete="off">

    <div class="row ls-bp-total-points">
        <strong class="balance"><?=__('Total points', 'ls')?>: <span><?=number_format($this->totalPoints, 0, ',', '.')?></span></strong>
        <a href="<?=admin_url('/admin.php?page=bonusPoints&consumerId=' . $this->consumerId . '&referer=' . urlencode($_SERVER['REQUEST_URI']) . '#bp')?>" class="button"><?=__('Add points', 'ls')?></a>
        <?php if ($this->totalPoints > 0) { ?>
            <a id="btn-remove-consumer-transactions" style="margin: 0 15px;" href="<?=admin_url('/admin.php?page=bonusPoints&action=reset-bonus-points&consumerId=' . $this->consumerId . '&referer=' . urlencode($_SERVER['REQUEST_URI']) . '#bp')?>" class="button"><?=__('Reset points', 'ls')?></a>
        <?php } ?>
    </div>

    <input type="hidden" name="page" value="consumersLoyaltySuite"/>
    <input type="hidden" name="table" value="BPConsumerTransactions"/>
    <input type="hidden" name="view" value="consumer-details"/>
    <input type="hidden" name="consumerId" value="<?=$this->consumerId?>"/>

    <?php $tableOverview->display(); ?>
</form>
