<div class="ls-dash">
    <div class="bx size-1">
        <div>
            <span><?=number_format($this->dashboard->totalPoints, 0, '.', '.')?></span>
            <label><?=__('Balance', 'ls')?></label>
        </div>
    </div>
    <div class="bx size-1">
        <div>
            <span><?=number_format($this->dashboard->pointsReceived, 0, '.', '.')?></span>
            <label><?=__('Points received', 'ls')?></label>
        </div>
    </div>
    <div class="bx size-1">
        <div>
            <span><?=number_format($this->dashboard->pointsSpent, 0, '.', '.')?></span>
            <label><?=__('Points spent', 'ls')?></label>
        </div>
    </div>
    <div class="bx size-1">
        <div>
            <span><?=number_format($this->dashboard->pointsExpired, 0, '.', '.')?></span>
            <label><?=__('Points expired', 'ls')?></label>
        </div>
    </div>
</div>