<?php
/** @var \LS\FieldAbstract $structure */
$structure = $this->structure;
?>

<h3 class="line"><?=__('Add bonus points manually', 'ls')?></h3>

<form method="post" autocomplete="off" class="bp-record">

    <?php foreach ($structure as $fieldName => $field) { ?>
        <div class="row clearfix">
            <?php
            if (isset($_REQUEST[$fieldName])) {
                $field->setValue($_REQUEST[$fieldName]);
            } elseif (isset($this->record->{$fieldName})) {
                $field->setValue($this->record->{$fieldName});
            }

            $field->render();
            ?>
        </div>
    <?php } ?>

    <br/>

    <input type="hidden" name="referer" value="<?=LS\Library::getReferer()?>"/>
    <input type="hidden" name="action" value="bp-manual-add"/>
    <input type="submit" class="button-primary button" value="<?=__('Add', 'ls')?>"/>

</form>