<?php if (!isset($this->importFile) || empty($this->importFile)) { ?>

    <form class="bp-import step1" method="post" enctype="multipart/form-data">

        <div id="importStep1">

            <h3 class="line"><?=__('Step 1: Upload file', 'ls')?></h3>

            <div class="row">
                <div class="clearfix">
                    <label for="importFile"><?=__('Select file to import', 'ls')?></label>
                    <input type="file" name="file" id="importFile"/>
                </div>
                <br/>
                <div class="clearfix">
                    <label>&nbsp;</label>
                    <a href="<?=esc_url(add_query_arg(['action' => 'bp-get-test-file', 'type' => 'csv']))?>"><?=__('CSV File example', 'ls')?></a>
                </div>
                <br/>
            </div>

            <div class="row">
                <input type="submit" value="<?=__('Continue', 'ls')?>" class="button button-primary"/>
            </div>

            <input type="hidden" name="action" value="bp-import-check-file"/>
            <input type="hidden" name="referer" value="<?=LS\Library::getReferer()?>"/>

        </div>

    </form>

<?php } elseif (isset($this->importFile) && !empty($this->importFile)) { ?>

    <form id="importStep2" class="bp-import step2" method="post">

        <h3 class="line"><?=__('Step 2: Define data structure and start import', 'ls')?></h3>

        <div class="row">
            <table class="wp-list-table widefat fixed ls-bp-import-table">
                <thead>
                <tr class="main">
                    <?php foreach ($this->importFile['columns'] as $col) { ?>
                        <th><?=esc_html($col)?></th>
                    <?php } ?>
                </tr>
                <tbody>
                <?php foreach ($this->importFile['records'] as $k => $record) { ?>
                    <?php $class = []; ?>
                    <?php if ($k++ % 2 == 0) {
                        $class[] = 'alternate';
                    } ?>
                    <tr<?=empty($class) ? '' : ' class="' . implode(' ', $class) . '"'?>>
                        <?php foreach ($record as $item) { ?>
                            <td><?=esc_html($item)?></td>
                        <?php } ?>
                    </tr>
                <?php } ?>

                <?php if ($this->importFile['totalRecords'] > count($this->importFile['records'])) { ?>
                    <tr>
                        <?php foreach ($this->importFile['columns'] as $col) { ?>
                            <th>...</th>
                        <?php } ?>
                    </tr>
                <?php } ?>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="<?=count($this->importFile['columns'])?>"><?=__('Total records', 'ls')?>: <b><?=$this->importFile['totalRecords']?></b></th>
                </tr>
                </tfoot>
            </table>
        </div>

        <br/>

        <div class="row">
            <?=__('Connect file columns to the Bonus Points fields:', 'ls')?>
        </div>

        <br/>

        <?php
        $renderColumns = static function ($columns, $element) {
            echo '<select name="' . esc_attr($element) . '" class="bp-column col-' . esc_attr($element) . '">';
            echo '<option value=""> - </option>';
            foreach ($columns as $key => $col) {
                echo '<option value="' . esc_attr($key) . '">' . esc_html($col) . '</option>';
            }
            echo '</select>';
        };
        ?>

        <div class="row">
            <label><?=__('Identifier column', 'ls')?></label>
            <?=$renderColumns($this->importFile['columns'], 'ident')?>
            <span><?=__('determine this value as', 'ls')?></span>
            <select name="identType">
                <?php foreach (LS\BPImportHandler::getIdentifierStatements() as $key => $label) { ?>
                    <option value="<?=esc_attr($key)?>"><?=esc_html($label)?></option>
                <?php } ?>
            </select>
        </div>

        <div class="row">
            <label><?=__('Points column', 'ls')?></label>
            <?=$renderColumns($this->importFile['columns'], 'points')?>
        </div>

        <div class="row">
            <label><?=__('Transaction details', 'ls')?></label>
            <?=$renderColumns($this->importFile['columns'], 'message')?>
        </div>

        <div class="row">
            <label><?=__('Create date column', 'ls')?></label>
            <?=$renderColumns($this->importFile['columns'], 'createDate')?>
            <?=__('date format is', 'ls')?>
            <select name="createDateFormat">
                <?php foreach (LS\BPImportHandler::getCreateDateStatements() as $key => $label) { ?>
                    <option value="<?=esc_attr($key)?>"><?=esc_html($label)?></option>
                <?php } ?>
            </select>
        </div>

        <div id="bpStep2Errors"></div>

        <br/>

        <div class="row">
            <input type="submit" value="<?=__('Start import', 'ls')?>" class="button button-primary"/>
        </div>

        <?php if (current_user_can('ls_bp_settings')) { ?>
            <input type="hidden" name="action" value="bp-import-start"/>
            <input type="hidden" name="importId" value="<?=(int) $this->importFile['importId']?>"/>
        <?php } ?>

    </form>

<?php } else { ?>
    <p class="error"><?=__('Invalid file', 'ls')?></p>
    <?php
}