<?php
/** @var PechChallenge $challenge */
$challenge = $this->challenge;

if(!empty($this->challengeTeams)) { ?>

    <div class="pech-overview-details pech-overview overview-blocks">
        <ul>

            <?php
            /** @var PechChallengeTeam $challengeTeam */
            foreach($this->challengeTeams as $challengeTeam) {

                /** @var PechConsumerTeam $myTeam */
                $myTeam = $this->myTeams[$challengeTeam->getTeamId()] ?? false;
                $status = '';
                $class = 'action';

                if(!$myTeam) {
                    if(empty($challengeTeam->getTeamName())) {
                        $status = __('Neue Challenge - mach mit!', 'ls');
                    } else {
                        $status = sprintf(__('Team <strong>%s</strong>. Mach mit!', 'ls'), esc_html($challengeTeam->getTeamName()));
                    }
                    $class = 'action';
                } elseif($myTeam->confirmationAwaiting()) {
                    if(empty($challengeTeam->getTeamName())) {
                        $status = __('Du hast eine Challenge-Einladung erhalten.', 'ls');
                    } else {
                        $status = sprintf(__('Du hast eine Einladung vom Team <strong>%s</strong> erhalten.', 'ls'), esc_html($challengeTeam->getTeamName()));
                    }
                    $class = 'action';
                } elseif($myTeam->startAwaiting()) {
                    $status = sprintf(__('Die Challenge ist aktuell nicht aktiv und startet am %s.', 'ls'), date('d.m.Y', $myTeam->getTeam()->getStartDate()));
                    $class = 'done';
                } elseif($challengeTeam->isEnded()) {
                    if(empty($challengeTeam->getTeamName())) {
                        $status = __('Die Challenge ist beendet.', 'ls');
                    } else {
                        $status = sprintf(__('Die Challenge vom Team <strong>%s</strong> ist beendet.', 'ls'), esc_html($challengeTeam->getTeamName()));
                    }
                    $class = 'finished';
                } elseif($myTeam->activityAwaiting($this->todayActivities)) {
                    $status = __('Bitte persönliche Daten ergänzen.', 'ls');
                    $class = 'action';
                } else {
                    $status = __('Top! Persönliche Daten ergänzt.', 'ls');
                    $class = 'done';
                }
                ?>
                <li>
                    <div class="pech-block" data-id="<?=$challengeTeam->getTeamId()?>" data-pech-id="<?=$challengeTeam->getChallengeId()?>" data-type="<?=$challenge->getChallengeType()?>">
                        <div class="pech-details overview-block clearfix <?=$class?>-border">
                            <?php if($challenge->hasChallengeIcon()) { ?>
                                <div class="icon">
                                    <i class="<?=$challenge->getChallengeIcon() . ' ' . $class . '-color'?>"></i>
                                </div>
                            <?php } ?>
                            <div class="flex">
                                <div class="part part-80">
                                    <label><?=__('Mein Status', 'ls')?></label>
                                    <div class="title"><?=$status?></div>
                                </div>
                                <?php if($challengeTeam->isUpcoming()) { ?>
                                    <div class="part part-20">
                                        <label><?=__('zum Start', 'ls')?></label>
                                        <?php
                                        $daysToStart = $challengeTeam->getDaysToStart();
                                        $text = $daysToStart > 0 ? $daysToStart . ' ' . _n('Tag', 'Tage', $daysToStart, 'ls') : __('Heute', 'ls');
                                        ?>
                                        <div class="title"><?=$text?></div>
                                    </div>
                                <?php } elseif(!$challengeTeam->isEnded()) { ?>
                                    <div class="part part-20">
                                        <label><?=__('zum Ende', 'ls')?></label>
                                        <?php
                                        $daysToEnd = $challengeTeam->getDaysToEnd();
                                        $text = $daysToEnd > 0 ? $daysToEnd . ' ' . _n('Tag', 'Tage', $daysToEnd, 'ls') : __('Heute', 'ls');
                                        ?>
                                        <div class="title"><?=$text?></div>
                                    </div>
                                <?php } elseif($myTeam) { ?>
                                    <?php
                                    /** @var false|PechRank $rank */
                                    $rank = $this->myRanks[$myTeam->getTeamId()] ?? false;
                                    if($rank) {
                                        ?>
                                        <div class="part part-20">
                                            <label><?=__('Mein Rang', 'ls')?></label>
                                            <div class="title"><?=$rank?></div>
                                        </div>
                                    <?php } ?>
                                <?php } ?>
                            </div>
                            <div class="button">
                                <a href="#pech/<?=$challengeTeam->getTeamId()?>" class="details-button normal-button <?=$class?> inline large"><?=__('Details', 'ls')?> <i class="icomoon-arrow-down"></i></a>
                            </div>
                            <div class="pech-details-data" style="display: none">
                                <div class="pech-details-container"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <?php
            }
            ?>

        </ul>

        <?php
        if($this->canCreateTeam) {
            if(class_exists('fitcoReadMore')) {
                echo fitcoReadMore::show($this->render('create-form.phtml', false), [
                    'visibleText' => __('Neue Challenge erstellen', 'ls')
                ]);
            } else {
                echo $this->render('create-form.phtml', false);
            }
        }
        ?>

    </div>

<?php } elseif($this->canCreateTeam) {
    $this->render('create-form.phtml');
} else {
    echo '<div class="pech no-results">' . __('Aktuell sind keine Challenges aktiv.', 'ls') . '</div>';
}