<?php
/** @var PechChallenge $challenge */
$challenge = $this->challenge;
?>

<div class="pech-create">
    <form action="" autocomplete="off" method="post">

        <div class="row">
            <div class="col-md-12 pech-create-div">
                <h3 class="dark-bg"><?=__('Challenge erstellen', 'ls')?></h3>
            </div>
        </div>

        <div class="row fw">
            <div class="col-md-12 pech-create-div">
                <label class="pech-header white-color"><span>1</span><?=__('Startzeitpunkt festlegen', 'ls')?></label>
                <?php
                $list = [date('Y-m-d') => 'Jetzt'];
                $dtp = $challenge->getPossibleDaysToParticipate();
                if($dtp > 0) {
                    for ($i = 1; $i <= $dtp; $i++) {
                        $d = strtotime('TODAY +' . $i . ' DAYS');
                        $list[date('Y-m-d', $d)] = date_i18n('d F', $d);
                    }
                }

                (new LS\Field\Select('startDate', '', $list, ['showEmpty' => false, 'class' => 'fullwidth'], LS\Library::getParam('startDate', 'date')))->render();
                ?>
            </div>
        </div>

        <div class="row fw">
            <div class="col-md-12 pech-create-div">
                <label class="pech-header white-color"><span>2</span><?=__('Teilnehmer einladen', 'ls')?></label>
                <ul class="pech-participants">
                    <?php
                    $participants = LS\Library::getParam('pechParticipants', 'array');
                    $participants = empty($participants) ? [''] : $participants;
                    foreach($participants as $k => $email) {
                        $isLast = count($participants) === $k + 1;
                        ?>
                        <li class="pech-pcp">
                            <?php (new LS\Field\Text('pechParticipants[]', '', ['maxlength' => 10000, 'class' => 'pech-field fullwidth', 'id' => '', 'placeholder' => __('E-Mail Adressen', 'ls')], $email))->render(false); ?>
                            <a href="#" class="pech-add<?=$isLast ? '' : ' hide'?>"><i class="icomoon-user-plus"></i></a>
                            <a href="#" class="pech-del danger-color danger-border<?=$isLast ? ' hide' : ''?>"><i class="icomoon-cross"></i></a>
                        </li>
                    <?php } ?>
                </ul>
                <div class="pech-participants-error"></div>
            </div>
        </div>

        <div class="row fw">
            <div class="col-md-12 pech-create-div">
                <label class="pech-header white-color"><span>3</span><?=__('Teamnamen festlegen', 'ls')?></label>
                <div class="pech-team-block">
                    <label class="checkbox-switcher">
                        <input type="checkbox" class="pech-team-switcher" <?php checked(!empty(LS\Library::getParam('teamName', 'text'))); ?> />
                        <div class="sld"></div>
                    </label>
                    <?php
                    (new LS\Field\Text('teamName', '', ['minlength' => 3, 'maxlength' => 50, 'placeholder' => __('Name', 'ls'), 'class' => 'pech-team-name fullwidth', 'disabled' => true], LS\Library::getParam('teamName', 'text')))->render(false);
                    ?>
                </div>
                <div class="team-error"></div>
            </div>
        </div>

        <div class="row fw">
            <div class="col-md-12 pech-create-div textcenter">
                <input type="hidden" name="action" value="pech-create" />
                <input type="hidden" name="pechId" value="<?=$challenge->getChallengeId()?>" />
                <input type="submit" value="<?=__('Erstellen', 'ls')?>" class="normal-button large inline<?=LS\Library::hasAction() ? ' left' : ' fullwidth'?>" />
            </div>
        </div>

    </form>
</div>