<form action="" class="participation-nm" autocomplete="off" method="post">

    <input type="hidden" name="action" value="pech-add-participants" />
    <input type="hidden" name="id" value="<?=$this->teamId?>" />

    <ul class="pech-participants">
        <?php foreach($this->pcpsToAdd as $k => $email) {
            $isLast = count($this->pcpsToAdd) === $k + 1;
            ?>
            <li class="pech-pcp one">
                <?php (new LS\Field\Text('pechParticipants[]', '', ['maxlength' => 10000, 'class' => 'pech-field fullwidth', 'id' => '', 'placeholder' => 'email@example.com'], $email))->render(false); ?>
            </li>
        <?php } ?>
    </ul>
    <div class="pech-participants-error"></div>
    <br />
    <input type="submit" value="<?=__('Hinzufügen', 'ls')?>" class="normal-button large" />
</form>