<?php
/** @var PechChallengeTeam $challengeTeam */
$challengeTeam = $this->challengeTeam;

/** @var PechChallenge $challenge */
$challenge = $challengeTeam->getChallenge();

/** @var false|PechConsumerTeam $myTeam */
$myTeam = $this->myTeam;

/** @var PechParticipation[] $participations */
$participations = $this->participations;

/** @var array $myActivitiesData */
$myActivitiesData = $this->myActivitiesData;

/** @var int[] $pcpPoints */
$pcpPoints = $this->pcpPoints;

/** @var PechRank $myRank */
$myRank = $this->myRank;

/** @var string $link */
$link = $challenge->getChallengeLink();

$myName = esc_html(consumersLoyaltySuite::getConsumerNiceName());
?>

<div class="pech-details-info clearfix">
    <div class="row equal-boxes">
        <div class="col-sm-3 col-xs-6 pdii">
            <div><i class="icomoon-team"></i></div>
            <div>
                <h3><span class="primary-color"><?=$this->activeParticipationsCount?></span></h3>
                <div class="pdi-label gray-color"><?=__('Aktive(r) Teilnehmer', 'ls')?></div>
            </div>
        </div>
        <?php if($myTeam && $myTeam->isStarted()) { ?>
            <?php if($myRank) { ?>
                <div class="col-sm-3 col-xs-6 pdii">
                    <div><i class="icomoon-star"></i></div>
                    <div>
                        <h3 class="primary-color"><span class="pech-my-rank"><?=$myRank->getRank()?></span> von <?=$this->activeParticipationsCount?></h3>
                        <div class="pdi-label gray-color"><?=__('Mein Rang', 'ls')?></div>
                    </div>
                </div>
            <?php } ?>
            <?php if(!$challengeTeam->isEnded()) { ?>
                <div class="col-sm-3 col-xs-6 pdii">
                    <div><i class="icomoon-calendar-duration"></i></div>
                    <div>
                        <h3 class="primary-color"><?=$challengeTeam->getDaysToEnd() . ' ' . _n('Tag', 'Tage', $challengeTeam->getDaysToEnd(), 'ls')?></h3>
                        <div class="pdi-label gray-color"><?=__('Bis zum Ende', 'ls')?></div>
                    </div>
                </div>
            <?php } ?>
        <?php } else { ?>
            <div class="col-sm-3 col-xs-6 pdii">
                <div><i class="icomoon-bewegung"></i></div>
                <div>
                    <h3 class="primary-color"><?=date('d.m.Y', $challengeTeam->getStartDate())?></h3>
                    <div class="pdi-label gray-color"><?=__('Anfangsdatum', 'ls')?></div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 pdii">
                <div><i class="icomoon-calendar"></i></div>
                <div>
                    <h3 class="primary-color"><?=$challenge->getActivityDays() . ' ' . _n('Tag', 'Tage', $challenge->getActivityDays(), 'ls')?></h3>
                    <div class="pdi-label gray-color"><?=__('Dauer', 'ls')?></div>
                </div>
            </div>
        <?php } ?>
        <div class="col-sm-3 col-xs-6 pdii">
            <div><i class="icomoon-end-date"></i></div>
            <div>
                <h3 class="primary-color"><?=date('d.m.Y', $challengeTeam->getTeamEndDate())?></h3>
                <div class="pdi-label gray-color"><?=__('Enddatum', 'ls')?></div>
            </div>
        </div>
    </div>
</div>

<?php
if(!$challengeTeam->isFinished() && $myTeam && $myTeam->canAddActivities()) {
    $maxDate = min(strtotime('TODAY'), $challengeTeam->getTeamEndDate());
    ?>

    <div class="pech-ma">
        <?php if($maxDate > $challengeTeam->getStartDate()) { ?>
            <a href="#" class="pech-ma-prev" data-limit="<?=$challengeTeam->getStartDate()?>" style="display: none" title="Gestern"><i class="icomoon-arrow-left"></i></a>
        <?php } ?>
        <div class="pech-ma-inner">

            <h4 class="pech-ma-today" data-day="<?=$maxDate?>"><?=date_i18n('d.m.Y', $maxDate)?></h4>
            <h4><?=$challenge->getQuestion()?></h4>

            <?php if($challenge->isTypeYesNo()) { ?>
                <select class="pech-my" autocomplete="off">
                    <option value="">--</option>
                    <option value="<?=PechChallenge::ANSWER_NO?>"><?=__('Nein', 'ls')?></option>
                    <option value="<?=PechChallenge::ANSWER_YES?>"><?=__('Ja', 'ls')?></option>
                </select>
            <?php } else { ?>
                <input type="text" maxlength="20" class="pech-my" autocomplete="off" data-max="<?=$challenge->getMaxValue()?>" />
            <?php } ?>

            <?php
            for($i=0; $i<$challenge->getActivityDays(); $i++) {
                $inputDate = $challengeTeam->getStartDate() + $i * DAY_IN_SECONDS;
                $value = $myActivitiesData[$inputDate] ?? '';
                ?>
                <input type="hidden" class="pech-step" data-day="<?=date('d.m.Y', $inputDate)?>" value="<?=$value?>" />
                <?php
            }
            ?>

        </div>
        <a href="#" class="pech-ma-next" data-limit="<?=$maxDate?>" style="display: none" title="Morgen"><i class="icomoon-arrow-right"></i></a>
    </div>

    <br />

<?php } ?>

<?php if($myTeam) { ?>

    <input type="hidden" class="pech-team-id" value="<?=$challengeTeam->getTeamId()?>" />
    <input type="hidden" class="pech-days" value="<?=$challenge->getActivityDays()?>" />

    <?php if(count($participations) == 1 && $myTeam->canAddParticipants()) { ?>
        <p class="gray-color"><?=__('Du bist aktuell der einzige Teilnehmer in dieser Challenge. Lade unter "Extra Funktionalitäten" weitere Kollegen ein.', 'ls')?></p>
        <br />
    <?php } ?>

    <?php if($myTeam->canAddParticipants()) { ?>
        <p class="pech-added-notice done-bg white-color"><?=__('Teilnehmer hinzugefügt. Der Teilnehmer erhält eine Einladung.', 'ls')?></p>
    <?php } ?>

    <?php
    ob_start();
    ?>

    <?php if(!empty($challengeTeam->getTeamName())) { ?>
        <h3 class="pech-team">Team <?=esc_html($challengeTeam->getTeamName())?></h3>
        <hr />
    <?php } ?>

    <ul class="pech-participations">
        <?php
        $pos = 1;
        $hiddenPcps = [];

        /** @var PechParticipation $participation */
        foreach($participations as $k => $participation) {

            $itsMe = $myTeam->getConsumerId() === $participation->getConsumerId();

            // hide not accepted & canceled pcps if the challenge started
            if($myTeam->isParticipated() && !$challengeTeam->isUpcoming() && !$participation->isAccepted()) {
                $hiddenPcps[] = $participation;
                continue;
            }
            ?>

            <li class="<?=$itsMe ? 'current' : 'opp'?>">

                <?php if($myTeam->confirmationAwaiting() || $myTeam->startAwaiting() || !$participation->isAccepted()) { ?>

                    <div class="name">
                        <span><?=$pos?>.</span> <?=$itsMe ? $myName : esc_html(consumersLoyaltySuite::getConsumerNiceName($participation->getConsumer()))?>
                    </div>

                    <div class="participation-status">
                        <?php
                        if($participation->isAccepted()) {
                            echo '<div class="done-color">' . __('Akzeptiert', 'ls') . '</div>';
                        } elseif($participation->isCanceled()) {
                            echo '<div class="danger-color">' . __('Abgebrochen', 'ls') . '</div>';
                        } elseif($participation->toBeAccepted()) {
                            if($itsMe && $myTeam->canAcceptOrReject()) {
                                echo '<a href="' . add_query_arg(['action' => 'pech-accept', 'id' => $challengeTeam->getTeamId()], $link) . '" class="normal-button pc2a large action">' . __('Akzeptieren', 'ls') . '</a>';
                                echo '<a href="' . add_query_arg(['action' => 'pech-refuse', 'id' => $challengeTeam->getTeamId()], $link) . '" class="normal-button pc2a large reversed danger">' . __('Ablehnen', 'ls') . '</a>';
                            } else {
                                echo '<div class="blue-color">' . __('Warte auf Antwort', 'ls') . '</div>';
                            }
                        }
                        ?>
                    </div>

                <?php } else { ?>

                    <div class="name with-ranks">
                        <?php if($pos > 3) { ?>
                            <span><?=$pos?>.</span>
                        <?php } ?> <?=$itsMe ? $myName : esc_html(consumersLoyaltySuite::getConsumerNiceName($participation->getConsumer()))?>
                    </div>

                    <div class="progress pech-steps-bar" data-value="<?=$pcpPoints[$participation->getConsumerId()]?>">
                        <div class="step-width<?=$itsMe ? ' me' : ''?>" style="width:<?=$this->progresses[$participation->getConsumerId()]?>%;"></div>
                        <span class="step-value"><?=$challenge->isTypeYesNo() ? $this->progresses[$participation->getConsumerId()] . '%' : $pcpPoints[$participation->getConsumerId()]?></span>
                    </div>

                <?php } ?>
            </li>

            <?php $pos++; ?>

        <?php } ?>
    </ul>

    <?php if(!empty($hiddenPcps)) { ?>
        <div class="pech-rpc">
            <div class="pech-rpc-title"><?=sprintf(__('+%d Stornierte/Nicht akzeptierte Teilnehmer', 'ls'), count($hiddenPcps))?> <a class="pech-rpc-link" href="#"><?=__('anzeigen', 'ls')?></a></div>
            <ul class="pech-rpc-list" style="display: none">
                <?php foreach($hiddenPcps as $participation) { ?>
                    <li>
                        <div class="name"><?=esc_html(consumersLoyaltySuite::getConsumerNiceName($participation->getConsumer()))?></div><?php
                        if($participation->isCanceled()) {
                            echo '<div class="status danger-color">' . __('Abgebrochen', 'ls') . '</div>';
                        } else {
                            echo '<div class="status blue-color">' . __('Warte auf Antwort', 'ls') . '</div>';
                        }
                        ?>
                    </li>
                <?php } ?>
            </ul>
        </div>
    <?php } ?>

    <?php
    $content = ob_get_clean();

    if($myTeam->isParticipated() && !$challengeTeam->isUpcoming() && !$challengeTeam->isEnded()) {
        $title = __('Meine Erfolge', 'ls');
        if(class_exists('fitcoReadMore')) {
            echo fitcoReadMore::show($content, [
                'visibleText' => $title,
                'size'        => 'small'
            ]);
        } else {
            echo '<h3>' . $title . '</h3><hr />';
            echo $content;
        }
    } else {
        echo $content;
    }
    ?>

    <?php if($myTeam->canAddActivities()) {
        ob_start();
        ?>

        <div class="pech-steps-form">
            <?php
            for($i=0; $i<$challenge->getActivityDays(); $i++) {
                $stepDate = $challengeTeam->getStartDate() + $i * DAY_IN_SECONDS;
                $todayValue = $myActivitiesData[$stepDate] ?? '';
                $isFutureDate = $stepDate > time();
                ?>
                <div class="pech-steps-col">
                    <div class="pech-steps-day<?=$isFutureDate ? ' future' : ' dark-color'?>"><?=date_i18n('d M', $stepDate)?></div>
                    <?php
                    if($isFutureDate) {
                        $text = '--';
                        $class = 'future';
                    } elseif($todayValue === '') {
                        $text = '--';
                        $class = 'action';
                    } else {
                        $class = 'done';
                        if($challenge->isTypeYesNo()) {
                            $text = $todayValue === PechChallenge::ANSWER_YES ? __('Ja', 'ls') : __('Nein', 'ls');
                        } else {
                            $text = $todayValue;
                        }
                    }

                    echo '<div class="pech-step-status ' . $class . ' ' . $class . '-bg" data-day="' . date('d.m.Y', $stepDate) . '">' . $text . '</div>';
                    ?>
                </div>
            <?php } ?>
        </div>

        <?php
        $title = __('Meine Einträge', 'ls');
        $content = ob_get_clean();
        if(class_exists('fitcoReadMore')) {
            echo fitcoReadMore::show($content, [
                'visibleText' => $title,
                'size'        => 'small'
            ]);
        } else {
            echo '<h3>' . $title . '</h3><hr />';
            echo $content;
        }
        ?>

    <?php } ?>

    <?php
    $nof = 0;
    $nof += $myTeam->canAddParticipants() ? 1 : 0;
    $nof += $myTeam->canPush() ? 1 : 0;
    $nof += $myTeam->canStopParticipation() ? 1 : 0;

    if($nof > 0) {
        $size = max(3, (int) (12 / $nof));
        ob_start();
        ?>
        <div class="row equal-boxes pech-functions">

            <?php
            if($myTeam->canAddParticipants()) {

                $participants = LS\Library::getParam('pechParticipants', 'array');
                $participants = empty($participants) ? [''] : $participants;

                echo $this->partial('details-add-participants.phtml', [
                    'size'       => $size,
                    'imagesPath' => $this->imagesPath,
                    'pcpsToAdd'  => $participants,
                    'teamId'     => $challengeTeam->getTeamId()
                ]);
            }

            if($myTeam->canPush()) {

                $pcpsToPush = array_filter($participations, static function(PechParticipation $pp) use ($myTeam) {
                    return $pp->isAccepted() && $pp->getConsumerId() !== $myTeam->getConsumerId();
                });

                if(!empty($pcpsToPush)) {

                    $pcpsList = '';

                    /** @var PechParticipation $participation */
                    foreach($pcpsToPush as $participation) {
                        $pcpsList .= '<option value="' . $participation->getConsumerId() . '">' . esc_html(consumersLoyaltySuite::getConsumerNiceName($participation->getConsumer())) . '</option>';
                    }

                    echo $this->partial('details-push-participant.phtml', [
                        'size'       => $size,
                        'imagesPath' => $this->imagesPath,
                        'pcpsList'   => $pcpsList
                    ]);
                }
            }

            if($myTeam->canStopParticipation()) {
                echo $this->partial('details-stop-participation.phtml', [
                    'size'       => $size,
                    'imagesPath' => $this->imagesPath,
                    'link'       => add_query_arg(['action' => 'pech-cancel', 'id' => $challengeTeam->getTeamId()], $link)
                ]);
            }
            ?>

        </div>

        <?php
        $title = __('Zusätzliche Funktionen', 'ls');
        $content = ob_get_clean();
        if(class_exists('fitcoReadMore')) {
            echo fitcoReadMore::show($content, [
                'visibleText' => $title,
                'size'        => 'small'
            ]);
        } else {
            echo '<h3>' . $title . '</h3><hr />';
            echo $content;
        }
    }
    ?>

    <?php if($myTeam->canHide()) { ?>
        <?php ob_start(); ?>
        <div class="pech-stop">
            <p><?=__('Hier kannst Du die Challenge endgültig löschen.', 'ls')?></p>
            <a href="#" class="pech-remove normal-button large reversed danger pech-stop-a"><?=__('Löschen', 'ls')?></a>
        </div>
        <?php
        $title = __('Challenge löschen', 'ls');
        $content = ob_get_clean();
        if(class_exists('fitcoReadMore')) {
            echo fitcoReadMore::show($content, [
                'visibleText' => $title,
                'size'        => 'small'
            ]);
        } else {
            echo '<h3>' . $title . '</h3><hr />';
            echo $content;
        }
        ?>
    <?php } ?>

<?php } else { // free entrance mode
    echo '<div class="pech-entrance">';
    echo '<a href="' . add_query_arg(['action' => 'pech-join', 'id' => $challengeTeam->getTeamId()], $link) . '" class="normal-button large pc2a">' . __('Ich mache mit', 'ls') . '</a>';
    echo '</div>';
}