<div class="col-sm-<?=$this->size?> textcenter">
    <div class="ls-box">
        <div class="ls-box-content">
            <img class="pech-func-img" src="<?=$this->imagesPath?>/stop.png" alt="" />
            <h4><?=__('Challengeteilnahme stoppen', 'ls')?></h4>
            <div class="pech-stop">
                <p><?=__('Möchtest du die Challenge wirklich beenden?', 'ls')?></p>
                <br />
                <?php $confirmText = __('Bist du sicher, daß du die Challenge absagen möchtest?', 'ls'); ?>
                <a href="<?=$this->link?>" class="normal-button large reversed danger pech-stop-a" onclick="return confirm('<?=esc_js($confirmText)?>');"><?=__('Beenden', 'ls')?></a>
            </div>
        </div>
    </div>
</div>