<div class="col-sm-<?=$this->size?> textcenter">
    <div class="ls-box">
        <div class="ls-box-content">
            <img class="pech-func-img" src="<?=$this->imagesPath?>/add-user.png" alt="" />
            <h4><?=__('Neue Teilnehmer hinzufügen', 'ls')?></h4>
            <?=$this->render('details-add-participants-form.phtml')?>
        </div>
    </div>
</div>