<div class="col-sm-<?=$this->size?> textcenter">
    <div class="ls-box">
        <div class="ls-box-content">
            <img class="pech-func-img" src="<?=$this->imagesPath?>/notification.png" alt="" />
            <h4><?=__('Teilnehmer Anstupsen', 'ls')?></h4>
            <div class="pech-push">
                <div class="clearfix">
                    <select class="pech-select-push fullwidth">
                        <?=$this->pcpsList?>
                    </select>
                </div>
                <br />
                <div class="push-it-loading">&nbsp;</div>
                <button class="push-it normal-button large"><?=__('Anstupsen', 'ls')?></button>
            </div>
        </div>
    </div>
</div>