<?php if(!empty($this->leaderboard)) { ?>

    <div class="pech-leaderboard">
        <h3 class="dark-bg"><?=__('Challenge Bestenliste', 'ls')?></h3>
        <ul>
            <?php
            $prevRank = 0;

            /** @var PechTeamRank $lb */
            foreach($this->leaderboard as $pos => $lb) {

                if($pos > $prevRank + 1) {
                    echo '<li class="gap"></li>';
                }

                $prevRank = $pos;
                $isMyTeam = in_array($lb->getTeam()->getTeamId(), $this->myTeamsIds);
                ?>
                <li class="<?=$isMyTeam ? 'my' : ''?>">
                    <div class="rank">#<?=$pos + 1?></div>
                    <div class="clt">
                        <div class="team"><?=esc_html($lb->getTeam()->getTeamName())?></div>
                        <div class="desc"><?=$lb->getPoints()?> <?=__('Punkte', 'ls')?> / <?=$lb->getParticipants()?> <?=__('Teilnehmer', 'ls')?> = <strong><?=round($lb->getRank(), 1)?></strong> &empty;</div>
                        <?php if($isMyTeam) { ?>
                            <div class="my-team"><i class="icomoon-team"></i> <?=__('dein Team', 'ls')?></div>
                        <?php } ?>
                    </div>
                </li>
                <?php
            }
            ?>
        </ul>
    </div>

<?php } else {
    echo '<div class="pech no-results">' . __('Aktuell sind keine Teams aktiv.' , 'ls') . '</div>';
}