<?php if(empty($this->data)) { ?>
    <div class="pech no-results"><?=__('Aktuell ist keine Challenge aktiv. Du hast keine Einladungen erhalten oder versendet.', 'ls')?></div>
<?php } else { ?>
    <div class="pech-overview overview-blocks">
        <ul>
            <?php foreach($this->data as $challengeId => $record) { ?>
                <li>
                    <div class="pech-details overview-block clearfix <?=$record['class']?>-border">
                        <div class="icon">
                            <i class="<?=esc_attr($record['icon'] . ' ' . $record['class'] . '-color')?>"></i>
                        </div>
                        <div class="flex">
                            <div class="part part-40">
                                <label><?=__('Challenge', 'ls')?></label>
                                <div class="title"><?=$record['challengeName']?></div>
                            </div>
                            <div class="part part-80">
                                <label><?=__('Status', 'ls')?></label>
                                <div class="title"><?=$record['statusText']?></div>
                            </div>
                        </div>
                        <div class="button">
                            <a href="<?=esc_url($record['link'])?>" class="normal-button large <?=$record['class']?> inline"><?=__('Öffnen', 'ls')?></a>
                        </div>
                    </div>
                </li>
            <?php } ?>
        </ul>
    </div>
    <?php
}