<div id="fitcoPushContent" data-pcp-id="<?=$this->teamId?>" style="text-align: center; display: none;">
    <h3><?=ls_kses($this->message)?></h3>
    <br />
    <p>
        <a href="<?=add_query_arg(['action' => 'pech-push-cancel', 'id' => $this->teamId], $this->link) . '#pech/' . $this->teamId?>" class="button normal-button accept large mar"><?=__('Challenge öffnen', 'ls')?></a>
        <a href="javascript:void(0)" class="cancel-action button normal-button dark large reversed mar"><?=__('Vielleicht später', 'ls')?></a>
    </p>
</div>