<?php
/** @var LSCourse $course */
$course = $this->course;
?>

<div class="course-accept">

    <?php if(!$this->isLast) { ?>
        <div class="course-interval" data-min="<?=$course->getMinInterval()?>" data-max="<?=$course->getMaxInterval()?>" data-value="<?=$course->getDefaultInterval()?>">
            <label><?=__('When do you want to open access to the next post of this course (in days)?', 'ls')?></label>
            <?php if($course->getMaxInterval() > $course->getMinInterval()) { ?>
                <br />
                <div class="course-interval-inner">
                    <div class="course-interval-icon"></div>
                    <div class="course-interval-slider">
                        <input class="course-interval" type="hidden" value="<?=$course->getDefaultInterval()?>" />
                    </div>
                    <div class="course-interval-value"><?=$course->getDefaultInterval()?></div>
                </div>
            <?php } ?>
        </div>
    <?php } ?>

    <div class="course-link"><?=$this->link?></div>

</div>

<?php if(!$this->isLast) {
    $this->renderScript('/../../js/course-slider.js');
}