<?php
$courseData = $this->courseData;
if(!empty($courseData)) {

    /** @var LSCourse $course */
    $course = $courseData->course;
    ?>

    <div class="cl-course-cockpit">

        <div class="cl-progress no-print">
            <div class="cl-nm">
                <span class="cl-nm-1"><?=$courseData->lessonNumber?></span>
                <span class="cl-nm-2">/</span>
                <span class="cl-nm-3"><?=$courseData->lessonsCount?></span>
            </div>
            <div class="cl-ns"><?=__('Lessons', 'ls')?></div>
            <div class="cl-pr dark-bg">
                <div class="cl-prv" style="width: <?=$courseData->progress?>%;"></div>
            </div>
        </div>

        <label><?=__('Course', 'ls')?></label>
        <h2 class="cl-name"><?=$course->getCourseName()?></h2>
        <div class="cl-main-link"><a href="<?=esc_url($course->getCourseLink())?>">&#8617;&nbsp; <?=__('Back to course', 'ls')?></a></div>

        <?php
        $objective = $course->getCourseObjective();
        if(!empty($objective)) {
            ?>
            <label><?=__('Course objective', 'ls')?></label>
            <h3 class="cl-objective"><?=$objective?></h3>
        <?php } ?>

    </div>

    <?php
}