<?php if(empty($this->data)) { ?>
    <div class="course no-results"><?=__('You have not yet participated in the courses', 'ls')?></div>
<?php } else { ?>

    <div class="courses-overview overview-blocks">
        <ul>

            <?php
            foreach($this->data as $courseInfo) {

                /** @var LSCourse $course */
                $course = $courseInfo['course'];
                $link = get_permalink($course->getCoursePageId());

                if($courseInfo['ended']) { // ended

                    $text = __('You have successfully finished the course', 'ls');
                    $class = 'finished';

                } else {

                    /** @var LSConsumerCourseItem $lesson */
                    $lesson = $courseInfo['nextLesson'];

                    if($lesson && $lesson->isScheduled()) {
                        $text = sprintf(__('You will get access to the next post on %s', 'ls'), date_i18n(get_option('date_format'), $lesson->getScheduledDate()));
                        $class = 'done';
                    } elseif($lesson && $lesson->isAccessible()) {
                        $text = __('New lesson is awaiting you', 'ls');
                        $class = 'action';
                    } else {
                        $text = __('Next lesson will be available soon', 'ls');
                        $class = 'done';
                    }
                }
                ?>
                <li>
                    <div class="course-overview overview-block clearfix <?=$class?>-border">
                        <div class="icon">
                            <img src="<?=$this->imagesUrl?>/up-stairs.png" alt="" />
                        </div>
                        <div class="flex">
                            <div class="part part-60">
                                <label>Kurs</label>
                                <div class="title"><?=$course->getCourseName()?></div>
                            </div>
                            <div class="part part-80">
                                <label>Status</label>
                                <div class="title"><?=$text?></div>
                            </div>
                            <div class="part part-20 textcenter">
                                <label><?=__('Progress', 'ls')?></label>
                                <div class="title"><?=$courseInfo['lessonsRead'] . ' / ' . $courseInfo['lessonsTotal']?></div>
                            </div>
                        </div>
                        <?php if(!empty($link)) { ?>
                            <div class="button">
                                <a href="<?=esc_url($link)?>" class="button normal-button <?=$class?> inline large"><?=__('Details', 'ls')?></a>
                            </div>
                        <?php } ?>
                    </div>
                </li>
                <?php
            }
            ?>
        </ul>
    </div>

    <?php
}