<?php
/** @var LSCourse $course */
$course = $this->course;

/** @var false|LSConsumerCourseItem $courseNextLesson */
$courseNextLesson = $this->courseNextLesson;

ob_start();

if(!empty($course->getCourseObjective())) { ?>
    <div class="course-extra-block col-md-6">
        <h3><?=__('Course objective', 'ls')?></h3>
        <hr />
        <p><?=$course->getCourseObjective()?></p>
    </div>
    <?php
}

if(!empty($course->getTrainerName())) {
    $trainerImage = LS\Field\Image::getImageSrc($course->getTrainerImage());
    $trainerImage = empty($trainerImage) ? $this->url . 'images/person.png' : $trainerImage;
    ?>
    <div class="course-extra-block col-md-6">
        <h3><?=__('Trainer', 'ls')?></h3>
        <hr />
        <div class="course-trainer clearfix">
            <img src="<?=esc_url($trainerImage)?>" alt="">
            <div>
                <h3><?=$course->getTrainerName()?></h3>
                <div><?=$course->getTrainerOccupation()?></div>
            </div>
        </div>
    </div>
    <?php
}

if(!empty($course->getCourseTargetGroup())) { ?>
    <div class="course-extra-block col-md-6">
        <h3><?=__('Course group', 'ls')?></h3>
        <hr />
        <p><?=$course->getCourseTargetGroup()?></p>
    </div>
<?php } ?>

<div class="course-extra-block col-md-6">
    <h3><?=__('Course status', 'ls')?></h3>
    <hr />
    <?php if(!$this->courseStarted) { ?>
        <p><strong><?=__('Course not started', 'ls')?>.</strong><br /><?=__('Wants to start participation in the course?', 'ls')?></p>
        <p><a href="<?=esc_url(add_query_arg(['action' => 'course-start', 'id' => $course->getCourseId()]))?>" class="button normal-button large inline"><?=__('Yes, start course', 'ls')?></a></p>
    <?php } elseif($this->courseEnded) { ?>
        <p><strong><?=__('Course ended', 'ls')?>.</strong><br /><?=__('Wants to restart participation in the course?', 'ls')?></p>
        <p><a href="<?=esc_url(add_query_arg(['action' => 'course-restart', 'courseId' => $course->getCourseId()]))?>" class="button normal-button large inline" onclick="return confirm('<?=esc_js(__('Please confirm that you really wants to restart participation in the course.', 'ls'))?>');"><?=__('Restart', 'ls')?></a></p>
    <?php } else { // Course started ?>
        <p><strong><?=__('Course started', 'ls')?>.</strong><br /><?=__('Wants to stop participation in the course?', 'ls')?></p>
        <p><a href="<?=esc_url(add_query_arg(['action' => 'course-stop', 'courseId' => $course->getCourseId()]))?>" class="button normal-button large reversed danger inline" onclick="return confirm('<?=esc_js(__('Please confirm that you really wants to stop participation in the course.', 'ls'))?>');"><?=__('Stop', 'ls')?></a></p>
    <?php } ?>
</div>

<?php
$infoBlock = ob_get_clean();
?>

<div class="course-info clearfix">

    <?php if($this->courseEnded) { ?>
        <div class="course-items-before">
            <div class="course-ended">
                <h3><?=__('Well done! You have successfully completed the course.<br />Stay tuned and check what you\'ve learned.', 'ls')?></h3>
            </div>
        </div>
    <?php } ?>

    <?php if($this->courseStarted) { ?>

        <div class="course-tabs tabs-wrapper">
            <ul class="tabs align-center"><?php
                ?><li class="active"><a class="active" href="#course-cockpit"><?=__('Cockpit', 'ls')?></a></li><?php
                ?><li<?=$this->courseStarted ? '' : ' class="active"'?>><a href="#course-extras"><?=__('Details', 'ls')?></a></li><?php
            ?></ul>

            <ul class="tabs-content">
                <li id="course-cockpit" class="active">
                    <div class="row">

                        <?php
                        $trainerName = $course->getTrainerName();
                        if(!empty($trainerName)) {
                            ?>
                            <div class="col-md-4 col-sm-4 col-xs-6 course-cp-item">
                                <?php
                                $trainerImage = \LS\Field\Image::getImageSrc($course->getTrainerImage());
                                $trainerImage = empty($trainerImage) ? $this->url . 'images/person.png' : $trainerImage;
                                ?>
                                <div class="course-cp-trainer-image"><img src="<?=esc_url($trainerImage)?>" alt=""></div>
                                <div>
                                    <h3><?=$trainerName?></h3>
                                    <div class="pdi-label"><?=__('Trainer', 'ls')?></div>
                                </div>
                            </div>
                            <?php
                        }
                        ?>

                        <div class="col-md-4 col-sm-4 col-xs-6 course-cp-item">
                            <div><img src="<?=$this->url?>images/lessons.png" alt=""></div>
                            <div>
                                <h3><span class="course-progress-num"><?=$this->latestReadLessonNumber?></span><span class="course-psp">/</span><span class="course-ttl"><?=$this->courseLessonsCount?></span><span class="course-lbl"><?=__('Lessons', 'ls')?></span></h3>
                                <div class="pdi-label"><?=__('Progress', 'ls')?></div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-6 course-cp-item">
                            <div><img src="<?=$this->url?>images/duration.png" alt=""></div>
                            <div>
                                <h3><?=($courseNextLesson ? ($courseNextLesson->isScheduled() ? date('d.m.Y', $courseNextLesson->getScheduledDate()) : __('Now!', 'ls')) : '&#10006;')?></h3>
                                <div class="pdi-label"><?=__('Next lesson', 'ls')?></div>
                            </div>
                        </div>

                    </div>
                </li>
                <li id="course-extras" class="course-extra-info">
                    <?=$infoBlock?>
                </li>
            </ul>

        </div>

    <?php } else { ?>
        <div class="course-extra-info clearfix">
            <?=$infoBlock?>
        </div>
    <?php } ?>

    <?php if($this->courseStarted) { ?>
        <ul class="course-items">
            <?php
            /** @var LSConsumerCourseItem $item */
            foreach($this->consumerCourse as $i => $item) {
                $p = get_post($item->getPostId());
                $imageLink = get_the_post_thumbnail($p, 'medium');
                $link = \LS\Library::isAdminPreview() ? add_query_arg('preview', '', get_permalink($p)) : get_permalink($p);
                $classes = $item->isAccessible() ? 'accessible ' . ($item->isRead() ? 'read' : 'unread') : ($item->isScheduled() ? 'soon' : 'unavailable');
                ?>

                <li class="course-item <?=$classes?>">
                    <div class="course-num">
                        <?=($i + 1)?>
                        <?php if($item->isRead()) { echo '&#10004;'; } ?>
                    </div>
                    <?=$imageLink?>
                    <div class="course-details">
                        <h3 class="course-title<?=empty($imageLink) ? ' no-image' : ''?>"><?=esc_html($p->post_title)?></h3>
                        <div class="course-desc"><?=$p->post_excerpt?></div>
                        <?php
                        if($item->isAccessible() && $item->isRead()) {
                            echo '<div class="course-status ' . $classes . '"><a href="' . $link . '" class="button normal-button large done inline">' . __('Open lesson again', 'ls') . '</a></div>';
                        } elseif($item->isAccessible()) {
                            echo '<div class="course-status ' . $classes . '"><a href="' . $link . '" class="button normal-button large action inline">' . __('Open lesson', 'ls') . '</a></div>';
                        } elseif($item->isScheduled()) {
                            echo '<div class="course-status ' . $classes . '">' . sprintf(__('Will be accessible on <strong>%s</strong>', 'ls'), date('d.m.Y', $item->getScheduledDate() + TIMEZONE_DIFF)) . '</div>';
                        } else {
                            echo '<div class="course-status ' . $classes . '">' . __('Not available for now', 'ls') . '</div>';
                        }
                        ?>
                    </div>
                </li>

            <?php } ?>
        </ul>
    <?php } ?>

</div>