<div class="ls-course-progress-bar<?=empty($this->class) ? '' : ' ' . esc_attr($this->class)?>">
    <div class="ls-course-progress-bar-line">
        <div style="width:<?=($this->progress > 0 ? max(5, $this->progress) : 0)?>%;" class="ls-course-progress"></div>
    </div>
    <div class="ls-course-progress-bar-value"><?=$this->progress?>%</div>
</div>