<?php
/** @var string $name */
$name = $this->name;

/** @var string $urlToModule */
$urlToModule = $this->urlToModule;

/** @var string $todoText */
$todoText = $this->todoText;

/** @var string $buttons */
$buttons = $this->buttons;

/** @var WP_Post $post */
$post = $this->post;

/** @var bool $external */
$external = $this->external;
?>
<div class="task-box textcenter clearfix" data-name="<?=esc_attr($name)?>" data-nonce="<?=esc_attr(wp_create_nonce($name))?>">
    <div class="task-box-header">
        <img src="<?=$urlToModule . '/images/tu-was-weiss.png'?>" class="task-box-image" alt="" />
        <h3 class="task-box-title"><?=__('Umsetzungstipp', 'ls')?></h3>
    </div>
    <div class="task-box-body">

        <?php
        if(!empty($todoText)) {
            echo '<div class="task-box-tdw">' . $todoText . '</div>';
        }

        echo $buttons;

        if($external) {
            echo '<a href="' . esc_url(get_permalink($post)) . '" class="tdw-post-link">zum Gesundheitstipp <i class="icomoon-arrow-right"></i></a>';
        } ?>

    </div>
</div>