<?php
/** @var string $name */
$name = $this->name;

/** @var int $status */
$status = $this->status;
?>
<div class="task-box-buttons" data-name="<?=esc_attr($name)?>" data-nonce="<?=esc_attr(wp_create_nonce($name))?>"><?php
?><span><a href="#" class="normal-button task-box-btn large yellowgreen yes<?=$status == tippDerWocheLoyaltySuite::OPTION_YES ? ' selected' : ''?>" data-option="yes"><?=__('Ja', 'ls')?></a><?php
?><a href="#" class="normal-button task-box-btn large orange maybe<?=$status == tippDerWocheLoyaltySuite::OPTION_MAYBE ? ' selected' : ''?>" data-option="maybe"><?=__('Vielleicht', 'ls')?></a><?php
?><a href="#" class="normal-button task-box-btn large red no<?=$status == tippDerWocheLoyaltySuite::OPTION_NO ? ' selected' : ''?>" data-option="no"><?=__('Nein', 'ls')?></a></span><?php
?></div>
<?php
$this->renderScript('../../js/task-box.js');