<?php
/** @var bool $tdwEmailEnabled */
$tdwEmailEnabled = $this->tdwEmailEnabled;
?>

<form class="tdw-form" method="post" autocomplete="off">
    <div class="cell clearfix">
        <label class="checkbox-switcher">
            <input id="pushEmailEnable" type="checkbox" <?php checked($tdwEmailEnabled); ?> />
            <div class="sld"></div>
        </label>
        <label for="pushEmailEnable" class="txt checkbox-switcher-label"><?=__('Wöchentliche PUSH E-Mail erhalten', 'ls')?></label>
    </div>
</form>

<?php
$this->renderScript('../../js/tdw-form.js');