/* Groups table */
.wp_ls_acm_groups .column-groupId,
.wp_ls_acm_groups .column-details {
    width: 100px;
}

.wp_ls_acm_groups .column-codes,
.wp_ls_acm_groups .column-consumers {
    width: 120px;
    text-align: center;
}

.wp_ls_acm_groups .column-codes a,
.wp_ls_acm_groups td.column-consumers a {
    background-color: #e4f8ff;
    border-radius: 100%;
    display: inline-block;
    min-width: 20px;
    padding: 5px;
    margin-right: 20px;
}

.wp_ls_acm_groups .column-active {
    width: 100px;
}

.wp_ls_acm_groups .column-name {
    color: #777;
}

.wp_ls_acm_groups .column-name strong {
    color: #333;
}

/* Codes table */
.wp_ls_acm_codes .column-codeId {
    width: 60px;
}

.wp_ls_acm_codes td.column-code {
    font-weight: 600;
}

.wp_ls_acm_codes .column-note {
    min-width: 250px;
}

.wp_ls_acm_codes .column-note .disket {
    background: url(../images/diskette.png) no-repeat center top;
    width: 14px;
    height: 14px;
    display: inline-block;
    padding-left: 8px;
}

.wp_ls_acm_codes .acm-code-desc {
    color: #555;
    text-decoration: underline;
}

.wp_ls_acm_codes .acm-code-edit a span {
    vertical-align: middle;
}

.wp_ls_acm_codes .column-createDate,
.wp_ls_acm_codes .column-startDate,
.wp_ls_acm_codes .column-endDate,
.wp_ls_acm_codes .column-active {
    width: 110px;
}

.wp_ls_acm_codes .column-limit,
.wp_ls_acm_codes .column-used {
    width: 80px;
}

.wp_ls_acm_codes td.column-used a {
    background-color: #e4f8ff;
    border-radius: 100%;
    display: inline-block;
    min-width: 20px;
    padding: 5px;
    margin-right: 30px;
    text-align: center;
}

.wp_ls_acm_codes .column-details {
    width: 80px;
}

/* Consumer overview */
td.column-acmGroupId,
td.column-acmCode {
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 20px;
}

/* New/edit group */
.acm-group-fields textarea {
    height: 80px;
}

.wp_ls_acm_posts .column-remove,
.wp_ls_acm_terms .column-remove,
.wp_ls_acm_posts .column-postId,
.wp_ls_acm_terms .column-termId {
    width: 100px;
}

.acm-exclusive-field,
.acm-exclusive-btn {
    float: left;
}

.acm-exclusive-field {
    margin-right: 5px;
    width: 400px;
}

/* Content access meta box */
.acm-box-list {
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    max-height: 200px;
    min-height: 42px;
    overflow: auto;
    padding: 5px;
}

.acm-box-list > li {
    line-height: 22px;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

.acm-secure-link label {
    width: auto;
}

.acm-secure-link textarea {
    width: 100%;
}

/* Consumer codes */
.ls-acm-codes-table .acm-code,
.ls-acm-groups-table .acm-group {
    width: 250px;
    font-weight: 600;
}

.ls-acm-codes-table .acm-entered,
.ls-acm-codes-table .acm-remove,
.ls-acm-groups-table .acm-remove {
    width: 90px;
}

.ls-acm-codes-table .ls-consumer-spinner {
    display: inline-block;
}

.ls-acm-codes-table tr.expired td,
.ls-acm-codes-table tr.expired td a,
.ls-acm-groups-table tr.expired td,
.ls-acm-groups-table tr.expired td a {
    color: red;
}

/* Activity block */
#acmActivitiesMultipleSelect {
    width: 300px;
}

.acm-activity canvas {
    margin: 10px 0;
}

.acm-activity .canvas-container {
    min-height: 100px;
}

.acm-activity .loading {
    margin: 25px 0 0;
    padding: 1px 26px;
}

/* Categories/tags view */
.wp-list-table.tags .ms-drop {
    position: static;
}