.wp_ls_bps .column-transactionId,
.wp_ls_bps .column-ident,
.wp_ls_bps .column-points {
    width: 100px;
}

.wp_ls_bps .column-SKU {
    width: 140px;
}

.wp_ls_bps th.column-points a {
    display: inline-block;
    text-align: right;
    float: right;
}

.wp_ls_bps td.column-points {
    font-weight: 700;
    text-align: right;
    padding-right: 25px;
}

.wp_ls_bps .column-points .red {
    color: #de4512;
}

.wp_ls_bps .column-points .green {
    color: #a7c711;
}

.wp_ls_bp_import_logs .column-importId,
.wp_ls_bps .column-createDate,
.wp_ls_bps .column-agingDate {
    width: 100px;
}

.wp_ls_bp_import_logs .column-status {
    width: 120px;
}

.wp_ls_bp_import_logs .column-importDate {
    width: 12%;
    max-width: 180px;
}

.wp_ls_bp_import_logs .column-recordsProcessed,
.wp_ls_bp_import_logs .column-pointsTransferred,
.wp_ls_bp_import_logs .column-associatedWithConsumers {
    width: 180px;
}

.ls-bp-consumer-table,
.ls-bp-total-points {
    max-width: 800px;
}

.ls-bp-consumer-table .total {
    text-align: right;
}

.ls-bp-consumer-table .column-points {
    width: 80px;
}

.ls-bp-consumer-table .column-createDate {
    width: 120px;
}

.ls-bp-total-points {
    margin-bottom: 20px;
}

.ls-bp-total-points a {
    float: right;
}

.ls-bp-total-points span {
    display: inline-block;
    padding: 0 5px;
    background: #fff;
    border-radius: 5px;
}

.wpps form.bp-import .row label {
    width: 200px;
}

.ls-bp-import-table tr.main th {
    font-weight: 600;
}

.bp-import .error-box {
    color: red;
    font-size: 13px;
}

.wp_ls_bonus_triggers .column-triggerId,
.wp_ls_bonus_triggers .column-points,
.wp_ls_bonus_triggers .column-active {
    width: 90px;
}

.wp_ls_bonus_triggers .column-edit {
    width: 120px;
}

.wp_ls_consumers_overviews .column-bpBalance {
    width: 90px;
}