<?php
/** @var array[] $groups */
$groups = $this->groupsList;

/** @var int[] $groupIds */
$groupIds = $this->postGroupsIds;

/** @var string $secureURL */
$secureURL = $this->secureURL;

/** @var string $nonce */
$nonce = $this->nonce;
?>

<div class="ls-acm-box">

    <input type="hidden" name="acm_box_nonce" value="<?=$nonce?>"/>

    <?php if (!empty($groups)) { ?>

        <h4><?=__('Protected article with the CA-Group:', 'ls')?></h4>

        <?php
        $selectize = new \LS\Field\Selectize('acm_group_id', '', $groups, [], $groupIds);
        $selectize->render();
        ?>

    <?php } ?>

    <?php if (!empty($secureURL)) { ?>
        <div class="acm-secure-link">
            <h4><?=__('Secure link to this article:', 'ls')?></h4>
            <textarea readonly="readonly"><?=esc_url($secureURL)?></textarea>
        </div>
    <?php } ?>

</div>