<form id="acmSettingsForm" method="post" autocomplete="off">

    <div class="ls-sub-tabs tabs">
        <ul>
            <li class="ls-tab"><a href="#ls-settings/pa-tab"><?=__('Portal access', 'ls')?></a></li>
            <li class="ls-tab"><a href="#ls-settings/ca-tab"><?=__('Content access', 'ls')?></a></li>
            <li class="ls-tab"><a href="#ls-settings/messages-tab"><?=__('Messages', 'ls')?></a></li>
            <li class="ls-tab"><a href="#ls-settings/other-tab"><?=__('Other', 'ls')?></a></li>
        </ul>

        <div id="pa-tab" class="hide ls-tab-content">
            <table class="form-table">
                <tr>
                    <th scope="row" colspan="2">
                        <label for="acRequired"><input type="checkbox" id="acRequired" name="acRequired"<?php checked((bool) $this->options['acRequired']); ?> /> <?=__('Access Code required', 'ls')?></label>
                        <div class="chk-sub-label"><?=__('Consumer must have at least one active Access Code to enter website.', 'ls')?></div>
                    </th>
                </tr>
            </table>
        </div>

        <div id="ca-tab" class="hide ls-tab-content">
            <table class="form-table">
                <tr>
                    <th scope="row"><label for="redirectConsumer"><?=__('If no access redirect consumer to', 'ls')?></label></th>
                    <td>
                        <div>
                            <select id="redirectConsumer" name="redirectConsumer" onchange="jQuery('#redirectConsumerPage').setVisible(jQuery(this).val() === 'custom');">
                                <option value="consumersLogin" <?php selected('consumersLogin', $this->options['redirectConsumer']); ?>><?=__('Consumers Login page', 'ls')?></option>
                                <option value="custom" <?php selected('custom', $this->options['redirectConsumer']); ?>><?=__('Custom page', 'ls')?>...</option>
                            </select>
                            <span class="ls-note"><?=__('please note that consumer is already authorized and tries to open page without access to it.', 'ls')?></span>
                        </div>
                        <?=(new LS\PostPicker())->content([
                            'name'   => 'redirectConsumerPage',
                            'id'     => 'redirectConsumerPage',
                            'return' => 'id',
                            'class'  => 'regular-text' . ($this->options['redirectConsumer'] == 'custom' ? '' : ' hide'),
                            'value'  => isset($this->options['redirectConsumerPage']) ? (int) $this->options['redirectConsumerPage'] : 0
                        ])?>
                    </td>
                </tr>
            </table>
        </div>

        <div id="messages-tab" class="hide ls-tab-content">
            <h3><?=__('Access Code failure messages', 'ls')?></h3>
            <table class="form-table">
                <tr>
                    <th scope="row"><label for="wrongCodeErrorMsg"><?=__('Wrong Access Code', 'ls')?></label></th>
                    <td><input type="text" id="wrongCodeErrorMsg" name="wrongCodeErrorMsg" value="<?=esc_html($this->options['wrongCodeErrorMsg'])?>" style="width: 500px;"/></td>
                </tr>
                <tr>
                    <th scope="row"><label for="inactiveCodeErrorMsg"><?=__('Inactive Access Code', 'ls')?></label></th>
                    <td><input type="text" id="inactiveCodeErrorMsg" name="inactiveCodeErrorMsg" value="<?=esc_html($this->options['inactiveCodeErrorMsg'])?>" style="width: 500px;"/></td>
                </tr>
                <tr>
                    <th scope="row"><label for="codeUsedErrorMsg"><?=__('Access Code has been used', 'ls')?></label></th>
                    <td><input type="text" id="codeUsedErrorMsg" name="codeUsedErrorMsg" value="<?=esc_html($this->options['codeUsedErrorMsg'])?>" style="width: 500px;"/></td>
                </tr>
                <tr>
                    <th scope="row"><label for="codeNotStartedErrorMsg"><?=__('Access Code campaign is not started', 'ls')?></label></th>
                    <td><input type="text" id="codeNotStartedErrorMsg" name="codeNotStartedErrorMsg" value="<?=esc_html($this->options['codeNotStartedErrorMsg'])?>" style="width: 500px;"/></td>
                </tr>
                <tr>
                    <th scope="row"><label for="codeIsEndedErrorMsg"><?=__('Access Code is out of date (ended)', 'ls')?></label></th>
                    <td><input type="text" id="codeIsEndedErrorMsg" name="codeIsEndedErrorMsg" value="<?=esc_html($this->options['codeIsEndedErrorMsg'])?>" style="width: 500px;"/></td>
                </tr>
                <tr>
                    <th scope="row"><label for="noAccessErrorMsg"><?=__('Access to restricted page', 'ls')?></label></th>
                    <td><input type="text" id="noAccessErrorMsg" name="noAccessErrorMsg" value="<?=esc_html($this->options['noAccessErrorMsg'])?>" style="width: 500px;"/></td>
                </tr>
                <tr>
                    <th scope="row"><label for="wrongCodePatternErrorMsg"><?=__('Wrong email pattern', 'ls')?></label></th>
                    <td><input type="text" id="wrongCodePatternErrorMsg" name="wrongCodePatternErrorMsg" value="<?=esc_html($this->options['wrongCodePatternErrorMsg'])?>" style="width: 500px;"/></td>
                </tr>
            </table>

            <br/>
            <h3><?=__('Private Area', 'ls')?></h3>
            <table class="form-table">
                <tr>
                    <th scope="row"><label for="privateAreaMessage"><?=__('Private Area message', 'ls')?></label></th>
                    <td>
                        <div style="width:50%;">
                            <?php
                            wp_editor($this->options['privateAreaMessage'], 'privateAreaMessage', [
                                'textarea_name' => 'privateAreaMessage',
                                'editor_height' => 200,
                                'wpautop'       => 0
                            ]);
                            ?>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div id="other-tab" class="hide ls-tab-content">
            <table class="form-table">
                <tr>
                    <th scope="row" colspan="2">
                        <label for="deactivationCheck"><input type="checkbox" id="deactivationCheck" name="deactivationCheck"<?php checked((bool) $this->options['deactivationCheck']); ?> /> <?=__('Automatic consumers deactivation', 'ls')?></label>
                        <div class="chk-sub-label"><?=__('Automatically deactivate consumers with invalid/ended Access Codes.', 'ls')?></div>
                    </th>
                </tr>
            </table>
        </div>
    </div>

    <p class="submit">
        <input type="hidden" name="action" value="save-acm-settings"/>
        <input type="submit" name="submit" value="<?=__('Save', 'ls')?>" class="button-primary"/>
    </p>

</form>