<?php
/** @var ACMCode $code */
$code = $this->code;

/** @var LS\FieldAbstract[] $form */
$form = $this->codeStructure;

/** @var int[] $codeGroupIds */
$codeGroupIds = $this->codeGroupIds;

$isAdd = $code->getCodeId() == 0;
?>

<form class="acm-code-fields" method="post" autocomplete="off">

    <h3 class="line"><?=__('Access Code details', 'ls')?></h3>

    <?php
    foreach ($form as $fieldName => $field) {

        if (in_array($fieldName, ['groupIds', 'hasEP', 'emailPattern', 'drcActive', 'drcDays'])) {
            continue;
        }

        $field->setValue($code->get($fieldName));
        ?>
        <div class="row">
            <?php
            if ($fieldName == 'codeId') {
                echo '<label>ID</label>' . $field->getDisplayValue();
            } else {
                $field->render();
            }

            if (!$isAdd && $fieldName == 'endDate') {
                echo ' <a href="' . admin_url('admin.php?page=acmLoyaltySuite&view=acm-prolong-codes-3&codes=' . $code->getCodeId() . '&endDate=' . date('Y-m-d', $code->getEndDate()) . '&referer=' . urlencode($_SERVER['REQUEST_URI'])) . '" class="button">' . __('Prolongation', 'ls') . '</a>';
            }
            ?>
        </div>
        <?php
    }
    ?>

    <br/>
    <h3 class="line"><?=__('CA-Group', 'ls')?></h3>

    <div class="row">
        <?php
        $field = $form['groupIds'];
        $field->setValue($codeGroupIds)->render();
        ?>
    </div>

    <br/>
    <h3 class="line"><?=__('Email structure', 'ls')?></h3>

    <div class="row">
        <?php
        $field = $form['hasEP'];
        $field->setValue($code->isEmailPatternActive())->render();
        ?>
    </div>

    <div class="row">
        <?php
        $field = $form['emailPattern'];
        $field->setValue($code->getEmailPattern())->render();
        ?>
        <p><i style="color: #777;"><?=__('Use symbol * to indicate dynamic part of the email. Sample: *@gmail.com. Use comma to enter a multiple email patterns.', 'ls')?></i></p>
    </div>

    <br/>
    <h3 class="line"><?=__('Delete inactive consumers', 'ls')?></h3>

    <div class="row">
        <?php
        $field = $form['drcActive'];
        $field->setValue($code->isDRCActive())->render();
        ?>
    </div>

    <div class="row">
        <?php
        $field = $form['drcDays'];
        $field->setValue($code->getDRCDays())->render();
        ?>
    </div>

    <div class="submit">
        <?php if ($isAdd) { ?>
            <input type="hidden" name="referer" value="<?=LS\Library::getReferer()?>"/>
            <input type="hidden" name="action" value="acm-new-code"/>
            <input type="submit" class="button-primary" name="submit" value="<?=__('Create', 'ls')?>"/>
        <?php } else { ?>
            <input type="hidden" name="view" value="code-details"/>
            <input type="hidden" name="action" value="acm-update-code"/>
            <input type="hidden" name="codeId" value="<?=$code->getCodeId()?>"/>
            <input type="submit" class="button-primary" name="submit" value="<?=__('Save', 'ls')?>"/>
        <?php } ?>
    </div>

</form>