<?php
/** @var ACMGroup $group */
$group = $this->group;

/** @var WP_Term[] $terms */
$terms = $this->terms;

$taxonomies = [];
$taxonomyTerms = [];

foreach ($terms as $term) {

    if (!in_array($term->taxonomy, $taxonomies)) {
        $taxonomies[] = $term->taxonomy;
        $taxonomyTerms[$term->taxonomy] = [];
    }

    $taxonomyTerms[$term->taxonomy][] = $term;
}

foreach ($taxonomies as $taxonomyName) {
    $taxonomy = get_taxonomy($taxonomyName);
    if($taxonomy) {
        echo '<div class="objects-block">';
        echo '<h4 class="line">' . $taxonomy->label . '</h4>';
        $table = new acmTermsTable($group->getGroupId(), $taxonomyTerms[$taxonomyName]);
        $table->prepare_items();
        $table->display();
        echo '</div>';
    }
}
?>

<p><?=__('To add a term to the group you have to open a page to manage taxonomy items (e.g. Categories page).')?></p>