<?php
/** @var $acmGroupsTable acmGroupsTable */
$acmGroupsTable = $this->groupsTable;
$acmGroupsTable->referer = $_SERVER['REQUEST_URI'] . '#ls-groups';
$acmGroupsTable->prepare_items();
?>

<form method="get" autocomplete="off">
    <input type="hidden" name="page" value="acmLoyaltySuite" />
    <input type="hidden" name="table" value="acmGroupsTable" />
    <?php $acmGroupsTable->filter_box(); ?>
    <br />
    <?php $acmGroupsTable->search_box(__('Search groups', 'ls'), 'acm-groups'); ?>
    <?php if(current_user_can('ls_acm_manage')) { ?>
        <a class="add-new-h2" href="<?=admin_url('admin.php?page=acmLoyaltySuite&view=acm-new-group&referer=' . urlencode($acmGroupsTable->referer))?>"><?=__('New CA-Group', 'ls')?></a>
    <?php } ?>
    <?php $acmGroupsTable->display(); ?>
</form>