<form action="" method="post" class="prolongation-codes" autocomplete="off">

    <h3 class="line">1. <?=__('Company', 'ls')?></h3>

    <div class="row">
        <?php (new LS\Field\Select('companyId', __('Company', 'ls'), LSCompaniesHelper::getCompaniesList(false, true), $this->companyId))->render(); ?>
    </div>

    <br />

    <input type="hidden" name="action" value="acm-prolong-codes-1" />
    <input type="hidden" name="referer" value="<?=LS\Library::getReferer()?>" />
    <input type="submit" class="button-primary" name="submit" value="<?=__('Next', 'ls')?>" />

</form>