<?php $key = 'acm'; ?>
<div class="row clearfix fw rcpACMGroups rcp-multiple">
    <label for="rcpACMGroups"><input type="radio" id="rcpACMGroups" name="recipients" value="<?=$key?>"<?php checked($this->selected == $key); ?> /> <?=__('Consumers with specific CA-Group:', 'ls')?></label>
    <div>
        <select id="rcpACMSelect" multiple="multiple">
            <?php
            $identIds = wp_parse_id_list($this->ident);
            foreach ($this->groupsList as $groupId => $groupName) { ?>
                <option value="<?=$groupId?>"<?php selected($this->selected == $key && in_array($groupId, $identIds)); ?>><?=$groupName?></option>
            <?php } ?>
        </select>
        <input id="rcpACMValue" type="hidden" name="recipientsIdent" value="<?=esc_attr($this->ident)?>"/>
    </div>
</div>