<?php
$manager = current_user_can('ls_acm_manage');
?>

    <h3 class="headline"><?=__('Access Code list', 'ls')?></h3>

<?php if (!empty($this->consumerCodes)) { ?>

    <?php
    $ccList = [];
    ?>

    <table class="wp-list-table widefat fixed ls-acm-codes-table">
        <thead>
        <tr>
            <th class="acm-code"><?=__('Name', 'ls')?></th>
            <th class="acm-entered"><?=__('Enter Date', 'ls')?></th>
            <th class="acm-endDate"><?=__('End date', 'ls')?></th>
            <th class="acm-remove">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <?php
        $k = 0;

        /** @var ACMConsumerCodeConnection $cc */
        foreach ($this->consumerConnections as $cc) {

            $code = false;

            /** @var ACMCode $cd */
            foreach ($this->consumerCodes as $cd) {
                if ($cd->getCodeId() === $cc->getCodeId()) {
                    $code = $cd;
                    break;
                }
            }

            $ccList[$cc->getId()] = $code->getCode();

            $class = [];

            if ($k++ % 2 === 0) {
                $class[] = 'alternate';
            }

            if ($cc->isExpired() || !$code || !$code->isActual()) {
                $class[] = 'expired';
            }
            ?>
            <tr<?=empty($class) ? '' : ' class="' . implode(' ', $class) . '"'?>>
                <td class="acm-code"><?=$code ? ($manager ? '<a href="' . acmAdminLoyaltySuite::codeEditLink($cc->getCodeId()) . '">' . esc_html($code->getCode()) . '</a>' : esc_html($code->getCode())) : '—'?></td>
                <td class="acm-entered"><?=date('d.m.Y', $cc->getEnterDate() + TIMEZONE_DIFF)?></td>
                <td class="acm-endDate"><?=date('d.m.Y', $cc->getEndDate() + TIMEZONE_DIFF)?></td>
                <?php if ($manager) { ?>
                    <td class="acm-remove"><a href="<?=admin_url('admin.php?page=acmLoyaltySuite&action=acm-remove-connection&ccId=' . $cc->getId() . '&referer=' . urlencode($_SERVER['REQUEST_URI']) . '#acm')?>" class="button" onclick="return confirm('<?=esc_js(__('Are you sure?', 'ls'))?>');"><?=__('Remove', 'ls')?></a></td>
                <?php } ?>
            </tr>
        <?php } ?>
        </tbody>
    </table>

    <?php if ($manager) { ?>

        <br/>
        <h3 class="headline"><?=__('Prolong Access Code', 'ls')?></h3>

        <form method="post" autocomplete="off">

            <div class="row">
                <?php (new LS\Field\Select('ccId', __('Portal access', 'ls'), $ccList, ['showEmpty' => false], array_keys($ccList)[0]))->render(); ?>
            </div>

            <div class="row">
                <?php (new LS\Field\Date('endDate', __('End date', 'ls')))->render(); ?>
            </div>

            <input type="hidden" name="page" value="acmLoyaltySuite"/>
            <input type="hidden" name="action" value="acm-prolong"/>
            <input type="hidden" name="referer" value="<?=$_SERVER['REQUEST_URI']?>"/>
            <input type="submit" class="button" value="<?=__('Create', 'ls')?>"/>
        </form>

    <?php } ?>


<?php } else { ?>
    <p><?=__('No Access Codes', 'ls')?></p>
<?php } ?>

<?php if ($manager) { ?>

    <br/>
    <h3 class="headline"><?=__('Connect Access Code to consumer', 'ls')?></h3>

    <form method="post" autocomplete="off">
        <input type="hidden" name="page" value="acmLoyaltySuite"/>
        <input type="hidden" name="action" value="acm-create-connection"/>
        <input type="hidden" name="consumerId" value="<?=$this->consumerId?>"/>
        <input type="hidden" name="referer" value="<?=$_SERVER['REQUEST_URI']?>"/>
        <input type="text" maxlength="99" name="code" placeholder="<?=__('Enter Access Code here', 'ls')?>" style="width: 250px;"/>
        <input type="submit" class="button" value="<?=__('Connect', 'ls')?>"/>
    </form>

<?php } ?>

    <br/>
    <h3 class="headline"><?=__('Content access', 'ls')?></h3>

<?php if (!empty($this->consumerGroupsConnections)) { ?>

    <table class="wp-list-table widefat fixed ls-acm-groups-table">
        <thead>
        <tr>
            <th class="acm-group"><?=__('Name', 'ls')?></th>
            <th class="acm-entered"><?=__('Enter Date', 'ls')?></th>
            <th class="acm-remove">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <?php
        $k = 0;

        /** @var ACMConsumerGroupConnection $cg */
        foreach ($this->consumerGroupsConnections as $cg) {

            $group = false;

            /** @var ACMGroup $consumerGroup */
            foreach ($this->consumerGroups as $consumerGroup) {
                if ($cg->getGroupId() === $consumerGroup->getGroupId()) {
                    $group = $consumerGroup;
                    break;
                }
            }

            $class = [];

            if ($k++ % 2 === 0) {
                $class[] = 'alternate';
            }

            if ($group && !$group->isActive()) {
                $class[] = 'expired';
            }

            $groupLink = $group ? ($manager ? '<a href="' . acmAdminLoyaltySuite::contentAccessEditLink($group->getGroupId()) . '">' . $group->getName() . '</a>' : $group->getName()) : '—';
            ?>
            <tr<?=empty($class) ? '' : ' class="' . implode(' ', $class) . '"'?>>
                <td class="acm-group"><?=$groupLink?></td>
                <td class="acm-entered"><?=date('d.m.Y', $cg->getGroupEnterDate() + TIMEZONE_DIFF)?></td>
                <?php if ($manager) { ?>
                    <td class="acm-remove"><a href="<?=admin_url('admin.php?page=acmLoyaltySuite&action=acm-remove-group-connection&consumerId=' . $this->consumerId . '&groupId=' . $cg->getGroupId() . '&referer=' . urlencode($_SERVER['REQUEST_URI']) . '#acm')?>" class="button" onclick="return confirm('<?=esc_js(__('Are you sure?', 'ls'))?>');"><?=__('Remove', 'ls')?></a></td>
                <?php } ?>
            </tr>
        <?php } ?>
        </tbody>
    </table>

<?php } else { ?>
    <p><?=__('No CA-Groups', 'ls')?></p>
<?php } ?>

<?php if ($manager) { ?>
    <?php if (!empty($this->groupsList)) { ?>

        <br/>
        <h3 class="headline"><?=__('Connect CA-Group to consumer', 'ls')?></h3>

        <form method="post" autocomplete="off">
            <input type="hidden" name="page" value="acmLoyaltySuite"/>
            <input type="hidden" name="action" value="acm-create-group-connection"/>
            <input type="hidden" name="consumerId" value="<?=$this->consumerId?>"/>
            <input type="hidden" name="referer" value="<?=$_SERVER['REQUEST_URI']?>"/>

            <select name="groupId">
                <?php foreach ($this->groupsList as $groupId => $groupName) {
                    echo '<option value="' . $groupId . '">' . $groupName . '</option>';
                } ?>
            </select>

            <input type="submit" class="button" value="<?=__('Connect', 'ls')?>"/>
        </form>

    <?php } ?>
<?php }