<?php
/** @var $acmCodesTable acmCodesTable */
$acmCodesTable = $this->codesTable;
$acmCodesTable->referer = $_SERVER['REQUEST_URI'] . '#acm-group-codes';
$acmCodesTable->prepare_items();
?>

<form method="get" autocomplete="off">

    <input type="hidden" name="page" value="acmLoyaltySuite" />
    <input type="hidden" name="table" value="acmCodesTable" />

    <div class="ls-accordion acm-activity">
        <h3 class="title"><?=__('Activity', 'ls')?></h3>
        <div>
            <div class="clearfix acm-activities-opts">

                <div class="left">
                    <select id="groupForActivity">
                        <option value=""><?=__('- All CA-Groups -', 'ls')?></option>
                        <?php
                        foreach($this->groupsList as $groupId => $groupName) { ?>
                            <option value="<?=$groupId?>"><?=$groupName?></option>
                        <?php } ?>
                    </select>
                </div>

                <div class="left" style="margin: 2px 0 0 15px;">
                    <select id="acmActivitiesMultipleSelect" class="left" multiple="multiple">
                        <option value="codesCreated" data-color="#0085BA" selected="selected"><?=__('Access Code created', 'ls')?></option>
                        <option value="codesUsed" data-color="#96B627" selected="selected"><?=__('Access Code used', 'ls')?></option>
                        <option value="codesExpired" data-color="#FF0039" selected="selected"><?=__('Access Code expired', 'ls')?></option>
                    </select>
                </div>

                <div class="dates right">
                    <?php (new LS\Field\Date('', '', ['id' => 'statsSD'], strtotime('-1 MONTH')))->render(); ?>
                    <span> - </span>
                    <?php (new LS\Field\Date('', '', ['id' => 'statsED'], time()))->render(); ?>
                </div>

            </div>
            <div class="clearfix">
                <div class="loading ls-consumer-spinner">&nbsp;</div>
                <div class="canvas-container"></div>
                <div class="canvas-legend"></div>
            </div>
        </div>
    </div>

    <?php $acmCodesTable->filter_box(); ?>

    <br />

    <?php $acmCodesTable->search_box(__('Search codes', 'ls'), 'acm-codes'); ?>
    <?php if(current_user_can('ls_acm_manage')) { ?>
        <a class="add-new-h2" href="<?=admin_url('admin.php?page=acmLoyaltySuite&view=acm-new-code&referer=' . urlencode($acmCodesTable->referer))?>"><?=__('Create Access Code', 'ls')?></a>
        <a class="add-new-h2" href="<?=admin_url('admin.php?page=acmLoyaltySuite&view=acm-generate-codes&referer=' . urlencode($acmCodesTable->referer))?>"><?=__('Create multiple Access Codes', 'ls')?></a>
        <a class="add-new-h2" href="<?=admin_url('admin.php?page=acmLoyaltySuite&view=acm-prolong-codes-1&referer=' . urlencode($acmCodesTable->referer))?>"><?=__('Prolong Access Codes', 'ls')?></a>
    <?php } ?>
    <a class="add-new-h2 ls-acm-export-button" href="<?=esc_url(add_query_arg('action', 'export-acm-codes'))?>" target="_blank"><?=__('Export to CSV', 'ls')?></a>
    <?php $acmCodesTable->display(); ?>

</form>