<form action="" method="post" class="prolongation-codes" autocomplete="off">

    <h3 class="line">3. <?=__('Connection settings', 'ls')?></h3>

        <div class="row">
            <?php (new LS\Field\Date('endDate', __('Prolongation date', 'ls'), [], $this->endDate))->render(); ?>
        </div>

        <div class="row">
            <?php (new LS\Field\Checkbox('activate', __('Activate inactive consumers', 'ls')))->render(); ?>
        </div>

        <?php if($this->comCenterActive) { ?>
            <div class="row">
                <?php
                $afterText = $this->hasProlongationEmail ? '' : '<span style="color:red">' . __('Prolongation email not created or not active in the Com.Center', 'ls') . '</span>';
                (new LS\Field\Checkbox('email', __('Send prolongation email', 'ls'), ['disabled' => !$this->hasProlongationEmail, 'after' => $afterText], $this->hasProlongationEmail))->render();
                ?>
            </div>
        <?php } ?>

        <br />

        <input type="hidden" name="action" value="acm-prolong-codes-3" />
        <input type="hidden" name="referer" value="<?=LS\Library::getReferer()?>" />
        <input type="hidden" name="codes" value="<?=$this->selCodes?>" />
        <input type="submit" class="button" name="prev" value="<?=__('Back', 'ls')?>" />
        <input type="submit" class="button-primary" name="submit" value="<?=__('Prolong', 'ls')?>" />

</form>