<div class="acm-group-fields">
    <?php
    /** @var ACMGroup $group */
    $group = $this->group;

    /** @var $field LS\FieldAbstract */
    foreach($this->groupStructure as $fieldName => $field) {

        if($group->getGroupId() < 1 && in_array($field->getName(), ['groupId', 'createDate'])) {
            continue;
        }

        $field->setValue($group->get($fieldName));

        if(in_array($fieldName, ['groupId', 'name', 'parentGroupId', 'description', 'active', 'createDate'])) { ?>
            <div class="row">
                <?php
                if($fieldName == 'groupId') {
                    echo '<label>ID</label>' . $field->getDisplayValue();
                } else {
                    $field->render();
                }
                ?>
            </div>
        <?php
        }
    }
    ?>
</div>

<div class="submit">
    <?php if($group->getGroupId() > 0) { ?>
        <input type="hidden" name="view" value="group-details" />
        <input type="hidden" name="action" value="acm-update-group" />
        <input type="hidden" name="groupId" value="<?=$group->getGroupId()?>" />
        <input type="submit" class="button-primary" name="submit" value="<?=__('Save', 'ls')?>" />
    <?php } else { ?>
        <input type="hidden" name="action" value="acm-new-group" />
        <input type="hidden" name="referer" value="<?=LS\Library::getReferer()?>" />
        <input type="submit" class="button-primary" name="submit" value="<?=__('Create', 'ls')?>" />
    <?php } ?>
</div>