<?php
/** @var ACMGroup $group */
$group = $this->group;

$tabs = [
    'acm-group-general' => [__('General data', 'ls'), $this->render('admin-group-details-general.phtml', false)],
    'acm-group-posts'   => $group->getGroupId() > 0 ? [__('Protected posts', 'ls'), $this->render('admin-group-details-posts.phtml', false)] : false
];

$tabs = apply_filters('ls_acm_group_details_page', $tabs, $group);

$tabs['acm-group-extras'] = [__('Extra features', 'ls'), $this->render('admin-group-details-extras.phtml', false)];

if (!empty($tabs)) { ?>
    <form class="ls-groups-form" method="post" autocomplete="off">
        <div class="ls-tabs tabs">
            <ul>
                <?php foreach ($tabs as $key => $info) { ?>
                    <?php if (!empty($info[1])) { ?>
                        <li class="ls-tab"><a href="#<?=$key?>"><?=$info[0]?></a></li>
                    <?php } ?>
                <?php } ?>
            </ul>
            <?php foreach ($tabs as $key => $info) { ?>
                <?php if (!empty($info[1])) { ?>
                    <div id="<?=$key?>" class="hide inside ls-tab-content">
                        <?=$info[1]?>
                    </div>
                <?php } ?>
            <?php } ?>
        </div>
    </form>
    <?php
}

do_action('ls_acm_group_after_details_page', $group);