<?php
/** @var ACMGroup $group */
$group = $this->group;

/** @var WP_Post[] $posts */
$posts = $this->posts;

$postTypes = [];
$postGroups = [];

foreach ($posts as $post) {

    if (!in_array($post->post_type, $postTypes)) {
        $postTypes[] = $post->post_type;
        $postGroups[$post->post_type] = [];
    }

    $postGroups[$post->post_type][] = $post;
}

foreach ($postTypes as $postType) {
    $postTypeObj = get_post_type_object($postType);
    if ($postTypeObj) {
        echo '<div class="objects-block">';
        echo '<h4 class="line">' . $postTypeObj->labels->menu_name . '</h4>';
        $table = new acmPostsTable($group->getGroupId(), $postGroups[$postType]);
        $table->prepare_items();
        $table->display();
        echo '</div>';
    }
}
?>

<br />

<h3 class="line"><?=__('Add exclusive post', 'ls')?></h3>

<?php (new LS\Field\Postpicker('exclusivePostId', '', ['class' => 'acm-exclusive-field']))->render(); ?>
<input type="submit" name="includePost" class="button acm-exclusive-btn" value="<?=__('Add', 'ls')?>" />

<br />
<br />

<p><?=__('To add a page to the group you can also use a meta-box when editing the page.')?></p>