<?php
/** @var \LS\FieldAbstract[] $form */
$form = $this->gcStructure;
?>

<div class="acm-code-fields">
    <form id="sac-new" method="post">

        <h3 class="line"><?=__('Generate new Access Code', 'ls')?></h3>

        <?php
        foreach ($form as $fieldName => $field) {
            if (in_array($field->getName(), ['groupIds[]', 'hasEP', 'emailPattern', 'drcActive', 'drcDays'])) {
                continue;
            }
            ?>
            <div class="row">
                <?php $field->render(); ?>
            </div>
            <?php
        }
        ?>

        <br/>
        <h3 class="line"><?=__('CA-Group', 'ls')?></h3>

        <div class="row">
            <?php $form['groupIds']->render(); ?>
        </div>

        <br/>
        <h4 class="line"><?=__('Email structure', 'ls')?></h4>

        <div class="row">
            <?php $form['hasEP']->render(); ?>
        </div>

        <div class="row">
            <?php $form['emailPattern']->render(); ?>
            <p><i style="color: #777;"><?=__('Use symbol * to indicate dynamic part of the email. Sample: *@gmail.com. Use comma to enter a multiple email patterns.', 'ls')?></i></p>
        </div>

        <h4 class="line"><?=__('Delete inactive consumers', 'ls')?></h4>

        <div class="row">
            <?php $form['drcActive']->render(); ?>
        </div>

        <div class="row">
            <?php $form['drcDays']->render(); ?>
        </div>

        <br/>

        <input type="hidden" name="action" value="acm-generate-codes"/>
        <input type="hidden" name="referer" value="<?=LS\Library::getReferer()?>"/>
        <input type="submit" class="button-primary" name="submit" value="<?=__('Generate', 'ls')?>"/>

    </form>
</div>