<?php
/** @var ACMGroup $group */
$group = $this->group;

ob_start();
do_action('ls_acm_group_details_extras', $group);
$content = ob_get_contents();

if (!empty($content)) {
    ?>
    <div class="submit">
        <?php if ($group->getGroupId() > 0) { ?>
            <input type="submit" class="button-primary" name="submit" value="<?=__('Save', 'ls')?>"/>
        <?php } else { ?>
            <input type="submit" class="button-primary" name="submit" value="<?=__('Create', 'ls')?>"/>
        <?php } ?>
    </div>
    <?php
}