<form action="" method="post" class="prolongation-codes" autocomplete="off">

    <h3 class="line">2. <?=__('Access Code', 'ls')?></h3>

    <div class="row">
        <?php (new LS\Field\Select('codes', __('Access Code', 'ls'), $this->codes, ['id' => 'codes', 'showEmpty' => false, 'multiple' => true], $this->selCodes))->render(); ?>
        <input id="codesValues" type="hidden" name="codes" />
    </div>

    <br />

    <input type="hidden" name="action" value="acm-prolong-codes-2" />
    <input type="hidden" name="referer" value="<?=LS\Library::getReferer()?>" />
    <input type="submit" class="button" name="prev" value="<?=__('Back', 'ls')?>" />
    <input type="submit" class="button-primary" name="submit" value="<?=__('Next', 'ls')?>" />

</form>