.ficons .ficon {
    font-size: 32px;
    display: inline-block;
    padding: 10px 5px;
    cursor: pointer
}

.ficons .ficon.selected {
    border: #A7C711 solid 1px;
    background-color: #fff;
    color: #A7C711;
}

#pechChallenge [name="challengeIcon"] {
    display: none;
}

#pechChallenge [name="challengePushItMessage"] {
    width: 100%;
    max-width: 600px;
}

#pechChallenge [name="challengeDuration"],
#pechChallenge [name="challengeActivityDays"] {
    width: 50px;
}

.wp_pech_overview td.column-title a {
    font-weight: 600;
}

.wp_pech_overview .column-postId,
.pech-teams .column-teamId,
.pech-participants .column-pcpId,
.wp_pech_overview .column-active {
    width: 120px;
}

.wp_pech_overview .column-details,
.wp_pech_overview .column-startDate,
.wp_pech_overview .column-endDate,
.pech-teams .column-createDate,
.pech-teams .column-startDate,
.pech-participants .column-status,
.pech-participants .column-reactionDate {
    width: 150px;
}

.pech-teams .column-pcps,
.pech-teams .column-details {
    width: 120px;
}