/* Create form */
.pech-create-div {
    margin-bottom: 20px;
}

.pech-create {
    margin-bottom: 30px;
}

.pech-create form {
    width: 100%;
    background-color: #F2F2F4;
    padding: 0 0 10px;
    margin: 0 auto;
}

.pech-create .fw {
    max-width: 600px;
    margin: 0 auto;
}

.pech-create form h3 {
    color: #fff;
    text-align: center;
    margin: 0 0 10px;
    padding: 7px 0;
}

.pech-create .pech-header {
    background-color: #295077;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    padding: 5px 10px;
}

.pech-create .pech-header span {
    border-right: #fff solid 1px;
    padding: 0 10px 0 0;
    margin-right: 10px;
    display: inline-block;
    font-size: 20px;
}

.pech-create .pech-team-block {
    position: relative;
    padding-left: 65px;
}

.pech-create .checkbox-switcher {
    position: absolute;
    top: 5px;
    left: 0;
    margin: 0;
}

.pech-participants {
    list-style: none;
    padding: 0;
}

.pech-participants h4 {
    font-weight: 700;
}

.pech-participants li {
    margin-right: 40px;
    position: relative;
}

.pech-participants li input {
    margin-bottom: 10px;
}

.pech-participants li.one {
    margin-right: 0;
}

.participation-nm {
    margin: 20px 0 30px;
}

.participation-nm ul.pech-participants {
    margin-bottom: 10px;
}

.pech-team-name h4 {
    margin-bottom: 0;
}

.pech-add,
.pech-del {
    background-color: #fff;
    position: absolute;
    right: -36px;
    top: 2px;
    border: solid 1px;
    border-radius: 50%;
    text-align: center;
    padding: 4px;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 16px;
}

.pech-add:hover,
.pech-del:hover {
    border-color: #373737;
}

.pech-add.hide,
.pech-del.hide {
    display: none;
}

.pech-participants-error p,
.pech-create .pech-pcp .error,
.pech-create .team-error,
.participation-nm .pech-pcp .error {
    color: #E54215;
    font-size: 13px;
}

.content .pech-create .mistake,
.content .pech-create .mistake > input[type=text],
.content .participation-nm .mistake,
.content .participation-nm .mistake > input[type=text] {
    border-color: #E54215;
}

.pech-loading,
.push-it-loading {
    background: url(../../../images/spinner.gif) no-repeat left center;
    padding-left: 25px;
    padding-right: 10px;
    margin-top: 10px;
    height: 20px;
    min-width: 20px;
    display: inline-block;
}

.push-it-loading {
    display: none;
    width: 20px;
    height: 20px;
}

/* Blocks */
.pech-overview-details {
    margin-bottom: 30px;
}

.pech-details .details-button i {
    display: inline-block;
    float: right;
    margin: 10px 0 0 10px;
}

.pech-block.open .pech-details .details-button i {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    margin: 12px 0 0 10px;
}

.pech-details .details-button i:before {
    font-size: 14px;
    font-weight: 700;
}

.pech-details-data {
    padding: 0 10px 10px;
}

.pech-details-data label {
    margin-right: 0;
}

.pech-details-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
}

.pech-details-container h3 {
    margin-bottom: 0;
}

.pech-details-container hr {
    margin-top: 5px;
    margin-bottom: 25px;
}

.pech-block.open .button {
    top: 15px;
    bottom: auto;
}

/* Single block */
.pech-details-info {
    margin: 20px 0;
}

.pech-details-info .pdii {
    margin-bottom: 20px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    align-content: center;
}

.pech-details-info .pdii > div {
    text-align: left;
    padding: 10px;
}

.pech-details-info .pdii:first-child > div:first-child {
    padding-left: 0;
}

.pech-details-info .pdii h3 {
    margin-top: 5px;
}

.pech-details-info .pdii i {
    font-size: 46px;
    padding-top: 10px;
}

.pech-details-info .pdi-label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.pech-ma {
    padding: 20px;
    margin: 0 auto 20px;
    transition: background-color 300ms linear;
    text-align: center;
    position: relative;
}

.pech-ma input,
.pech-ma select {
    width: 150px;
}

.pech-ma select {
    text-align: center;
}

.pech-ma-today {
    color: #fff;
}

a.pech-ma-prev,
a.pech-ma-next {
    display: block;
    position: absolute;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    margin-bottom: 0;
}

a.pech-ma-prev i,
a.pech-ma-next i {
    color: #fff;
    font-size: 32px;
}

.pech-ma a.pech-ma-prev:hover i,
.pech-ma a.pech-ma-next:hover i {
    color: #373737;
}

.pech-ma-prev {
    left: 20px;
}

.pech-ma-next {
    right: 20px;
}

.pech-participations li .pc2a,
.pech-entrance .pc2a {
    margin-right: 15px;
}

.pech-details ul.pech-participations {
    margin: 30px 0;
    padding: 0;
    list-style: none;
}

.pech-participations .current .name {
    font-weight: 700;
}

.pech-participations li {
    position: relative;
}

.pech-participations li .name {
    width: 100%;
    max-width: 280px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 34px;
    padding-right: 5px;
}

.pech-participations li .name span {
    color: #aaa;
    display: inline-block;
    min-width: 22px;
}

.pech-participations li:first-child .name.with-ranks:before,
.pech-participations li:nth-child(2) .name.with-ranks:before,
.pech-participations li:nth-child(3) .name.with-ranks:before {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    vertical-align: middle;
    margin: 9px 10px 0 0;
    float: left;
    font-weight: 700;
}

.pech-participations li:first-child .name.with-ranks:before {
    content: '1';
    background-color: #ffc900;
}

.pech-participations li:nth-child(2) .name.with-ranks:before {
    content: '2';
    background-color: #b8b8b8;
}

.pech-participations li:nth-child(3) .name.with-ranks:before {
    content: '3';
    background-color: #b7a00d;
}

.pech-participations li .progress {
    border-radius: 0;
    box-shadow: 0 0 0;
    height: 34px;
}

.pech-participations li .participation-status {
    line-height: 34px;
}

.pech-participations li .progress > div {
    height: 34px;
}

.pech-participations li .progress > span {
    font-size: 16px;
    top: 5px;
    right: 10px;
}

.pech-participations li .step-width {
    background-color: #2a99d1;
}

.pech-participations li .step-width.me {
    background-color: #a7c711;
}

.pech-participations li.last-visible {
    padding-bottom: 6px;
}

.pech-participations li.last-visible:after {
    padding-top: 4px;
    content: '‧‧‧‧‧‧‧ (' attr(data-gap) ')';
    display: block;
    color: #aaa;
}

.pech-rpc {
    margin: -15px 0 20px;
}

.pech-rpc,
.pech-rpc-link {
    font-size: 13px;
}

.pech-rpc-list {
    margin: 10px 0 30px;
    padding: 0;
    list-style: none;
}

.pech-rpc-list .name {
    width: 100%;
    max-width: 280px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    padding-right: 5px;
}

.pech-rpc-list .status {
    line-height: 30px;
}

.pech-added-notice {
    text-align: center;
    font-weight: 600;
    padding: 10px 0;
    margin-bottom: 20px;
    display: none;
}

.pech-steps-bar {
    margin: 10px 0;
    position: relative;
    background-color: #f2f2f4;
}

.pech-steps-bar > div {
    height: 28px;
}

.pech-steps-bar > span {
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 5px;
    color: #000;
}

.pech-steps-form {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0 -10px;
}

.pech-steps-col {
    text-align: center;
    margin: 0 10px 25px;
    width: 80px;
}

.pech-steps-day {
    padding-bottom: 5px;
}

.pech-steps-day.future {
    color: #777;
}

.pech-step-status {
    padding: 2px 0;
    background-color: #F2F2F4;
    color: #373737;
}

.pech-step-status.done,
.pech-step-status.action {
    color: #fff;
}

.pech-func-img {
    width: 75px;
    padding: 5px 0 20px;
}

.pech-push select.pech-select-push {
    margin: 5px 0 20px;
}

.pech-stop-a.normal-button {
    margin-top: 5px;
}

/* Leaderboard */
.pech-leaderboard {
    margin-bottom: 30px;
    min-height: 76px;
    position: relative;
}

.pech-leaderboard h3 {
    color: #fff;
    text-align: center;
    padding: 7px 0;
    margin-bottom: 1px;
}

.pech-leaderboard ul {
    padding: 0;
    margin: 0;
}

.pech-leaderboard li {
    list-style: none;
    position: relative;
    background-color: #F4F4F4;
    padding: 5px 0;
    border-bottom: #fff solid 1px;
    min-height: 60px;
}

.pech-leaderboard li:nth-child(odd) {
    background-color: #eee;
}

.pech-leaderboard .rank {
    background-color: #2a99d1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    min-width: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    padding: 0 10px;
}

.pech-leaderboard .my .rank {
    background-color: #295077;
}

.pech-leaderboard .clt {
    margin: 0 80px;
    min-height: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}

.pech-leaderboard .team {
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	text-transform: capitalize;
}

.pech-leaderboard .my .team,
.pech-leaderboard .my-team i {
    color: #295077;
}

.pech-leaderboard .my-team {
    position: absolute;
    top: 8px;
    right: 10px;
    text-align: center;
    line-height: 20px;
}

.pech-leaderboard .my-team i {
    display: block;
    font-size: 26px;
}

.pech-leaderboard .my-team,
.pech-leaderboard .desc {
    font-size: 13px;
    color: #777;
}

.pech-leaderboard li.gap {
    margin: 2px 28px;
    height: 25px;
    min-height: 0;
    background-color: transparent;
    border-left: #777 dotted 4px;
}

@media only screen and (max-width: 1060px) {

    .pech-details-info .pdii {
        -webkit-flex-direction: column;
        flex-direction: column;

        -webkit-justify-content: flex-start;
        justify-content: flex-start;

        min-width: 120px;
    }

    .pech-details-info .pdii > div {
        text-align: center;
        padding: 0;
    }

    .pech-details-info .pdii img {
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {

    .pech-participations li .pc2a {
        margin: 0 10px 15px 0;
        font-size: 13px;
        line-height: 30px;
        padding: 0 10px;
        min-height: 20px;
    }

    .pech-participations li .name {
        max-width: 200px;
    }
}

@media only screen and (max-width: 575px) {

    .pech-participations li .name {
        float: none;
        max-width: 100%;
    }

    .pech-participations li.last-visible:after {
        text-align: center;
    }

    .pech-details-info .pdii h3 {
        font-size: 20px;
    }

    .pech-steps-bar {
        margin-top: 0;
    }

    .pech-participations li .participation-status {
        margin-bottom: 10px;
    }

    .pech-details-data {
        margin-top: -20px;
        border-width: 5px;
    }

    .pech-participations li .pc2a {
        margin-left: 10px;
        margin-right: 10px;
    }

    a.pech-ma-prev,
    a.pech-ma-next {
        bottom: 30px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    a.pech-ma-prev {
        left: 10px;
    }

    a.pech-ma-next {
        right: 10px;
    }

    a.pech-ma-prev i,
    a.pech-ma-next i {
        font-size: 24px;
    }

    .pech-participants {
        display: inline-block;
        width: 100%;
    }

    .pech-leaderboard li {
        text-align: center;
        padding: 0;
    }

    .pech-leaderboard .team {
        margin-top: 15px;
    }

    .pech-leaderboard .team,
    .pech-leaderboard .desc,
    .pech-leaderboard .my-team {
        margin-bottom: 15px;
    }

    .pech-leaderboard .rank {
        font-size: 16px;
        position: static;
        display: block;
        height: auto;
        line-height: 40px;
    }

    .pech-leaderboard .clt {
        margin: 0;
    }

    .pech-leaderboard .my-team {
        position: static;
    }
}