<?php
$isSelected = isset($this->activity['action']) && $this->activity['action'] == 'fitcoPech';
$selectedIdent = $this->activity['ident'] ?? '';
?>

<select class="activityIdent identPech<?=$isSelected ? '' : ' hide'?>">
    <option value="">-</option>
    <?php foreach($this->challenges as $postId => $title) { ?>
        <option value="<?=$postId?>"<?php if($isSelected) { selected($selectedIdent, $postId); } ?>><?=$title?></option>
    <?php } ?>
</select>