<div class="loyalty-suite wpps">

    <input type="hidden" name="pech-challenge-nonce" value="<?=$this->nonce?>" />

    <?php
    /** @var LS\FieldAbstract $field */
    foreach($this->fields as $field) {

        echo '<div class="row">';

        if($field->getName() == 'challengeIcon') {
            ?>
            <div class="ls-accordion clearfix ficons">
                <h3>Icon</h3>
                <div>
                    <?php foreach(PechChallenge::getIcomoonIcons() as $className => $code) { ?>
                        <span class="ficon <?=$className?><?=$field->getValue() === $className ? ' selected' : ''?>" data-class="<?=$className?>"></span>
                    <?php } ?>
                </div>
            </div>
            <?php

            $field->render(false);

        } elseif($field->getName() == 'invitationEmailMessage') {

            $field->render();
            ?>
            <div class="row clearfix">
                <label for="testInformEmail">Test E-Mail senden</label>
                <div class="test-email">
                    <input type="text" maxlength="512" id="testInformEmail" name="testInformEmail" value="<?=wp_get_current_user()->user_email?>" placeholder="email address" />
                    <label for="testInformConsumerId"> <?=__('Setzen meine Teilnehmer-ID auf', 'ls')?></label>
                    <input type="text" maxlength="10" id="testInformConsumerId" name="testInformConsumerId" value="<?=consumersAdminLoyaltySuite::getConsumerIdToTestEmails()?>" style="width: 50px;" />
                    <input type="submit" name="sendTestInformEmail" value="Save post & send" class="button" />
                </div>
            </div>
            <?php

        } elseif($field->getName() == 'startEmailMessage') {

            $field->render();
            ?>
            <div class="row clearfix">
                <label for="testStartEmail">Test E-Mail senden</label>
                <div class="test-email">
                    <input type="text" maxlength="512" id="testStartEmail" name="testStartEmail" value="<?=wp_get_current_user()->user_email?>" placeholder="email address" />
                    <label for="testStartEmailConsumerId"> <?=__('Setzen meine Teilnehmer-ID auf', 'ls')?></label>
                    <input type="text" maxlength="10" id="testStartEmailConsumerId" name="testStartEmailConsumerId" value="<?=consumersAdminLoyaltySuite::getConsumerIdToTestEmails()?>" style="width: 50px;" />
                    <input type="submit" name="sendTestStartEmail" value="Save post & send" class="button" />
                </div>
            </div>
            <?php

        } elseif($field->getName() == 'endingEmailMessage') {

            $field->render();
            ?>
            <div class="row clearfix">
                <label for="testEndingEmail">Test E-Mail senden</label>
                <div class="test-email">
                    <input type="text" maxlength="512" id="testEndingEmail" name="testEndingEmail" value="<?=wp_get_current_user()->user_email?>" placeholder="email address" />
                    <label for="testEndingEmailConsumerId"> <?=__('Setzen meine Teilnehmer-ID auf', 'ls')?></label>
                    <input type="text" maxlength="10" id="testEndingEmailConsumerId" name="testEndingEmailConsumerId" value="<?=consumersAdminLoyaltySuite::getConsumerIdToTestEmails()?>" style="width: 50px;" />
                    <input type="submit" name="sendTestEndingEmail" value="Save post & send" class="button" />
                </div>
            </div>
            <?php

        } else {
            $field->setArg('autocomplete', 'off');
            $field->render();
        }

        echo '</div>';
    }
    ?>
</div>

<script type="text/javascript">
    jQuery(function($){

        $('.ficons').on('click', '.ficon', function() {
            $('.ficons .ficon').removeClass('selected');
            $(this).addClass('selected');
            $('#pechChallenge input[name="challengeIcon"]').val($(this).data('class'));
            return false;
        });

        var switchMaxValueField = function() {

            var f = $('input[name="maxValue"]');

            if($('select[name="challengeType"]').val() === '1') {
                f.removeAttr('disabled');
            } else {
                f.attr('disabled', 'disabled');
            }

            if(f.val() === '0') {
                f.val('');
            }
        };

        $('select[name="challengeType"]').on('change', function() {
            switchMaxValueField();
        });

        switchMaxValueField();
    });
</script>