<div class="wrap loyalty-suite wpps">

    <h1 class="wp-heading-inline">Edit Challenge Team <a class="add-new-h2" href="<?=admin_url('edit.php?post_type=1x1&page=pech-teams')?>"><?=__('Zurück', 'ls')?></a></h1>

    <br />
    <br />

    <form action="" autocomplete="off" method="post">

        <?php
        /** @var PechTeam $team */
        $team = $this->team;
        ?>

        <div class="row">
            <?php
            $challengeId = LS\Library::getParam('challengeId', 'id');
            $challengeId = empty($challengeId) ? $team->getChallengeId() : $challengeId;
            (new LS\Field\Select('challengeId', 'Challenge', $this->challengesList, ['showEmpty' => false, 'required' => true], $challengeId))->render();
            ?>
        </div>

        <div class="row">
            <?php
            $startDate = LS\Library::getParam('startDate', 'date');
            $startDate = empty($startDate) ? $team->getStartDate() : $startDate;
            (new LS\Field\Date('startDate', 'Start date', ['required' => true], $startDate))->render();
            ?>
        </div>

        <div class="row">
            <?php
            $teamName = LS\Library::getParam('teamName', 'text');
            $teamName = empty($teamName) ? $team->getTeamName() : $teamName;
            (new LS\Field\Text('teamName', 'Teamnamen', ['required' => true], $teamName))->render();
            ?>
        </div>

        <input type="hidden" name="teamId" value="<?=$team->getTeamId()?>" />
        <input type="hidden" name="view" value="pech-edit-team" />
        <input type="hidden" name="action" value="pech-edit-team" />
        <input type="hidden" name="referer" value="<?=LS\Library::getReferer()?>" />
        <input type="submit" class="button-primary" name="submit" value="<?=__('Save')?>" />

    </form>

</div>