<div class="wrap loyalty-suite wpps">

    <h1 class="wp-heading-inline">Challenge Teams <a class="add-new-h2" href="<?=admin_url('edit.php?post_type=1x1&page=pech-add-team')?>">Neue Team</a></h1>

    <br />
    <br />

    <?php
    /** @var $pechStatisticsTable pechTeamsStatisticsTableLoyaltySuite */
    $pechStatisticsTable = $this->tablePechTeamsStatistics;
    $pechStatisticsTable->prepare_items();
    ?>
    <form action="" method="get" autocomplete="off">

        <div class="ls-accordion cc-accordion">
            <h3 class="title active">Filters</h3>
            <div class="filters">

                <?php if(!empty($this->pechList)) { ?>
                    <select id="pechReportPostId" name="postId">
                        <option value="">All challenges</option>
                        <?php foreach($this->pechList as $postId => $name) { ?>
                            <option value="<?=$postId?>"<?php selected($this->selectedPostId, $postId); ?>><?=$name?></option>
                        <?php } ?>
                    </select>
                <?php } ?>

                <?php if(!empty($this->companiesList)) { ?>
                    <select id="pechReportCompanyId" name="companyId">
                        <option value="">All companies</option>
                        <?php foreach($this->companiesList as $companyId => $companyName) { ?>
                            <option value="<?=$companyId?>"<?php selected($this->selectedCompanyId, $companyId); ?>><?=$companyName?></option>
                        <?php } ?>
                    </select>
                <?php } ?>

                <input type="hidden" name="post_type" value="1x1" />
                <input type="hidden" name="page" value="pech-teams" />
                <input type="submit" value="Apply" class="button" />

            </div>
        </div>

        <input type="hidden" name="referer" value="<?=$_SERVER['REQUEST_URI']?>" />
        <?php $pechStatisticsTable->display(); ?>
    </form>
</div>