<div class="wrap loyalty-suite wpps">

    <h1 class="wp-heading-inline">Challenge Participants</h1>

    <br />
    <br />

    <?php
    /** @var $pechStatisticsTable pechPcpStatisticsTableLoyaltySuite */
    $pechStatisticsTable = $this->tablePechPcpStatistics;
    $pechStatisticsTable->prepare_items();
    ?>
    <form method="get" autocomplete="off">

        <div class="ls-accordion cc-accordion">
            <h3 class="title active">Filters</h3>
            <div class="filters">

                <?php if(!empty($this->pechList)) { ?>
                    <select id="pechReportPostId" name="postId">
                        <option value="">All challenges</option>
                        <?php foreach($this->pechList as $postId => $name) { ?>
                            <option value="<?=$postId?>"<?php selected($this->selectedPostId, $postId); ?>><?=$name?></option>
                        <?php } ?>
                    </select>
                <?php } ?>

                <?php if(!empty($this->companiesList)) { ?>
                    <select id="pechReportCompanyId" name="companyId">
                        <option value="">All companies</option>
                        <?php foreach($this->companiesList as $companyId => $companyName) { ?>
                            <option value="<?=$companyId?>"<?php selected($this->selectedCompanyId, $companyId); ?>><?=$companyName?></option>
                        <?php } ?>
                    </select>
                <?php } ?>

                <input type="text" value="<?=$this->selectedTeamId === 0 ? '' : $this->selectedTeamId?>" maxlength="10" placeholder="Team ID" style="width: 100px;" />

                <input type="hidden" name="post_type" value="1x1" />
                <input type="hidden" name="page" value="pech-participants" />
                <input type="submit" value="Apply" class="button" />

            </div>
        </div>

        <input type="hidden" name="referer" value="<?=$_SERVER['REQUEST_URI']?>" />
        <?php $pechStatisticsTable->display(); ?>

    </form>

</div>