<div class="wrap loyalty-suite wpps">

    <h1 class="wp-heading-inline">Add New Challenge Team <a class="add-new-h2" href="<?=admin_url('edit.php?post_type=1x1&page=pech-teams')?>"><?=__('Zurück', 'ls')?></a></h1>

    <br />
    <br />

    <form action="" autocomplete="off" method="post">

        <div class="row">
            <?php (new LS\Field\Select('challengeId', 'Challenge', $this->challengesList, ['showEmpty' => false, 'required' => true], LS\Library::getParam('challengeId', 'id')))->render(); ?>
        </div>

        <div class="row">
            <?php (new LS\Field\Date('startDate', 'Start date', ['required' => true], LS\Library::getParam('startDate', 'date')))->render(); ?>
        </div>

        <div class="row">
            <?php (new LS\Field\Text('teamName', 'Teamnamen', ['required' => true], LS\Library::getParam('teamName', 'text')))->render(); ?>
        </div>

        <input type="hidden" name="view" value="pech-new-team" />
        <input type="hidden" name="action" value="pech-new-team" />
        <input type="hidden" name="referer" value="<?=LS\Library::getReferer()?>" />
        <input type="submit" class="button-primary" name="submit" value="<?=__('Erstellen')?>" />

    </form>

</div>