<div class="wpps">
    <div class="row">
        <?php (new LS\Field\Date('fitcoTDW', 'Start of "Tipp der Woche"', [], $this->fitcoTDW))->render() ?>
        <i>* To display Tipp-der-Woche text use shortcode: <b>[tipp-der-woche]</b></i>
    </div>
    <div class="row"><?php (new LS\Field\Checkbox('fitcoTDWEmail', 'Available for PUSH E-Mail', [], $this->fitcoTDWEmail))->render() ?></div>
    <div class="row"><?php (new LS\Field\Url('fitcoTDWCustomLink', 'Custom button link', [], $this->fitcoTDWCustomLink))->render() ?></div>

    <h4>FitCo Aufgabe</h4>
    <div>
        <textarea name="fitcoToDo" cols="100" rows="4"><?=esc_textarea($this->fitcoToDo)?></textarea>
        <div style="margin-top: 10px;"><i>* To display this value use shortcode: <b>[Fitco-Aufgabe]</b> or <b>[Fitco-Aufgabe-recent-post]</b></i></div>
    </div>
</div>