<div class="ls-consumer-bpo">
    <?php if (!empty($this->transactions)) { ?>
        <table class="table">
            <tr>
                <th><?=__('Date', 'ls')?></th>
                <th><?=$this->label?></th>
                <th><?=__('Description', 'ls')?></th>
            </tr>
            <?php
            /** @var LS\BPTransaction $tr */
            foreach ($this->transactions as $k => $tr) { ?>
                <?php $class = []; ?>
                <?php if ($k++ % 2 == 0) {
                    $class[] = 'alternate';
                } ?>
                <tr<?=empty($class) ? '' : ' class="' . implode(' ', $class) . '"'?>>
                    <td class="ls-bpo-date" width="20%"><?=date_i18n(get_option('date_format'), $tr->getCreateDate() + TIMEZONE_DIFF)?></td>
                    <td class="ls-bpo-points" width="10%"><?=(int) $tr->getPoints()?></td>
                    <td class="ls-bpo-message" width="70%"><?=esc_html($tr->getMessage())?></td>
                </tr>
            <?php } ?>
        </table>
    <?php } else { ?>
        <p><?=__('You do not have any transactions', 'ls')?></p>
    <?php } ?>
</div>