#courseForDash {
    margin: 5px 5px 10px;
}

.ls-course-spinner {
    background: url(../images/spinner.gif) no-repeat;
    width: 20px;
    height: 20px;
}

.wp_ls_courses .column-courseId {
    width: 5%;
    max-width: 50px;
}

.wp_ls_courses .column-details,
.wp_ls_courses .column-active {
    width: 100px;
}

.wp_ls_courses .column-startDate,
.wp_ls_courses .column-endDate {
    width: 120px;
}

.wpps .course input[name="courseName"],
.wpps .course textarea[name="failureMessage"] {
    width: 90%;
    max-width: 600px;
}

.wpps .course input[name="defaultInterval"],
.wpps .course input[name="minInterval"],
.wpps .course input[name="maxInterval"] {
    width: 50px;
}

.wpps .course .test-email {
    margin-left: 200px;
}

.course-posts ul {
    max-width: 600px;
    background-color: #F1F1F1;
    border: #777 dashed 1px;
    padding: 10px 10px 4px;
}

.course-posts li {
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
}

.course-posts li .title {
    float: left;
}

.course-posts li .order {
    float: right;
    background-color: #3d77ff;
    border-radius: 15px;
    color: #fff;
    cursor: move;
    font-size: 13px;
    text-align: center;
    width: 25px;
}

.course-posts li .remove {
    float: right;
    margin-left: 10px;
}

.course-posts li .remove a {
    color: #ff1a2b;
    text-decoration: none;
}

.course-posts li .remove a:hover {
    color: #000;
}

.course-posts .postPicker {
    display: inline-block;
}

.course-posts .postPicker .postPicker-field {
    width: 500px;
}