/* [course-accept] */
.course-accept {
    margin-top: 30px;
    padding: 30px 15px;
    background-color: #DBDEDE;
    text-align: center;
}

.course-interval {
    background-image: none;
}

.course-interval-inner {
    margin: 45px auto;
    max-width: 500px;
    position: relative;
}

.course-interval-slider {
    position: relative;
    margin: 0 50px;
    border-width: 0;
    border-radius: 0;
    height: 6px;
    cursor: pointer;
    background: #939393 none;
}

.course-interval .ui-slider .ui-slider-handle,
.course-interval .ui-slider .ui-slider-handle:focus {
    background: #fff none repeat scroll 0 0;
    border: #373737 solid 6px;
    border-radius: 15px;
    cursor: pointer;
    width: 26px;
    height: 26px;
    line-height: 26px;
    margin-left: -15px;
    padding: 3px 1px;
    text-align: center;
    top: -10px;
    outline: none;
}

.course-interval .ui-slider .ui-slider-handle.ui-state-hover {
    width: 30px;
    height: 30px;
    top: -12px;
    margin-left: -17px;
}

.course-interval .ui-slider .ui-slider-range {
    background: #373737 none;
    border-radius: 0;
    border-width: 0;
}

.course-interval-value {
    position: absolute;
    top: -13px;
    right: 8px;
    font-size: 20px;
    font-weight: 700;
    color: #373737;
    border-bottom: #A7C711 solid 2px;
    min-width: 24px;
    padding-bottom: 8px;
}

.course-interval-icon {
    position: absolute;
    left: 0;
    top: -13px;
    background: url(../images/calendar.png) no-repeat;
    background-size: 100% 100%;
    width: 32px;
    height: 32px;
}

/* [course] */
.course-info,
.course-tabs .tabs-content {
    margin-bottom: 30px;
}

.course-items-before,
.course-ended h3 {
    margin-bottom: 40px;
}

.course-cp-item {
    margin: 10px 0;
	text-align: center;

	display: -webkit-flex;
	display: flex;

	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;

	-webkit-justify-content: center;
	justify-content: center;

	-webkit-align-content: center;
	align-content: center;
}

.course-cp-item > div {
    margin: 0 10px;
}

.course-cp-item h3 {
    margin: 5px 0 0;
    color: #00838F;
    text-align: left;
}

.course-cp-item .pdi-label {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
    text-align: left;
}

.course-cp-trainer h3 {
    color: #00838F;
}

.course-cp-trainer-image {
    border: #373737 solid 3px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.course-cp-trainer-image img {
    border: #fff solid 4px;
    background-color: #fff;
    width: 58px;
    height: 58px;
    border-radius: 50%;
}

.course-extra-info {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: left;
    background-color: #ECEEEF;
    padding: 0 5px 25px;
    margin-bottom: 40px;
}

.course-extra-info h3 {
    margin-bottom: 0;
}

.course-extra-info hr {
    border-top-color: #fff;
    margin: 5px 0 25px;
}

.course-trainer img {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin: -10px 15px 0 0;
}

.course-trainer h3 {
    color: #00838F;
}

.course-extra-block {
    margin-top: 20px;
    min-width: 270px;
}

.course-extra-block p {
    color: #00838F;
}

.course-progress-num {
    font-size: 32px;
}

.course-psp {
    padding: 0 3px;
    color: #373737;
}

.course-ttl {
    padding-right: 5px;
}

.course-lbl {
    color: #373737;
}

.course-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.course-item {
    background-color: #ECEEEF;
    margin: 0 0 30px;
    border-top: #A7C711 solid 8px;
    position: relative;
}

.course-item.unread {
    border-color: #DE7E21;
}

.course-item.soon {
    border-color: #FFC000;
}

.course-item.unavailable {
    border-color: #777;
}

.course-num {
    position: absolute;
    z-index: 4;
    left: 20px;
    top: 0;
    width: 70px;
    height: 32px;
    line-height: 23px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #A7C711;
    text-align: center;
}

.course-num:after {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.course-item.unread .course-num {
    background-color: #DE7E21;
}

.course-item.soon .course-num {
    background-color: #FFC000;
}

.course-item.unavailable .course-num {
    background-color: #777;
}

.course-item img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    display: block;
    height: 100%;
    object-fit: cover;
}

.course-details {
    padding: 20px;
    text-align: left;
    margin-left: 300px;
}

.course-desc {
    padding-bottom: 20px;
}

.course-status {
    margin-bottom: 5px;
}

.course-status.soon {
    padding: 10px 20px;
    display: inline-block;
    background-color: #fff;
    border: #FFC000 solid 2px;
}

.course-status.unavailable {
    padding: 10px 20px;
    display: inline-block;
    background-color: #fff;
    border: #ccc solid 2px;
    color: #777;
}

.course-ended {
    background-color: #2A99D1;
    padding: 20px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.course-ended h3 {
    color: #fff;
    margin-bottom: 0;
    text-align: center;
}

/* [course-lesson-cockpit] */
.cl-course-cockpit {
    background-color: #00838F;
    margin-bottom: 30px;
    padding: 20px;
}

.cl-course-cockpit,
.cl-course-cockpit h2,
.cl-course-cockpit h3 {
    color: #fff;
}

.cl-course-cockpit h2 {
    font-weight: 700;
}

.cl-course-cockpit label {
    color: #ddd;
    cursor: default;
}

.cl-name,
.cl-objective {
    margin-bottom: 0;
}

.cl-main-link {
    margin-bottom: 15px;
}

.cl-progress {
    float: right;
    margin: 0 0 20px 20px;
    width: 100px;
}

.cl-nm,
.cl-ns,
.cl-pr {
    text-align: center;
}

.cl-nm-1 {
    font-size: 40px;
    font-weight: 700;
}

.cl-nm-2 {
    font-size: 36px;
    font-weight: 200;
    color: #A7C711;
}

.cl-nm-3 {
    font-size: 26px;
}

.cl-ns {
    padding-bottom: 10px;
}

.cl-pr {
    width: 100px;
    height: 12px;
    position: relative;
}

.cl-prv {
    background-color: #A7C711;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
}

/* [course-progress-bar] */
.ls-course-progress-bar {
    display: inline-block;
    margin: 30px auto;
    padding-top: 4px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 280px;
    max-width: 100%;
}

.ls-course-progress-bar-line {
    height: 16px;
    background-color: #ECEEEF;
    position: relative;
    margin-bottom: 15px;
}

.ls-course-progress {
    position: absolute;
    height: 16px;
    background-color: #a7c711;
}

.ls-course-progress-bar-value {
    color: #a7c711;
    font-size: 20px;
    font-weight: 600;
}

/* [courses-overview] */
.course-overview .icon img {
    width: 40px;
}

@media only screen and (max-width: 991px) {

    .course-cp-item {
        -webkit-justify-content: flex-start;
	    justify-content: flex-start;

        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .course-cp-item > div.course-cp-trainer-image {
        margin: 0 auto;
    }

    .course-cp-item .pdi-label,
    .course-cp-item h3 {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {

    .course-extra-block {
        width: 100%;
    }

    .course-details {
        text-align: center;
        margin-left: 0;
    }

    .course-item img {
        position: static;
        width: 100%;
        max-height: 400px;
    }

    .course-title.no-image {
        padding-top: 30px;
    }

    .course-num {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 575px) {

    .course-lbl {
        display: block;
    }

    .cl-course-cockpit {
        text-align: center;
    }

    .cl-progress {
        float: none;
        margin: 0 auto 20px;
    }
}