<?php
$isSelected = isset($this->activity['action']) && $this->activity['action'] == 'gravityForms';
$selectedIdent = $this->activity['ident'] ?? '';
?>

<select class="activityIdent identGravityForms<?=($isSelected ? '' : ' hide')?>">
    <option value=""><?=__('- Select Form -', 'ls')?></option>
    <?php $gravityForms = RGFormsModel::get_forms(true); ?>
    <?php foreach($gravityForms as $form) { ?>
        <option value="<?=$form->id?>"<?php selected($form->id, $isSelected ? $selectedIdent : false); ?>><?=esc_attr($form->title)?></option>
    <?php } ?>
</select>