<form method="post" autocomplete="off">

    <table class="form-table">
        <tr>
            <th scope="row" colspan="2">
                <label for="acp"><input type="checkbox" id="acp" name="acp"<?php checked((bool) $this->options['acp']); ?> /> <?=__('Automatically publish/unpublish challenge', 'ls')?></label>
                <div class="chk-sub-label"><?=__('Publish/unpublish challenge pages depends on start/end date fields in the challenge settings', 'ls')?></div>
            </th>
        </tr>
        <tr>
            <th scope="row"><label for="atTypeSlug"><?=__('Page permalink name', 'ls')?></label></th>
            <td><input type="text" style="width: 400px;" maxlength="512" name="atTypeSlug" id="atTypeSlug" value="<?=esc_attr($this->options['atTypeSlug'])?>" /></td>
        </tr>
    </table>

    <p class="submit">
        <input type="hidden" name="action" value="at2-save-settings" />
        <input type="submit" name="submit" value="<?=__('Save', 'ls')?>" class="button-primary" />
    </p>

</form>