<?php
/** @var $tableStatistics statisticsTableAT2LoyaltySuite */
$tableStatistics = $this->statistics;
$tableStatistics->referer = $_SERVER['REQUEST_URI'] . '#ls-statistics';
$tableStatistics->prepare_items();
?>
<form method="get" autocomplete="off">
    <input type="hidden" name="page" value="at2LoyaltySuite" />
    <input type="hidden" name="table" value="statisticsTableAT2LoyaltySuite" />
    <?php $tableStatistics->display(); ?>
</form>