<h3 class="line"><?=__('Activities', 'ls')?></h3>

<div class="ls-at-activities clearfix">

    <div class="ls-at-left-block">
        <div class="ls-activities-list">
            <?php
            if(isset($this->activities)) {
                foreach($this->activities as $activity) {
                    $this
                        ->assign('activity', $activity)
                        ->render('admin-challenge-activity.phtml');
                }
            }
            ?>
        </div>
    </div>

    <?php
    $this
        ->assign('newActivity', true)
        ->render('admin-challenge-activity.phtml');
    ?>

</div>