<h3 class="line"><?=__('Challenge Description', 'ls')?></h3>

<?php if($this->challenge->challengeId > 0) { ?>
    <div class="row clearfix">
        <label>ID</label>
        <strong><?=$this->challenge->challengeId?> <span style="font-weight: 600; padding-left: 20px; color: blue;"><?='[challenge id=' . $this->challenge->challengeId . ']'?></span></strong>
    </div>
<?php } ?>

<div class="row clearfix">
    <label for="chTitle"><?=__('Title', 'ls')?> <span class="ls-required">*</span></label>
    <input type="text" name="title" id="chTitle" class="ls-field-value ls-text chTitle" maxlength="500" value="<?=esc_attr($this->challenge->title)?>"/>
</div>

<div class="row clearfix">
    <?php (new LS\Field\Postpicker('challengePageId', __('Challenge Page', 'ls'), ['return' => 'id', 'required' => true, 'post_type' => 'activity-tracking', 'post_types' => ['activity-tracking']], $this->challenge->challengePageId))->render(); ?>
</div>

<div class="row clearfix">
    <label><?=__('Date', 'ls')?> <span class="ls-required">*</span></label>
    <span><?=__('from', 'ls')?></span>
    <?php (new LS\Field\Date('dateStart', '', ['required' => true], $this->challenge->dateStart))->render(); ?>
    <span><?=__('to', 'ls')?></span>
    <?php (new LS\Field\Date('dateEnd', '', ['required' => true], $this->challenge->dateEnd))->render(); ?>
</div>

<?php do_action('ls_at_challenge_description_tab', $this->challenge); ?>