<div class="clearfix">

    <table class="ls-at-challenge-statistic-general left">
        <tr>
            <th><?=__('Challenge', 'ls')?></th>
            <td><?=$this->challenge->title?></td>
        </tr>
        <tr>
            <th><?=__('Total participants', 'ls')?></th>
            <td><?=$this->totalParticipants?></td>
        </tr>
        <tr>
            <th><?=__('Number of activities (valid/total)', 'ls')?></th>
            <td><?=$this->totalValidActivities?> / <?=$this->totalActivities?></td>
        </tr>
    </table>

    <div style="padding-top: 3px;"><a class="button-primary left" href="<?=esc_url(add_query_arg(['action' => 'export-challenge-statistic-csv', 'challengeId' => $this->challenge->challengeId]))?>" target="_blank"><?=__('Export to CSV', 'ls')?></a></div>

</div>

<br />

<?php
/** @var $tableChallengeStatistic challengeStatisticTableAT2LoyaltySuite */
$tableChallengeStatistic = $this->challengeStatisticTable;
$tableChallengeStatistic->referer = $_SERVER['REQUEST_URI'] . '#at-challenge-statistics';
$tableChallengeStatistic->prepare_items();
?>
<form method="get" autocomplete="off">
    <input type="hidden" name="page" value="at2LoyaltySuite" />
    <input type="hidden" name="table" value="challengeStatisticTableAT2LoyaltySuite" />
    <input type="hidden" name="view" value="challenge-details" />
    <input type="hidden" name="challengeId" value="<?=$this->challenge->challengeId?>" />
    <?php $tableChallengeStatistic->filter_box(); ?>
    <?php $tableChallengeStatistic->display(); ?>
</form>