<?php
$this->newActivity = $this->newActivity ?? false;

if($this->newActivity) {
    $this->activity = null;
    $selectedAction = '';
    $identAction = '';
} else {
    $this->activity = $this->activity ?? [];
    $selectedAction = $this->activity['action'] ?? '';
    $identAction = $this->activity['ident'] ?? '';
}
?>

<div class="ls-activity <?=$this->newActivity ? 'ls-new-activity' : 'ls-at-activity-item'?>">

    <div class="ls-activity-header clearfix">
        <span class="ls-at-header-sign<?=$this->newActivity ? ' na-hide' : ''?>">+</span>
        <span class="ls-at-header-title">
            <?php if($this->newActivity) { ?>
                <?=__('Create new activity', 'ls')?>
            <?php } elseif(isset($this->activity['title'])) { ?>
                <?=$this->activity['title']?> - <?=$this->activityTypes[$selectedAction] ?? '<span style="color:red;">' . __('Unknown activity', 'ls') . '</span>'?>
            <?php } else { ?>
                Activity
            <?php } ?>
        </span>
        <span class="ls-at-header-order<?=$this->newActivity ? ' na-hide' : ''?>"><?=($this->activity['order'] ?? '&nbsp;')?></span>
    </div>

    <div class="ls-activity-body<?=$this->newActivity ? '' : ' hide'?> clearfix">

        <fieldset>
            <legend><?=__('Activity Name', 'ls')?> *</legend>
            <input type="text" class="activityTitle" data-column="title" maxlength="250" value="<?=(isset($this->activity['title']) ? esc_attr($this->activity['title']) : '')?>" />
        </fieldset>

        <fieldset>

            <legend><?=__('Activity type', 'ls')?> *</legend>

            <select data-column="action" class="activityAction">
                <option value="">- Select -</option>
                <?php foreach($this->activityTypes as $action => $label) { ?>
                    <option value="<?=$action?>"<?php selected($selectedAction, $action); ?>><?=$label?></option>
                <?php } ?>
            </select>

            <div class="ls-at-activity-ident">
                <?php
                /** @var ATAction $action */
                foreach($this->actions as $key => $action) {
                    $action->displaySettingsFunc($this->activity);
                }
                ?>
            </div>

        </fieldset>

        <?php
        /** @var ATAction $action */
        $action = $this->actions[$selectedAction] ?? false;
        ?>

        <fieldset class="ls-at-activity-examples<?=$action && $action->hasExample() ? '' : ' hide'?>">
            <legend><?=__('Usage', 'ls')?></legend>
            <?php
            /** @var ATAction $action */
            foreach($this->actions as $key => $action) {
                $action->displayExample($this->activity, $key);
            }
            ?>
        </fieldset>

        <fieldset>
            <legend><?=__('Success message on achieving the activity', 'ls')?></legend>
            <div class="successMessageAddBlock clearfix">
                <label><?=__('Display success message', 'ls')?>: </label>
                <?php $checked = $this->newActivity ? true : (isset($this->activity['successMessage']) && !empty($this->activity['successMessage'])); ?>
                <input type="checkbox" class="activityShowSuccessMessage"<?php checked($checked); ?> />
            </div>
            <?php $message = $this->newActivity ? __('You successfully performed the activity {activity}', 'ls') : (isset($this->activity['successMessage']) ? esc_attr($this->activity['successMessage']) : ''); ?>
            <?php $disabled = $this->newActivity ? false : (!isset($this->activity['successMessage']) || empty($this->activity['successMessage'])); ?>
            <input type="text" class="activitySuccessMessage" data-column="successMessage" maxlength="1024" value="<?=$message?>"<?php disabled($disabled); ?> />
        </fieldset>

        <fieldset>
            <legend><?=__('Description', 'ls')?></legend>
            <input type="text" class="activityDescription" data-column="description" maxlength="1024" value="<?=(isset($this->activity['description']) ? esc_attr($this->activity['description']) : '')?>" />
        </fieldset>

        <fieldset>
            <legend><?=__('Image', 'ls')?></legend>
            <input type="text" class="activityImage" data-column="image" maxlength="1024" value="<?=(isset($this->activity['image']) ? esc_url($this->activity['image']) : '')?>" />
        </fieldset>

        <fieldset>
            <legend><?=__('Link to activity', 'ls')?></legend>
            <input type="text" maxlength="1024" data-column="link" class="activityLink" value="<?=(isset($this->activity['link']) ? esc_url($this->activity['link']) : '')?>" />
        </fieldset>

        <?php
        do_action('ls_at_activity_fields', $this->activity);
        ?>

        <?php if($this->newActivity) { ?>
            <input class="ls-at-aa button" type="button" id="addActivity" value="<?=__('Add activity', 'ls')?>" />
            <label class="ls-at-aa-label" style="padding-left: 30px;"><?=__('* - required fields', 'ls')?></label>
        <?php } ?>

        <input class="activityOrder" type="hidden" data-column="order" maxlength="3" value="<?=($this->activity['order'] ?? '')?>" />
        <input class="activityRemove button right<?=$this->newActivity ? ' na-hide' : ''?>" type="button" value="<?=__('remove', 'ls')?>" />
        <input class="activityId" type="hidden" data-column="activityId" value="<?=(empty($this->activity['activityId']) ? '' : (int) $this->activity['activityId'])?>" />

    </div>

</div>