<div class="wpps">

    <input type="hidden" name="at_box_nonce" value="<?=$this->nonce?>" />

    <?php
    /** @var array $meta */
    $meta = $this->meta;

    $fields = [
        'teaserImage' => new \LS\Field\Image('teaserImage', __('Teaser image', 'ls'), [], $meta['teaserImage']),
        'teaserText'  => new \LS\Field\Textarea('teaserText', __('Teaser text', 'ls'), ['richEditor' => true], $meta['teaserText'])
    ];

    /** @var \LS\FieldAbstract $field */
    foreach ($fields as $field) {
        echo '<div class="row clearfix">';
        $field->render();
        echo '</div>';
    }
    ?>

</div>