<?php if(count($this->consumerParticipatedChallengesIds) > 0) { ?>

    <?php if(count($this->activities) > 0) { ?>

        <div class="ls-sub-tabs tabs">
            <ul>
                <?php foreach($this->activities as $challengeId => $challenge) { ?>
                    <?php $title = $this->challengesList[$challengeId] ?? '&nbsp;'; ?>
                    <li class="ls-tab"><a href="#at/at-challenge-<?=$challengeId?>"><?=(mb_strlen($title) > 50 ? mb_substr($title, 0, 50) . '...' : $title)?></a></li>
                <?php } ?>
            </ul>
            <?php foreach($this->activities as $challengeId => $challenge) { ?>
                <div id="at-challenge-<?=$challengeId?>" class="hide inside ls-tab-content">
                    <table class="wp-list-table widefat fixed" style="width: 100%; max-width: 1000px;">
                        <thead>
                            <tr>
                                <th><?=__('Activity', 'ls')?></th>
                                <th style="width: 140px;"><?=__('Date', 'ls')?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($challenge as $i => $activity) { ?>
                                <tr<?=($i%2==0 ? ' class="alternate"' : '')?>>
                                    <td>
                                        <?php
                                        if(isset($this->actions[$activity->action])) {
                                            /** @var ATAction $action */
                                            $action = $this->actions[$activity->action];
                                            echo $action->getConsumerLogMessage((array) $activity);
                                        } elseif(isset($this->activityTypes[$activity->action])) {
                                            echo $this->activityTypes[$activity->action];
                                        } else {
                                            echo '&nbsp;';
                                        }
                                        ?>
                                    </td>
                                    <td><?=date('d.m.Y', $activity->createDate + TIMEZONE_DIFF)?></td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            <?php } ?>
        </div>

        <br />

    <?php } ?>

<?php } else { ?>
    <p class="ls-no-items"><?=__('No activities', 'ls')?></p>
<?php } ?>