<?php
/** @var $tableChallenges challengesTableAT2LoyaltySuite */
$tableChallenges = $this->challenges;
$tableChallenges->referer = $_SERVER['REQUEST_URI'] . '#ls-challenges';
$tableChallenges->prepare_items();
?>
<form method="get" autocomplete="off">
    
    <div class="ls-accordion at-accordion">
        <h3 class="title active"><?=__('Dashboard', 'ls')?></h3>
        <div>

            <?php if(!empty($this->challengesList)) { ?>
                <div>
                    <select id="atForDash">
                        <option value=""><?=__('- Select Challenge -', 'ls')?></option>
                        <?php foreach($this->challengesList as $challengeId => $challengeName) { ?>
                            <option value="<?=$challengeId?>"<?php selected($challengeId, $this->dashboardChallengeId); ?>><?=$challengeName?></option>
                        <?php } ?>
                    </select>
                </div>
            <?php } ?>

            <div id="atDashData" class="ls-dash">
                <div class="bx size-1">
                    <div>
                        <span id="atDbParticipants"><?=$this->dashboard['participants']?></span>
                        <label><?=__('Participants', 'ls')?></label>
                    </div>
                </div>
                <div class="bx size-1">
                    <div>
                        <span id="atDbAvgParticipants"><?=ceil($this->dashboard['avgParticipants'])?>%</span>
                        <label><?=__('% of all active consumers', 'ls')?></label>
                    </div>
                </div>
                <div class="bx size-1">
                    <div>
                        <span id="atDbActivities"><?=$this->dashboard['activities']?></span>
                        <label><?=__('Activities', 'ls')?></label>
                    </div>
                </div>
                <div class="bx">
                    <div class="size-2">
                        <span id="atDbTotalPerforms"><?=$this->dashboard['totalPerforms']?></span>
                        <label><?=__('Total performed activities', 'ls')?></label>
                    </div>
                    <div class="size-2">
                        <span id="atDbPerformsLastMonth"><?=$this->dashboard['performsLastMonth']?></span>
                        <label><?=__('Activities performed (last month)', 'ls')?></label>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="ls-accordion at-activity">
        <h3 class="title"><?=__('Activity', 'ls')?></h3>
        <div>
            <div class="clearfix at-activities-opts" style="margin-bottom: 20px;">

                <div class="left">
                    <?php if(!empty($this->challengesList)) { ?>
                        <select id="atForActivity">
                            <option value=""><?=__('- Select Challenge -', 'ls')?></option>
                            <?php foreach($this->challengesList as $challengeId => $challengeName) { ?>
                                <option value="<?=$challengeId?>"<?php selected($challengeId, $this->dashboardChallengeId); ?>><?=$challengeName?></option>
                            <?php } ?>
                        </select>
                    <?php } ?>

                    <?php if(!empty($this->companiesList)) { ?>
                        <select id="companyIdForActivity">
                            <option value=""><?=__('All Companies', 'ls')?></option>
                            <?php foreach($this->companiesList as $companyId => $companyName) { ?>
                                <option value="<?=$companyId?>"><?=esc_html($companyName)?></option>
                            <?php } ?>
                        </select>
                    <?php } ?>
                </div>

                <div class="left" style="margin: 2px 0 0 15px;">
                    <select id="atActivitiesMultipleSelect" class="left" multiple="multiple">
                        <?php
                        $selected = ['participants', 'activities'];
                        ?>
                        <option value="participants" data-color="#333"<?php selected(in_array('participants', $selected)); ?>><?=__('Participants', 'ls')?></option>
                        <option value="activities" data-color="#BD30D8"<?php selected(in_array('activities', $selected)); ?>><?=__('Performed activities', 'ls')?></option>
                    </select>
                </div>

                <div class="dates right">
                    <?php (new LS\Field\Date('', '', ['id' => 'statsSD'], strtotime('-1 MONTH')))->render(); ?>
                    <span> - </span>
                    <?php (new LS\Field\Date('', '', ['id' => 'statsED'], time()))->render(); ?>
                </div>

            </div>

            <div class="clearfix">
                <div class="loading ls-at-spinner">&nbsp;</div>
                <div class="canvas-container"></div>
                <div class="canvas-legend"></div>
            </div>
        </div>
    </div>
    
    <input type="hidden" name="page" value="at2LoyaltySuite" />
    <input type="hidden" name="table" value="challengesTableAT2LoyaltySuite" />

    <?php if(current_user_can('ls_at_manage')) { ?>
        <br class="clearfix" />
        <a class="add-new-h2 button-primary" href="admin.php?page=at2LoyaltySuite&view=challenge-details&referer=<?=urlencode($tableChallenges->referer)?>"><?=__('New challenge', 'ls')?></a>
    <?php } ?>

    <?php $tableChallenges->display(); ?>
    
</form>