<form class="ls-at-form" method="post" autocomplete="off">

    <div class="ls-tabs tabs">
        <ul>
            <li class="ls-tab"><a href="#at-challenge-description"><?=__('Description', 'ls')?></a></li>
            <li class="ls-tab"><a href="#at-challenge-details"><?=__('Activities', 'ls')?></a></li>
            <li class="ls-tab"><a href="#at-challenge-messages"><?=__('Messages', 'ls')?></a></li>
            <?php if(isset($this->challengeStatisticTable)) { ?>
                <li class="ls-tab"><a href="#at-challenge-statistics"><?=__('Statistics', 'ls')?></a></li>
            <?php } ?>
        </ul>
        <div id="at-challenge-description" class="hide inside ls-tab-content">
            <?php $this->render('admin-challenge-description.phtml'); ?>
        </div>
        <div id="at-challenge-details" class="hide ls-tab-content">
            <?php $this->render('admin-challenge-details.phtml'); ?>
        </div>
        <div id="at-challenge-messages" class="hide ls-tab-content">
            <?php $this->render('admin-challenge-messages.phtml'); ?>
        </div>
        <div id="at-challenge-statistics" class="hide ls-tab-content"></div>
    </div>

    <p class="submit">
        <input type="hidden" name="view" value="challenge-details" />
        <input type="hidden" name="action" value="save-challenge" />
        <input type="hidden" name="challengeId" value="<?=$this->challenge->challengeId?>" />
        <input type="hidden" name="referer" value="<?=LS\Library::getReferer()?>" />
        <input type="submit" id="save-challenge" class="button-primary" name="submit" value="<?=__('Save Challenge', 'ls')?>" />
    </p>

</form>

<?php if(isset($this->challengeStatisticTable)) { ?>

    <div id="at-challenge-statistics-body" class="hide ls-tab-content">
        <?php $this->render('admin-challenge-statistics.phtml'); ?>
    </div>

<?php }