<h3 class="line"><?=__('Personal Goal Messages', 'ls')?></h3>

<div class="ls-at-goal-messages-block">
    <?php for($i=1; $i<=4; $i++) { ?>
        <div class="row clearfix">
            <div class="left" style="margin-right: 20px;">
                <br /><br />
                <label for="chGoalMessageText<?=$i?>"><?=sprintf(__('Goal message %d', 'ls'), $i)?></label>
                <br /><br />
                <label for="chGoalValue<?=$i?>"><?=__('Goal value', 'ls')?></label>
                <br />
                <?php $value = $this->challenge->{'goalValue' . $i}; ?>
                <?php $value = $value == '' ? ($i - 1) * 25 : (int) $value; ?>
                <input type="text" name="goalValue<?=$i?>" id="chGoalValue<?=$i?>" value="<?=esc_attr($value)?>" style="width: 50px; text-align: right;" /> %
            </div>
            <div class="left" style="width: 50%;">
                <?php
                wp_editor($this->challenge->{'goalMessageText' . $i}, 'chGoalMessageText' . $i, [
                    'textarea_name'  => 'goalMessageText' . $i,
                    'editor_height'  => 150,
                    'tinymce'        => false,
                    'wpautop'        => 0,
                    'default_editor' => 'html'
                ]);
                ?>
            </div>
        </div>
    <?php } ?>
</div>

<br />

<h3 class="line"><?=__('Challenge Messages', 'ls')?></h3>

<div class="ls-at-challenge-messages-block">

    <div class="row clearfix">
        <label for="chChallengeMessage1"><br /><?=__('Challenge message 1', 'ls')?></label>
        <div class="left" style="width: 50%;">
            <?php
            wp_editor($this->challenge->challengeMessage1, 'chChallengeMessage1', [
                'textarea_name'  => 'challengeMessage1',
                'editor_height'  => 150,
                'tinymce'        => false,
                'wpautop'        => 0,
                'default_editor' => 'html'
            ]);
            ?>
        </div>
    </div>

    <div class="row clearfix">
        <label for="chMessageRemark1"><?=__('Internal remark', 'ls')?></label>
        <div class="ch-msg-remark dashicons-before dashicons-pressthis">
            <input type="text" maxlength="512" name="messageRemark1" id="chMessageRemark1" value="<?=esc_attr($this->challenge->messageRemark1)?>" style="width: 48%;" />
        </div>
    </div>

    <div class="row clearfix">
        <label for="chChallengeMessage2"><br /><?=__('Challenge message 2', 'ls')?></label>
        <div class="left" style="width: 50%;">
            <?php
            wp_editor($this->challenge->challengeMessage2, 'chChallengeMessage2', [
                'textarea_name'  => 'challengeMessage2',
                'editor_height'  => 150,
                'tinymce'        => false,
                'wpautop'        => 0,
                'default_editor' => 'html'
            ]);
            ?>
        </div>
    </div>

    <div class="row clearfix">
        <label for="chMessageRemark2"><?=__('Internal remark', 'ls')?></label>
        <div class="ch-msg-remark dashicons-before dashicons-pressthis">
            <input type="text" maxlength="512" name="messageRemark2" id="chMessageRemark2" value="<?=esc_attr($this->challenge->messageRemark2)?>" style="width: 48%;" />
        </div>
    </div>

</div>