.ls-at-challenge,
.at-tabs .tabs-content {
    margin-bottom: 30px;
}

.at-cp-item {
    margin: 10px 0;
	text-align: center;

	display: -webkit-flex;
	display: flex;

	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;

	-webkit-justify-content: center;
	justify-content: center;

	-webkit-align-content: center;
	align-content: center;
}

.at-cp-item > div {
    margin: 0 10px;
}

.at-cp-item h3 {
    margin: 5px 0 0;
    color: #E54215;
    text-align: left;
}

.at-cp-item .pdi-label {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
}

.at-extra-info {
    text-align: left;
    background-color: #ECEEEF;
    padding: 0 5px 25px;
    margin-bottom: 40px;
}

.at-extra-info h3 {
    margin-bottom: 0;
}

.at-extra-info hr {
    border-top-color: #fff;
    margin: 5px 0 25px;
}

.at-extra-block {
    margin-top: 20px;
    min-width: 270px;
}

.at-extra-block p {
    color: #E54215;
}

.at-goal {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 40px;
    padding: 20px;
    background-color: #E54215;
    color: #fff;
    text-align: center;
}

.at-goal p:last-child {
    margin-bottom: 0;
}

.at-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.at-item,
.at-item.done {
    background-color: #ECEEEF;
    margin: 0 0 30px;
    border: #ECEEEF solid 1px;
    border-top: #A7C711 solid 8px;
    position: relative;
}

.at-item.open {
    border-top-color: #DE7E21;
}

.at-item .at-sign {
    position: absolute;
    z-index: 4;
    left: 20px;
    top: 0;
    width: 70px;
    height: 32px;
    line-height: 23px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #A7C711;
    text-align: center;
}

.at-item .at-sign:after {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.at-item.open .at-sign {
    background-color: #DE7E21;
}

.at-item .at-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    display: block;
    height: 100%;
    object-fit: cover;
}

.at-item .at-details {
    padding: 20px;
    text-align: left;
    margin-left: 300px;
}

.at-item .at-desc {
    padding-bottom: 20px;
}

.at-item .at-info {
    margin-bottom: 5px;
}

.ls-at-loading {
    background: url(../images/loading.gif) no-repeat left center;
}

.ls-at-progress-bar {
    width: 260px;
    position: relative;
    height: 25px;
    padding-right: 2px;
    background-color: #ccc;
}

.ls-at-progress-bar-line {
    background-color: #A7C711;
    position: relative;
    display: block;
    overflow: hidden;
    height: 25px;
}

.ls-at-progress-bar-value {
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    right: 0;
    line-height: 23px;
    padding-right: 12px;
    color: rgba(0, 0, 0, 0.6);
    white-space: nowrap;
}

.ls-at-progress-bar-less {
    left: 6px;
    right: auto;
    z-index: 2;
}

@media only screen and (max-width: 991px) {

    .at-cp-item {
        -webkit-justify-content: flex-start;
	    justify-content: flex-start;

        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .at-cp-item h3 {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {

    .at-extra-block {
        width: 100%;
    }

    .at-item .at-details {
        text-align: center;
        margin-left: 0;
    }

    .at-item .at-image {
        position: static;
        width: 100%;
        max-height: 400px;
    }

    .at-item .at-title.no-image {
        padding-top: 30px;
    }

    .at-item .at-sign {
        left: 50%;

        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}