.ls-at-activities .ls-at-left-block,
.ls-at-activities .ls-activity.ls-new-activity { float: left; }
.ls-at-activities .ls-activity.ls-new-activity h3 { padding-left: 10px; }
.ls-at-activities .ls-activity.ls-at-activity-item { cursor: pointer; }
.ls-at-activities .ls-at-left-block { margin-right: 20px; }
.ls-at-activities .ls-activity { width: 500px; }
.ls-at-activities .ls-activity { background-color: #fff; margin-bottom: 10px; }
.ls-at-activities .ls-activity-header { font-weight: 700; font-size: 15px; padding: 10px; }
.ls-at-activities .ls-activity-body { padding: 0 40px 10px 10px; margin-top: 10px; }
.ls-at-activities .ls-at-header-sign { display: block; float: left; width: 5%; font-size: 18px; font-weight: 700; font-family: Tahoma, sans-serif; }
.ls-at-activities .ls-at-header-title { display: block; float: left; width: 85%; }
.ls-at-activities .ls-at-header-order { display: block; float: right; width: 25px; text-align: center; background-color: #3d77ff; color: #fff; font-size: 13px; border-radius: 15px; cursor: move; }
.ls-at-activities fieldset { border: #eee solid 1px; padding: 10px; margin-bottom: 10px; width: 100%; }
.ls-at-activities fieldset legend { font-weight: 600; }
.ls-at-activities .activityAction,
.ls-at-activities .activityDescription,
.ls-at-activities .activityArticleBlock { margin-bottom: 10px; }
.ls-at-activities .activityTitle,
.ls-at-activities .activityIdent,
.ls-at-activities .activitySuccessMessage,
.ls-at-activities .activityDescription,
.ls-at-activities .activityImage,
.ls-at-activities .activityLink { width: 440px; }
.ls-at-activities .successMessageAddBlock { padding-bottom: 10px; }
.ls-at-activities .activityArticleBlock { display: block; }
.ls-at-activities .successMessageAddBlock label,
.ls-at-activities .successMessageAddBlock input,
.ls-at-activities .activityArticleBlock label,
.ls-at-activities .activityArticleBlock input { float: left; vertical-align: bottom; }
.ls-at-activities .successMessageAddBlock input,
.ls-at-activities .activityArticleBlock input { margin: 1px 3px 0 6px; }
.ls-at-activities .ls-at-loading { background: url(../images/loading.gif) no-repeat left center; }
.ls-at-activities .ls-at-example-notice { color: blue; }
.ls-at-activities .ls-at-usage textarea { width: 100%; font-weight: 600; font-size: 15px; background: #eef2ff; }
.ls-at-activities .na-hide { display: none !important; }

#atForDash { margin: 5px 5px 10px; }
.ls-at-spinner { background: url(../images/loading.gif) no-repeat; width: 20px; height: 20px; }

.wp_ls_challenges .column-challengeId { width: 80px; }
.wp_ls_challenges .column-active { width: 100px; }
.wp_ls_challenges .column-details { width: 120px; }
.wp_ls_challenges .column-dateStart,
.wp_ls_challenges .column-dateEnd { width: 180px; }

.ch-msg-remark { color: #1CABF0; }
.ch-msg-remark:before { vertical-align: sub; }

.wp_ls_statistics .column-date { width: 250px; }
.wp_ls_statistics .column-challengeId { width: 100px; }
.wp_ls_statistics .column-details { width: 120px; }
#ls-statistics .tablenav.top { float: right; }

.wp_ls_challenge_statistic .column-number { width: 50px; }

.ls-at-challenge-statistic-general { background-color: #fff; padding: 10px; margin-right: 20px; }
.ls-at-challenge-statistic-general th,
.ls-at-challenge-statistic-general td { padding-bottom: 5px; }
.ls-at-challenge-statistic-general th { width: 180px; text-align: left; }

#at-challenge-description .chTitle,
#at-challenge-description .postPicker-field { width: 100%; max-width: 800px; float: left; }