<?php
/** @var $tableOverview companiesTableLoyaltySuite */
$tableOverview = $this->tableCompanies;
$tableOverview->referer = $_SERVER['REQUEST_URI'] . '#ls-companies';
$tableOverview->prepare_items();
?>
<form method="get" autocomplete="off">
    <input type="hidden" name="page" value="companiesLoyaltySuite"/>
    <input type="hidden" name="table" value="companiesTableLoyaltySuite"/>
    <?php $tableOverview->filter_box(); ?>
    <br class="clearfix"/>
    <?php if (current_user_can('ls_companies_manage')) { ?>
        <a class="add-new-h2 button-primary" href="admin.php?page=companiesLoyaltySuite&view=new-company&referer=<?=urlencode($tableOverview->referer)?>"><?=__('New company')?></a>
    <?php } ?>
    <?php $tableOverview->search_box(__('Search Companies'), 'company'); ?>
    <?php $tableOverview->display(); ?>
</form>