<?php
/** @var $tableFields companiesFieldsTableLoyaltySuite */
$tableFields = $this->tableCompaniesFields;
$tableFields->referer = $_SERVER['REQUEST_URI'] . '#ls-companies-fields';
$tableFields->prepare_items();
?>
<form method="get" autocomplete="off">
    <input type="hidden" name="page" value="companiesLoyaltySuite"/>
    <input type="hidden" name="table" value="companiesFieldsTableLoyaltySuite"/>
    <br class="clearfix"/>
    <a class="add-new-h2 button-primary" href="admin.php?page=companiesLoyaltySuite&view=companies-field&referer=<?=urlencode($tableFields->referer)?>"><?=__('Create dynamic field')?></a>
    <?php $tableFields->display(); ?>
</form>