<?php
/** @var LS\FieldAbstract $field */
$field = $this->field;

$fields = [
    new LS\Field\Text('title', __('Title', 'ls'), ['maxlength' => 64, 'required' => true], $field->getLabel()),
    new LS\Field\Textarea('description', __('Description', 'ls'), ['maxlength' => 1000], $field->getArg('description')),
    new LS\Field\Text('name', __('Field name', 'ls'), ['maxlength' => 64, 'required' => true], $field->getName()),
    new LS\Field\Select('type', __('Type', 'ls'), LSCompaniesHelper::getDynamicFieldTypes(), ['required' => true], $this->fieldType),
    new LS\Field\Checkbox('fetchFromParent', __('Hierarchical value', 'ls'), ['after' => __('In a case that the field value is empty - the value from the parent company will be retrieved')], $field->getArg('fetchFromParent'))
];
?>

<form class="ls-companies-field" method="post" autocomplete="off">
    <?php
    /** @var LS\FieldAbstract $field */
    foreach ($fields as $field) {
        echo '<div class="row">';
        $field->render();
        echo '</div>';
    }
    ?>
    <p class="submit">
        <input type="hidden" name="action" value="save-companies-field"/>
        <input type="hidden" name="isCreation" value="<?=(int) $this->isCreation?>"/>
        <input type="hidden" name="fieldName" value="<?=$this->fieldName?>"/>
        <input type="submit" name="save-companies-field" value="<?=$this->isCreation ? __('Create', 'ls') : __('Update', 'ls')?>" class="button button-primary"/>
    </p>
</form>