<?php
if (!$this->company) { ?>
    <p><?=__('Information about the company is not available')?></p>
    <?php
} else {

    /** @var \LS\CompanyInterface $company */
    $company = $this->company;
    $customTabs = apply_filters('ls_company_custom_tabs', [], $company);
    $dynamicFields =
    $extraFields = '';

    /** @var $field LS\FieldAbstract */
    foreach ($this->companyFields as $fieldName => $field) {
        if ($field->getArg('isDynamic', false)) {

            $field->setValue(
                $company->getDynamicFieldValue($fieldName)
            );

            if (!current_user_can('ls_companies_manage')) {
                $field->setDisabled();
            }

            if ($field->getArg('fetchFromParent')) {
                $field->setLabel($field->getLabel() . ' <span class="cmp-hierarchical">H</span>');
            }

            ob_start();
            ?>
            <div class="row clearfix">
                <?php $field->render(); ?>
            </div>
            <?php
            $desc = $field->getArg('description');
            if (!empty($desc)) { ?>
                <div class="row ch-msg-remark dashicons-before dashicons-pressthis clearfix">
                    <label>&nbsp;</label> <?=__('Note', 'ls')?>: <?=$field->getArg('description')?>
                </div>
            <?php } ?>
            <?php if ($field->getArg('allowShortcode', true)) { ?>
                <div class="row clearfix">
                    <label>&nbsp;</label> Shortcode: <strong>[company field="<?=$fieldName?>"]</strong>
                </div>
            <?php } ?>
            <?php
            if ($field->getArg('extraField')) {
                $extraFields .= ob_get_clean();
            } else {
                $dynamicFields .= ob_get_clean();
            }
        }
    }
    ?>

    <div class="ls-tabs tabs">

        <ul>
            <li class="ls-tab"><a href="#cmpMain"><?=__('Company profile', 'ls')?></a></li>
            <?php foreach ($customTabs as $key => $customTab) { ?>
                <li class="ls-tab"><a href="#<?=esc_attr($key)?>"><?=$customTab[0]?></a></li>
            <?php } ?>
        </ul>

        <div id="cmpMain" class="hide inside ls-tab-content">
            <form id="ls-company-form" method="post" autocomplete="off">

                <div class="ls-sub-tabs tabs">
                    <?php if (!empty($dynamicFields) || !empty($extraFields)) { ?>
                        <ul>
                            <li class="ls-tab"><a href="#cmpMain/default-fields-tab"><?=__('Default fields', 'ls')?></a></li>
                            <?php if (!empty($dynamicFields)) { ?>
                                <li class="ls-tab"><a href="#cmpMain/dynamic-fields-tab"><?=__('Dynamic fields', 'ls')?></a></li>
                            <?php } ?>
                            <?php if (!empty($extraFields)) { ?>
                                <li class="ls-tab"><a href="#cmpMain/extras-fields-tab"><?=__('Extras', 'ls')?></a></li>
                            <?php } ?>
                        </ul>
                    <?php } ?>
                    <div id="default-fields-tab" class="<?=!empty($dynamicFields) || !empty($extraFields) ? 'hide ls-tab-content' : ''?>">

                        <h3 class="headline"><?=__('Default fields', 'ls')?></h3>

                        <?php
                        /** @var $field LS\FieldAbstract */
                        foreach ($this->companyFields as $fieldName => $field) {
                            if (!$field->getArg('isDynamic', false)) {

                                $field->setValue(
                                    $company->getStaticFieldValue($fieldName)
                                );

                                if (!current_user_can('ls_companies_manage')) {
                                    $field->setDisabled();
                                }

                                if ($fieldName == 'companyId') {
                                    $field = new \LS\Field\Label('ID', [], $field->getRawValue());
                                }

                                if ($field->getArg('fetchFromParent')) {
                                    $field->setLabel($field->getLabel() . ' <span class="cmp-hierarchical">H</span>');
                                }
                                ?>
                                <div class="row clearfix">
                                    <?php $field->render(); ?>
                                </div>
                                <?php
                            }
                        }
                        ?>

                    </div>

                    <?php if (!empty($dynamicFields)) { ?>
                        <div id="dynamic-fields-tab" class="hide ls-tab-content">
                            <h3 class="headline"><?=__('Dynamic fields', 'ls')?></h3>
                            <?=$dynamicFields?>
                        </div>
                    <?php } ?>

                    <?php if (!empty($extraFields)) { ?>
                        <div id="extras-fields-tab" class="hide ls-tab-content">
                            <h3 class="headline"><?=__('Extras', 'ls')?></h3>
                            <?php echo $extraFields; ?>
                        </div>
                    <?php } ?>

                </div>

                <span class="cmp-hierarchical">H</span> - <?=__('Hierarchical field, if empty - value from the parent company will be retrieved', 'ls')?>

                <?php if (current_user_can('ls_companies_manage')) { ?>
                    <p class="submit">
                        <?php if ($this->isCreation) { ?>
                            <input type="hidden" name="view" value="new-company"/>
                            <input type="hidden" name="action" value="new-company"/>
                            <input type="hidden" name="referer" value="<?=LS\Library::getReferer()?>"/>
                            <input type="submit" class="button-primary" name="submit" value="<?=__('Create')?>"/>
                        <?php } else { ?>
                            <input type="hidden" name="view" value="company-details"/>
                            <input type="hidden" name="action" value="save-company"/>
                            <input type="hidden" name="companyId" value="<?=$company->getCompanyId()?>"/>
                            <input type="submit" class="button-primary" name="submit" value="<?=__('Save')?>"/>
                        <?php } ?>
                    </p>
                <?php } ?>

            </form>
        </div>

        <?php foreach ($customTabs as $key => $customTab) { ?>
            <div id="<?=esc_attr($key)?>" class="hide inside ls-tab-content">
                <?=$customTab[1]?>
            </div>
        <?php } ?>

    </div>

    <?php
}