<?php $key = 'cmp'; ?>
<div class="row clearfix fw rcpCompanyGroups rcp-multiple">
    <label for="rcpCompanies"><input type="radio" id="rcpCompanies" name="recipients" value="<?=$key?>"<?php checked($this->selected == $key); ?> /> <?=__('Company consumers:', 'ls')?></label>
    <div>
        <select id="rcpCompanySelect" multiple="multiple">
            <?php
            $identIds = wp_parse_id_list($this->ident);
            foreach (LSCompaniesHelper::getCompaniesList(false, true) as $companyId => $companyName) { ?>
                <option value="<?=$companyId?>"<?php selected($this->selected == $key && in_array($companyId, $identIds)); ?>><?=$companyName?></option>
            <?php } ?>
        </select>
        <input id="rcpCompanyIdent" type="hidden" name="recipientsIdent" value="<?=esc_attr($this->ident)?>"/>
    </div>
</div>