@media (min-width: 990px){
    .cld-title::before{
        content: '';
        position: absolute;
        top: -7.5px; left: 7.5px;
        width: 0;
        height: 0;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;

        border-bottom: 7.5px solid #ccc;
    }
    .cld-title-div {
        position: absolute;
        z-index: 6;
        /*background-color: red;*/
        width: 100%;
        word-break: break-word;
    }
    .cld-events-num {
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
        font-size: 16px;
        border-radius: 5px;
        border: 0.5px solid #cccccc;
        /*width: 50%;*/
        /*background-color: #88f320;
        background-color: #ff4f0b;
        background-color: #fdfd41;*/


    }
    .cld-events-num p{
        margin: 0 0;
        line-height: 1.2;
    }
}

@media (min-width: 575px) and (max-width: 990px){
    .cld-title::before{
        /*content: '';*/
        position: absolute;
        top: -7.5px;
        left: 7.5px;
        width: 0;
        height: 0;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;

        border-bottom: 7.5px solid #ccc;
    }
    .cld-title-div {
        position: absolute;
        z-index: 6;
        /*background-color: red;*/
        width: 150%;
    }
    .cld-events-num {
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
        font-size: 16px;
        border-radius: 5px;
        border: 0.5px solid #cccccc;
        /*width: 50%;*/
        /*background-color: #88f320;
        background-color: #ff4f0b;
        background-color: #fdfd41;*/


    }
    .cld-events-num p{
        margin: 0 0;
        line-height: 1.2;
    }

}

@media (max-width: 575px) {
    .cld-title::before{
        /*content: '';*/
        position: absolute;
        top: -7.5px;
        left: 7.5px;
        width: 0;
        height: 0;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;

        border-bottom: 7.5px solid #ccc;
    }
    .cld-title-div {
        position: absolute;
        z-index: 6;
        /*background-color: red;*/
        width: 200%;
        left: -6px;
    }
    .cld-events-num {
        margin: 0 auto;
        /*margin-top: 10px;*/
        text-align: center;
        font-size: 12px;
        border-radius: 5px;
        border: 0.5px solid #cccccc;
        /*width: 50%;*/
        /*background-color: #88f320;
        background-color: #ff4f0b;
        background-color: #fdfd41;*/



    }
    .cld-events-num p{
        margin: 0 0;
        line-height: 1.2;
    }




}
#caleandar {
    min-height: 570px;
    padding: 5px;
    overflow: visible;

}

.cld-main {
    width: 100%;
}

.cld-main a {
    color: #7B00FF;
}

.cld-datetime {
    position: relative;
    width: 66%;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
}

.cld-datetime .today {
    position: relative;
    float: left;
    font-size: 20px;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
}

.cld-nav {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.cld-nav:hover {
    cursor: pointer;
}

.cld-nav:hover svg {
    fill: #666;
}

.cld-rwd {
    float: left;
}

.cld-fwd {
    float: right;
}

.cld-nav svg:hover {

}

.cld-labels, .cld-days {
    padding-left: 0;
}

.cld-label, .cld-day {
    font-size: 20px;
    box-sizing: border-box;
    display: inline-block;
    width: 14.28%;
    text-align: center;
}

.cld-day {
    display: block;
    float: left;
    position: relative;
    margin: 0;
    padding: 5px;
    height: 80px;
    border: 1px solid #ddd;
    overflow:hidden;
}



.cld-day.clickable:hover {
    cursor: pointer;
}

.cld-day.today {
    border: 1.5px solid #ff0000;
}

.cld-day.disableDay {
    opacity: 0.5;
}

.cld-day.nextMonth, .cld-day.prevMonth {
    opacity: 0.33;
}

.cld-number {
    margin: 0;
    text-align: left;
    font-size: 20px;
}
/*///////////////////*/
/*.cld-title {
    font-size: 10px;
    display: block;
    margin: 0;
    font-weight: normal;
}*/

.cld-title{
    /*position: absolute;*/
    min-width: 100%;
    z-index: 5;
    display: none;
    top: 30px;
    left: 0;
    padding: 5px 10px;
    background: #fff;
    /*white-space: nowrap;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}
li.cld-day:hover:hover .cld-title{
    display: block;
    float: unset;
}




/*/////////////////////*/

.cld-day:hover {
    background: #eee;
    overflow: visible;
}

.cld-number.eventday {
    /*font-weight: bold;*/
}

.cld-number.eventday:hover {
   /* background: #eee;*/
}

.today .cld-number.eventday:hover {
}

li.currMonth {
    cursor: pointer;
}

.welcome-panel p {
    color: #000000;
}

/*.day-info{
    min-height: 150px;
    width: 100%;
    background-color: greenyellow;
    float: none;
}*/
