<div id="calendar-settings" class="hide ls-tab-content">
    <table class="form-table">
        <tr>
            <th scope="row"><label>(Anzahl) Angezeigte Events</label></th>
            <td>

                <div class="ls-accordion">
                    <h3>Beitrag</h3>
                    <div>
                        <?php
                        $fields = [
                            new LS\Field\Checkbox('calendar[events][post][enabled]', 'aktiviert', [], $this->settings['events']['post']['enabled']),
                            new LS\Field\Select('calendar[events][post][color]', 'Farbe', FitcoHelper::getColors(), [], $this->settings['events']['post']['color']),
                            new LS\Field\Textarea('calendar[events][post][text]', 'Inhalt (Gesundheitswissen)', [], $this->settings['events']['post']['text']),
                            new LS\Field\Label('&nbsp;', [], '* Nutze den Shortcode [post-name] um den Titel des Beitrags anzuzeigen')
                        ];

                        /** @var LS\FieldAbstract $field */
                        foreach($fields as $field) {
                            echo '<div class="row">';
                            $field->render();
                            echo '</div>';
                        }
                        ?>
                    </div>
                    <h3>Tipp der Woche</h3>
                    <div>
                        <?php
                        $fields = [
                            new LS\Field\Checkbox('calendar[events][tdw][enabled]', 'aktiviert', [], $this->settings['events']['tdw']['enabled']),
                            new LS\Field\Select('calendar[events][tdw][color]', 'Farbe', FitcoHelper::getColors(), [], $this->settings['events']['tdw']['color']),
                            new LS\Field\Textarea('calendar[events][tdw][text]', 'Inhalt', [], $this->settings['events']['tdw']['text']),
                            new LS\Field\Label('&nbsp;', [], '* Nutze den Shortcode [post-name] um den Titel des Beitrags anzuzeigen')
                        ];

                        /** @var LS\FieldAbstract $field */
                        foreach($fields as $field) {
                            echo '<div class="row">';
                            $field->render();
                            echo '</div>';
                        }
                        ?>
                    </div>
                    <h3>Vorteilsportfolio</h3>
                    <div>
                        <?php
                        $fields = [
                            new LS\Field\Checkbox('calendar[events][portfolio][enabled]', 'aktiviert', [], $this->settings['events']['portfolio']['enabled']),
                            new LS\Field\Select('calendar[events][portfolio][color]', 'Farbe', FitcoHelper::getColors(), [], $this->settings['events']['portfolio']['color']),
                            new LS\Field\Textarea('calendar[events][portfolio][text]', 'Inhalt der Overlay-Box', [], $this->settings['events']['portfolio']['text']),
                            new LS\Field\Label('&nbsp;', [], '* Nutze den Shortcode [post-name] um den Titel des Beitrags anzuzeigen')
                        ];

                        /** @var LS\FieldAbstract $field */
                        foreach($fields as $field) {
                            echo '<div class="row">';
                            $field->render();
                            echo '</div>';
                        }
                        ?>
                    </div>
                    <h3>Rezept</h3>
                    <div>
                        <?php
                        $fields = [
                            new LS\Field\Checkbox('calendar[events][recipe][enabled]', 'aktiviert', [], $this->settings['events']['recipe']['enabled']),
                            new LS\Field\Select('calendar[events][recipe][color]', 'Farbe', FitcoHelper::getColors(), [], $this->settings['events']['recipe']['color']),
                            new LS\Field\Textarea('calendar[events][recipe][text]', 'Inhalt der Overlay-Box', [], $this->settings['events']['recipe']['text']),
                            new LS\Field\Label('&nbsp;', [], '* Nutze den Shortcode [post-name] um den Titel des Beitrags anzuzeigen')
                        ];

                        /** @var LS\FieldAbstract $field */
                        foreach($fields as $field) {
                            echo '<div class="row">';
                            $field->render();
                            echo '</div>';
                        }
                        ?>
                    </div>
                    <h3>Nachrichten</h3>
                    <div>
                        <?php
                        $fields = [
                            new LS\Field\Checkbox('calendar[events][company-channel][enabled]', 'aktiviert', [], $this->settings['events']['company-channel']['enabled']),
                            new LS\Field\Select('calendar[events][company-channel][color]', 'Farbe', FitcoHelper::getColors(), [], $this->settings['events']['company-channel']['color']),
                            new LS\Field\Textarea('calendar[events][company-channel][text]', 'Inhalt der Overlay-Box', [], $this->settings['events']['company-channel']['text']),
                            new LS\Field\Label('&nbsp;', [], '* Nutze den Shortcode [post-name] um den Titel des Beitrags anzuzeigen')
                        ];

                        /** @var LS\FieldAbstract $field */
                        foreach($fields as $field) {
                            echo '<div class="row">';
                            $field->render();
                            echo '</div>';
                        }
                        ?>
                    </div>
                    <h3>Persönlicher Gesundheitstag</h3>
                    <div>
                        <?php
                        $fields = [
                            new LS\Field\Checkbox('calendar[events][prefDay][enabled]', 'aktiviert', [], $this->settings['events']['prefDay']['enabled']),
                            new LS\Field\Select('calendar[events][prefDay][color]', 'Farbe', FitcoHelper::getColors(), [], $this->settings['events']['prefDay']['color']),
                            new LS\Field\Textarea('calendar[events][prefDay][text]', 'Inhalt der Overlay-Box', [], $this->settings['events']['prefDay']['text'])
                        ];

                        /** @var LS\FieldAbstract $field */
                        foreach($fields as $field) {
                            echo '<div class="row">';
                            $field->render();
                            echo '</div>';
                        }
                        ?>
                    </div>
                    <h3>AT-Challenge</h3>
                    <div>
                        <?php
                        $fields = [
                            new LS\Field\Checkbox('calendar[events][challenge][enabled]', 'aktiviert', [], $this->settings['events']['challenge']['enabled']),
                            new LS\Field\Select('calendar[events][challenge][color]', 'Farbe', FitcoHelper::getColors(), [], $this->settings['events']['challenge']['color']),
                            new LS\Field\Textarea('calendar[events][challenge][text]', 'Overlay-Inhalt (challenge start day)', [], $this->settings['events']['challenge']['text']),
                            new LS\Field\Textarea('calendar[events][challenge][text2]', 'Overlay Inhalt (challenge end day)', [], $this->settings['events']['challenge']['text2']),
                            new LS\Field\Label('&nbsp;', [], '* Use shortcode [challenge-name] to indicate challenge name')
                        ];

                        /** @var LS\FieldAbstract $field */
                        foreach($fields as $field) {
                            echo '<div class="row">';
                            $field->render();
                            echo '</div>';
                        }
                        ?>
                    </div>
                    <h3>Challenge</h3>
                    <div>
                        <?php
                        $fields = [
                            new LS\Field\Checkbox('calendar[events][pech][enabled]', 'aktiviert', [], $this->settings['events']['pech']['enabled']),
                            new LS\Field\Select('calendar[events][pech][color]', 'Farbe', FitcoHelper::getColors(), [], $this->settings['events']['pech']['color']),
                            new LS\Field\Textarea('calendar[events][pech][text]', __('Datumsangabe akzeptiert', 'ls'), [], $this->settings['events']['pech']['text']),
                            new LS\Field\Textarea('calendar[events][pech][text2]', __('Laufzeit', 'ls'), [], $this->settings['events']['pech']['text2']),
                            new LS\Field\Textarea('calendar[events][pech][text3]', __('Ende der Nachricht zur persönlichen Challenge', 'ls'), [], $this->settings['events']['pech']['text3']),
                            new LS\Field\Label('&nbsp;', [], '* Nutze den Shortcode [pech-name] um eine Kurs anzuzeigen')
                        ];

                        /** @var LS\FieldAbstract $field */
                        foreach($fields as $field) {
                            echo '<div class="row">';
                            $field->render();
                            echo '</div>';
                        }
                        ?>
                    </div>
                    <h3>Kurs</h3>
                    <div>
                        <?php
                        $fields = [
                            new LS\Field\Checkbox('calendar[events][course][enabled]', 'aktiviert', [], $this->settings['events']['course']['enabled']),
                            new LS\Field\Select('calendar[events][course][color]', 'Farbe', FitcoHelper::getColors(), [], $this->settings['events']['course']['color']),
                            new LS\Field\Textarea('calendar[events][course][text]', 'Inhalt der Overlay-Box', [], $this->settings['events']['course']['text']),
                            new LS\Field\Label('&nbsp;', [], '* Use shortcode [course-name] to display course name<br />* Use shortcode [course-article] to display course lesson name')
                        ];

                        /** @var LS\FieldAbstract $field */
                        foreach($fields as $field) {
                            echo '<div class="row">';
                            $field->render();
                            echo '</div>';
                        }
                        ?>
                    </div>
                    <h3>Timeline</h3>
                    <div>
                        <?php
                        $fields = [
                            new LS\Field\Checkbox('calendar[events][timeline][enabled]', 'aktiviert', [], $this->settings['events']['timeline']['enabled']),
                            new LS\Field\Select('calendar[events][timeline][color]', 'Farbe', FitcoHelper::getColors(), [], $this->settings['events']['timeline']['color']),
                            new LS\Field\Textarea('calendar[events][timeline][text]', 'Event day', [], $this->settings['events']['timeline']['text']),
                            new LS\Field\Textarea('calendar[events][timeline][text2]', 'Countdown days', [], $this->settings['events']['timeline']['text2']),
                            new LS\Field\Label('&nbsp;', [], '* Use Shortcode [timeline-name] to display timeline name')
                        ];

                        /** @var LS\FieldAbstract $field */
                        foreach($fields as $field) {
                            echo '<div class="row">';
                            $field->render();
                            echo '</div>';
                        }
                        ?>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>