form.tdw-form {
    margin: 5px 0 20px;
}

.tdw .cap > div,
.tdw .button a {
    background-color: #2a99d1;
}

.tdw .button a:hover {
    background-color: #373737;
}

.tdw .hb-label {
    color: #2a99d1;
}

/* Task Box */
.task-box {
    margin: 30px 0;
}

.task-box-tdw {
    margin-bottom: 30px;
    text-align: left;
}

.task-box-header {
    background-color: #2a99d1;
    padding: 10px 15px;
    text-align: center;
}

.task-box-image {
    width: 40px;
    vertical-align: top;
}

.task-box-title {
    color: #fff;
    display: inline-block;
    padding-left: 10px;
    margin: 0;
    line-height: 40px;
}

.task-box-body {
    padding: 20px 20px 10px;
    background-color: #D8E3ED;
}

.task-box-buttons {
    text-align: center;
}

.task-box-buttons a {
    min-width: 40px !important;
}

.task-box-btn.selected:after {
    font-family: 'icomoon' !important;
    content: '\e90e';
    font-size: 12px;
    color: #373737;
    background-color: #fff;
    border-radius: 20px;
    margin-left: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    padding: 4px;
}