/* Companies overview */
.wp_ls_companies td {
    text-overflow: ellipsis;
}

.wp_ls_companies .column-companyId,
.wp_ls_companies .column-companyActive {
    width: 80px;
}

.wp_ls_companies .column-ac {
    width: 150px;
}

.wp_ls_companies .column-details {
    width: 110px;
}

/* Company details */
img.ls-company-logo {
    max-width: 200px;
    margin: 6px 0 6px 130px;
    display: block;
}

a.ls-company-remove-logo {
    text-align: right;
    display: block;
    margin-bottom: 10px;
}

.wpps form .row textarea[name="locations"] {
    height: 120px;
}

/* Companies fields */
form.ls-companies-field .error {
    border: red solid 1px;
}

.wp_ls_companies_fields .column-type,
.wp_ls_companies_fields .column-details {
    width: 110px;
}

.wp_ls_companies_fields .column-fetchFromParent {
    width: 110px;
    text-align: center;
}

.cmp-hierarchical {
    font-weight: 700;
    background-color: #ccc;
    color: #fff;
    border-radius: 50%;
    padding: 1px 4px;
    font-size: 9px;
    line-height: 9px;
}