<ul class="at-items">
    <?php
    foreach($this->activities as $i => $activity) {
        $action = ATActions::getAction($activity['action']);
        ?>

        <li class="at-item <?=$activity['passed'] ? 'done' : 'open'?>">

            <div class="at-sign">
                <?php if($activity['passed']) {
                    echo '&#10004;';
                } else {
                    echo '&#10006;';
                } ?>
            </div>

            <?php if($activity['image']) { ?>
                <img class="at-image" src="<?=$activity['image']?>" alt="" />
            <?php } ?>

            <div class="at-details">

                <h3 class="at-title<?=$activity['image'] ? '' : ' no-image'?>"><?=$activity['title']?></h3>

                <?php if(!empty($activity['description'])) { ?>
                    <div class="at-desc"><?=$activity['description']?></div>
                <?php } ?>

                <?php if($activity['passed']) { ?>

                    <div class="at-info done">
                        <a class="button normal-button large done inline" href="<?=esc_url($activity['link'])?>"<?=empty($activity['link']) ? ' onclick="return false;"' : ''?>><?=$action ? $action->doneActivityLabel : __('Activated', 'ls')?></a>
                    </div>

                <?php } elseif($action && $action->hasCustomActivityRow()) { ?>

                    <?php $action->displayCustomActivityRow($activity); ?>

                <?php } else { ?>

                    <div class="at-info open">
                        <a class="button normal-button large action inline" href="<?=esc_url($activity['link'])?>"<?=empty($activity['link']) ? ' onclick="return false;"' : ''?>><?=$action ? $action->openActivityLabel : __('Open action', 'ls')?></a>
                    </div>

                <?php } ?>
            </div>

        </li>

    <?php } ?>
</ul>