<?php
/** @var object $challenge */
$challenge = $this->challenge;

ob_start();
?>

<div class="at-extra-block col-md-6">
    <h3><?=__('Challenge name', 'ls')?></h3>
    <hr />
    <p><strong><?=$challenge->title?></strong></p>
</div>
<div class="at-extra-block col-md-6">
    <h3><?=__('Days left', 'ls')?></h3>
    <hr />
    <p><?=sprintf(_n('<strong>%d</strong> day', '<strong>%d</strong> days', $this->daysLeft, 'ls'), $this->daysLeft)?></p>
</div>
<div class="at-extra-block col-md-6">
    <h3><?=__('Period', 'ls')?></h3>
    <hr />
    <p><strong><?=$this->period?></strong></p>
</div>
<div class="at-extra-block col-md-6">
    <h3><?=__('Challenge status', 'ls')?></h3>
    <hr />
    <?php if(!$this->challengeStartedByConsumer) { ?>
        <p><strong><?=__('Challenge not started', 'ls')?>.</strong><br /><?=__('Wants to start participation in the challenge?', 'ls')?></p>
        <p><a href="<?=esc_url(add_query_arg(['action' => 'start-challenge', 'challengeId' => $challenge->challengeId]))?>" class="button normal-button large inline"><?=__('Start challenge', 'ls')?></a></p>
    <?php } else { // Challenge started ?>
        <p><strong><?=__('Challenge started', 'ls')?>.</strong><br /><?=__('Wants to stop participation in the challenge?', 'ls')?></p>
        <p><a href="<?=esc_url(add_query_arg(['action' => 'stop-challenge', 'challengeId' => $challenge->challengeId]))?>" class="button normal-button large reversed danger inline" onclick="return confirm('<?=esc_js(__('Please confirm that you really wants to stop participation in the challenge.', 'ls'))?>');"><?=__('Stop', 'ls')?></a></p>
    <?php } ?>
</div>

<?php
$infoBlock = ob_get_clean();
?>

<div class="ls-at-challenge">

    <?php if($this->challengeStartedByConsumer) { ?>
        <div class="at-tabs tabs-wrapper">
            <ul class="tabs align-center"><?php
                ?><li class="active"><a class="active" href="#at-cockpit"><?=__('Cockpit', 'ls')?></a></li><?php
                ?><li><a href="#at-extras"><?=__('Details', 'ls')?></a></li><?php
            ?></ul>

            <ul class="tabs-content">
                <li id="at-cockpit" class="active">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6 at-cp-item">
                            <div><img src="<?=$this->url?>images/total.png" alt=""></div>
                            <div>
                                <h3><?=$this->totalActivities?></h3>
                                <div class="pdi-label"><?=__('Total activities', 'ls')?></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 at-cp-item">
                            <div><img src="<?=$this->url?>images/passed.png" alt=""></div>
                            <div>
                                <h3><?=$this->passedActivities?></h3>
                                <div class="pdi-label"><?=__('Passed activities', 'ls')?></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 at-cp-item">
                            <div><img src="<?=$this->url?>images/open.png" alt=""></div>
                            <div>
                                <h3><?=$this->openActivities?></h3>
                                <div class="pdi-label"><?=__('Open activities', 'ls')?></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="at-extras" class="at-extra-info">
                    <?=$infoBlock?>
                </li>
            </ul>
        </div>
    <?php } else { ?>
        <div class="at-extra-info clearfix">
            <?=$infoBlock?>
        </div>
    <?php } ?>

    <?php if(!empty($this->goalMessage)) { ?>
        <div class="at-goal"><?=ls_kses($this->goalMessage)?></div>
    <?php } ?>

    <?php if($this->challengeStartedByConsumer) { ?>
        <?php $this->render('challenge-activities.phtml'); ?>
    <?php } ?>

</div>