<?php if(empty($this->data)) { ?>
    <div class="at no-results"><?=__('You have not yet participated in the challenges', 'ls')?></div>
<?php } else { ?>

    <div class="challenges-overview overview-blocks">
        <ul>

            <?php
            foreach($this->data as $challengeInfo) {

                /** @var object $challenge */
                $challenge = $challengeInfo['challenge'];

                $link = $challenge->challengePageId > 0 ? get_permalink($challenge->challengePageId) : '';

                if($challengeInfo['openActivities'] == 0) { // no open activities

                    if($challengeInfo['totalActivities'] > $challengeInfo['openActivities']) {
                        $text = __('Currently you do not have open activities to do.', 'ls');
                        $class = 'done';
                    } else {
                        $text = __('All the activities in the challenge are performed', 'ls');
                        $class = 'finished';
                    }

                } else { // has open activities

                    $text = __('You have open activities', 'ls');
                    $class = 'action';
                }
                ?>
                <li>
                    <div class="challenge-overview overview-block clearfix <?=$class?>-border">
                        <div class="icon">
                            <img src="<?=$this->imagesUrl?>/stairs.png" alt="" />
                        </div>
                        <div class="flex">
                            <div class="part part-60">
                                <label>Challenge</label>
                                <div class="title"><?=$challenge->title?></div>
                            </div>
                            <div class="part part-80">
                                <label>Status</label>
                                <div class="title"><?=$text?></div>
                            </div>
                            <div class="part part-20 textcenter">
                                <label><?=__('Progress', 'ls')?></label>
                                <div class="title"><?=$challengeInfo['passedActivities'] . ' / ' . $challengeInfo['totalActivities']?></div>
                            </div>
                        </div>
                        <?php if(!empty($link)) { ?>
                            <div class="button">
                                <a href="<?=esc_url($link)?>" class="button normal-button large <?=$class?> inline"><?=__('Details', 'ls')?></a>
                            </div>
                        <?php } ?>
                    </div>
                </li>
                <?php
            }
            ?>
        </ul>
    </div>

    <?php
}