<div class="ls-at-progress-bar<?=empty($this->class) ? '' : ' ' . esc_attr($this->class)?>">
    <?php if($this->progress['consumerProgress'] <= 10) { ?>
        <div class="ls-at-progress-bar-value ls-at-progress-bar-less"><?=$this->progress['consumerProgress']?>%</div>
    <?php } ?>
    <div class="ls-at-progress-bar-line" style="<?=$this->progress['consumerProgress'] > 0 ? 'width:' . $this->progress['consumerProgress'] . '%;' : 'display:none;'?>">
        <?php if($this->progress['consumerProgress'] > 0) { ?>
            <div class="ls-at-progress-bar-value"><?=$this->progress['consumerProgress']?>%</div>
        <?php } ?>
    </div>
</div>