<form class="tracking-code-form" method="post" autocomplete="off">
    <input type="text" name="at_code" value="" />
    <input type="submit" name="submit" value="<?=__('Submit', 'ls')?>" />
    <input type="hidden" name="showMsg" value="1" />
</form>