<form method="post" autocomplete="off">

    <table class="form-table">
        <tr>
            <th scope="row" colspan="2">
                <label for="acp"><input type="checkbox" id="acp" name="acp"<?php checked((bool) $this->options['acp']); ?> /> <?=__('Automatically publish/unpublish courses', 'ls')?></label>
                <div class="chk-sub-label"><?=__('Publish/unpublish course pages depends on start/end date fields in the course meta-box', 'ls')?></div>
            </th>
        </tr>
        <tr>
            <th scope="row"><label for="courseTypeSlug"><?=__('Course page permalink name', 'ls')?></label></th>
            <td><input type="text" style="width: 400px;" maxlength="512" name="courseTypeSlug" id="courseTypeSlug" value="<?=esc_attr($this->options['courseTypeSlug'])?>" /></td>
        </tr>
        <tr>
            <th scope="row"><label for="courseLessonTypeSlug"><?=__('Course lesson page permalink name', 'ls')?></label></th>
            <td><input type="text" style="width: 400px;" maxlength="512" name="courseLessonTypeSlug" id="courseLessonTypeSlug" value="<?=esc_attr($this->options['courseLessonTypeSlug'])?>" /></td>
        </tr>
    </table>

    <p class="submit">
        <input type="hidden" name="action" value="course-save-settings" />
        <input type="submit" name="submit" value="<?=__('Save', 'ls')?>" class="button-primary" />
    </p>

</form>