<?php
/** @var $table LSCoursesTable */
$table = $this->coursesTable;
$table->referer = $_SERVER['REQUEST_URI'] . '#ls-courses';
$table->prepare_items();
?>
<form method="get" autocomplete="off">

    <input type="hidden" name="page" value="courseLoyaltySuite" />
    <input type="hidden" name="table" value="LSCoursesTable" />

    <div class="ls-accordion courses-accordion">
        <h3 class="title active"><?=__('Dashboard', 'ls')?></h3>
        <div>

            <select id="courseForDash">
                <option value=""><?=__('- Select Course -', 'ls')?></option>
                <?php
                /** @var LSCourse $course */
                foreach($this->courses as $course) { ?>
                    <option value="<?=$course->getCourseId()?>"<?php selected($course->getCourseId(), $this->dashboardCourseId); ?>><?=$course->getCourseName()?></option>
                <?php } ?>
            </select>

            <div id="courseDashData" class="ls-dash">
                <div class="bx size-1">
                    <div>
                        <span id="courseDbOverallParticipants"><?=$this->dashboard['overallParticipants']?></span>
                        <label><?=__('Participants overall', 'ls')?></label>
                    </div>
                </div>
                <div class="bx size-1">
                    <div>
                        <span id="courseDbActiveParticipants"><?=$this->dashboard['activeParticipants']?></span>
                        <label><?=__('Active participants', 'ls')?></label>
                    </div>
                </div>
                <div class="bx size-1">
                    <div>
                        <span id="courseDbFinishedParticipants"><?=$this->dashboard['finishedParticipants']?></span>
                        <label><?=__('Finished participants', 'ls')?></label>
                    </div>
                </div>
                <div class="bx">
                    <div class="size-2">
                        <span id="courseDbParticipantsWeek"><?=$this->dashboard['weeklyNewParticipants']?></span>
                        <label><?=__('New participants last week', 'ls')?></label>
                    </div>
                    <div class="size-2">
                        <span id="courseDbFinishedParticipantsWeek"><?=$this->dashboard['weeklyFinishedParticipants']?></span>
                        <label><?=__('Finished participants last week', 'ls')?></label>
                    </div>
                    <div class="size-2">
                        <span id="courseDbLastWeekReads"><?=$this->dashboard['readsLastWeek']?></span>
                        <label><?=__('Reads last week (activities)', 'ls')?></label>
                    </div>
                </div>
                <div class="bx">
                    <div class="size-2">
                        <span id="courseDbParticipantsTW"><?=$this->dashboard['twNewParticipants']?></span>
                        <label><?=__('New participants this week', 'ls')?></label>
                    </div>
                    <div class="size-2">
                        <span id="courseDbFinishedParticipantsTW"><?=$this->dashboard['twFinishedParticipants']?></span>
                        <label><?=__('Finished participants this week', 'ls')?></label>
                    </div>
                    <div class="size-2">
                        <span id="courseDbThisWeekReads"><?=$this->dashboard['readsThisWeek']?></span>
                        <label><?=__('Reads this week (activities)', 'ls')?></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ls-accordion course-activity">
        <h3 class="title"><?=__('Activity', 'ls')?></h3>
        <div>
            <div class="clearfix course-activities-opts" style="margin-bottom: 20px;">

                <div class="left">
                    <select id="courseForActivity">
                        <option value=""><?=__('- Select Course -', 'ls')?></option>
                        <?php
                        /** @var LSCourse $course */
                        foreach($this->courses as $course) { ?>
                            <option value="<?=$course->getCourseId()?>"<?php selected($course->getCourseId(), $this->dashboardCourseId); ?>><?=$course->getCourseName()?></option>
                        <?php } ?>
                    </select>
                </div>

                <div class="left" style="margin: 2px 0 0 15px;">
                    <select id="courseActivitiesMultipleSelect" class="left" multiple="multiple">
                        <?php
                        $selected = ['overallParticipants', 'newParticipants', 'activeParticipants', 'finishedParticipants', 'reads'];
                        ?>
                        <option value="overallParticipants" data-color="#333"<?php selected(in_array('overallParticipants', $selected)); ?>><?=__('Participants overall', 'ls')?></option>
                        <option value="newParticipants" data-color="#4AC300"<?php selected(in_array('newParticipants', $selected)); ?>><?=__('New participants', 'ls')?></option>
                        <option value="activeParticipants" data-color="#BD30D8"<?php selected(in_array('activeParticipants', $selected)); ?>><?=__('Active participants', 'ls')?></option>
                        <option value="finishedParticipants" data-color="#F40005"<?php selected(in_array('finishedParticipants', $selected)); ?>><?=__('Finished participants', 'ls')?></option>
                        <option value="reads" data-color="#0039BA"<?php selected(in_array('reads', $selected)); ?>><?=__('Reads', 'ls')?></option>
                    </select>
                </div>

                <div class="dates right">
                    <?php (new LS\Field\Date('', '', ['id' => 'statsSD'], strtotime('-1 MONTH')))->render(); ?>
                    <span> - </span>
                    <?php (new LS\Field\Date('', '', ['id' => 'statsED'], time()))->render(); ?>
                </div>

            </div>

            <div class="clearfix">
                <div class="loading ls-course-spinner">&nbsp;</div>
                <div class="canvas-container"></div>
                <div class="canvas-legend"></div>
            </div>
        </div>
    </div>

    <br />

    <?php if(current_user_can('ls_course_manage')) { ?>
        <a class="add-new-h2 button-primary" href="<?=admin_url('post-new.php?post_type=course&referer=' . urlencode($table->referer))?>"><?=__('New course', 'ls')?></a>
    <?php } ?>

    <?php $table->display(); ?>

</form>