<?php if(!empty($this->data)) { ?>

    <div class="consumer-courses">

        <div class="ls-sub-tabs tabs">
            <ul>
                <?php foreach($this->data as $item) { ?>
                    <li class="ls-tab"><a href="#courses/course-<?=$item->courseId?>-tab"><?=$item->courseName?></a></li>
                <?php } ?>
            </ul>
            <?php foreach($this->data as $item) { ?>
                <div id="course-<?=$item->courseId?>-tab" class="hide ls-tab-content">

                    <table class="wp-list-table widefat fixed" style="width: 100%; max-width: 1000px;">
                        <thead>
                            <tr>
                                <th><?=__('Post', 'ls')?></th>
                                <th style="width: 60px;"><?=__('Status', 'ls')?></th>
                                <th style="width: 100px;"><?=__('Date', 'ls')?></th>
                            </tr>
                        </thead>
                        <tbody>

                            <?php
                            $lastReadDate = 0;

                            /** @var LSConsumerCourseItem $ci */
                            foreach($item->lessons as $i => $ci) { ?>
                                <tr<?=($i%2==0 ? ' class="alternate"' : '')?>>
                                    <td><?=get_the_title($ci->getPostId())?></td>
                                    <td>
                                        <?php
                                        if($ci->isRead()) {
                                            echo '<span class="dashicons dashicons-yes" style="color: #8ddc00; font-size: 26px;"></span>';
                                        } elseif($ci->isAccessible()) {
                                            echo '<span class="dashicons dashicons-no-alt" style="color: #dc000e; font-size: 26px;"></span>';
                                        } elseif($ci->isScheduled()) {
                                            echo '<span class="dashicons dashicons-calendar" style="color: #ea9d00; font-size: 26px;"></span>';
                                        } else {
                                            echo '<span class="dashicons dashicons-marker" style="color: #979797; font-size: 26px;"></span>';
                                        }
                                        ?>
                                    </td>
                                    <td>
                                        <?php
                                        $lastReadDate =
                                        $readDate = $ci->getReadDate();
                                        if($readDate > 0) {
                                            echo date('d.m.Y', $readDate);
                                        } else {
                                            $scheduledDate = $ci->getScheduledDate();
                                            if($scheduledDate > 0) {
                                                echo date('d.m.Y', $scheduledDate);
                                            } else {
                                                echo '&nbsp;';
                                            }
                                        }
                                        ?>
                                    </td>
                                </tr>
                            <?php } ?>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td><strong><?=__('Course ended', 'ls')?></strong></td>
                                <td>
                                    <?php if($item->ended) { ?>
                                        <span class="dashicons dashicons-yes" style="color: #8ddc00; font-size: 26px;"></span>
                                    <?php } else { ?>
                                        <span class="dashicons dashicons-no" style="color: #E54215; font-size: 26px;"></span>
                                    <?php } ?>
                                </td>
                                <td>
                                    <?php
                                    if($item->ended && $lastReadDate > 0) {
                                        echo date('d.m.Y', $lastReadDate);
                                    } else echo '&nbsp;';
                                    ?>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                    <?php if(current_user_can('ls_course_manage')) { ?>
                        <form method="post" autocomplete="off">
                            <div class="row">
                                <input type="hidden" name="action" value="course-reset" />
                                <input type="hidden" name="consumerId" value="<?=$this->consumerId?>" />
                                <input type="hidden" name="courseId" value="<?=$item->courseId?>" />
                                <input type="hidden" name="referer" value="<?=$_SERVER['REQUEST_URI']?>" />
                                <input type="submit" name="submit" value="<?=__('Reset participation', 'ls')?>" class="button" onclick="return confirm('<?=esc_sql(__('Are you sure?', 'ls'))?>');" />
                            </div>
                        </form>
                    <?php } ?>

                </div>
            <?php } ?>
        </div>
    </div>

<?php } else {
    echo '<p>' . __('Not participated in courses', 'ls') . '</p>';
}