<?php
$isSelected = isset($this->activity['action']) && $this->activity['action'] == 'course_started';
$selectedIdent = $this->activity['ident'] ?? '';
?>

<select class="activityIdent identCourseStart<?=$isSelected ? '' : ' hide'?>">
    <option value="">-</option>
    <?php foreach($this->courses as $courseId => $title) { ?>
        <option value="<?=$courseId?>"<?php if($isSelected) { selected($selectedIdent, $courseId); } ?>><?=$title?></option>
    <?php } ?>
</select>