<?php
/** @var LSCourse $course */
$course = $this->course;
?>

<div class="course wpps">

    <input type="hidden" name="courseMetaBoxNonce" value="<?=$this->nonce?>" />
    <input type="hidden" name="courseId" value="<?=$this->courseId?>" />

    <div class="ls-tabs tabs">
        <ul>
            <li class="ls-tab"><a href="#course-main"><?=__('Main data', 'ls')?></a></li>
            <li class="ls-tab"><a href="#course-posts"><?=__('Posts', 'ls')?></a></li>
            <li class="ls-tab"><a href="#course-wne"><?=__('Weekly notification email', 'ls')?></a></li>
        </ul>
        <div id="course-main" class="hide ls-tab-content">

            <?php if($this->courseId > 0) { ?>
                <div class="row clearfix">
                    <label><?=__('Course ID', 'ls')?></label>
                    <label><?=$this->courseId?></label>
                </div>
            <?php } ?>

            <div class="row clearfix">
                <?php (new LS\Field\Textarea('courseObjective', __('Course objective', 'ls'), ['maxlength' => 1000], $course->getCourseObjective()))->render(); ?>
            </div>

            <div class="row clearfix">
                <?php (new LS\Field\Textarea('courseTargetGroup', __('Course target group', 'ls'), ['maxlength' => 1000], $course->getCourseTargetGroup()))->render(); ?>
            </div>

            <div class="row clearfix">
                <?php (new LS\Field\Text('trainerName', __('Trainer name', 'ls'), ['maxlength' => 100], $course->getTrainerName()))->render(); ?>
            </div>

            <div class="row clearfix">
                <?php (new LS\Field\Text('trainerOccupation', __('Trainer occupation', 'ls'), ['maxlength' => 100], $course->getTrainerOccupation()))->render(); ?>
            </div>

            <div class="row clearfix">
                <?php (new LS\Field\Image('trainerImage', __('Trainer image', 'ls'), ['return' => 'src'], $course->getTrainerImage()))->render(); ?>
            </div>

            <div class="row clearfix">
                <label><?=__('Work period', 'ls')?></label>
                <span><?=__('from', 'ls')?></span>
                <?php (new LS\Field\Date('startDate', '', [], $course->getStartDate()))->render(); ?>
                <span><?=__('to', 'ls')?></span>
                <?php (new LS\Field\Date('endDate', '', [], $course->getEndDate()))->render(); ?>
            </div>

            <div class="row clearfix">
                <?php (new LS\Field\Textarea('failureMessage', __('Access failure message', 'ls'), [], $course->getFailureMessage()))->render(); ?>
            </div>

            <div class="row clearfix">
                <?php (new LS\Field\Value('defaultInterval', __('Default interval', 'ls'), ['after' => __('days', 'ls')], $course->getDefaultInterval()))->render(); ?>
            </div>

            <div class="row clearfix">
                <?php (new LS\Field\Value('minInterval', __('Minimum interval', 'ls'), ['after' => __('days', 'ls')], $course->getMinInterval()))->render(); ?>
            </div>

            <div class="row clearfix">
                <?php (new LS\Field\Value('maxInterval', __('Maximum interval', 'ls'), ['after' => __('days', 'ls')], $course->getMaxInterval()))->render(); ?>
            </div>

        </div>
        <div id="course-posts" class="hide ls-tab-content">

            <div class="course-posts">

                <ul>
                <?php
                /** @var LSCourseLesson $lesson */
                foreach($this->postConnections as $i => $lesson) { ?>
                    <?php $postId = $lesson->getPostId(); ?>
                    <li class="clearfix" data-post_id="<?=$postId?>">
                        <input type="hidden" name="posts[]" value="<?=$postId?>" />
                        <div class="title">[<a href="<?=get_edit_post_link($course->getCoursePageId())?>" target="_blank"><?=$postId?></a>] <?=get_the_title($postId)?></div>
                        <div class="remove"><a href="#"><span class="dashicons dashicons-dismiss"></span></a></div>
                        <div class="order"><?=$i + 1?></div>
                    </li>
                <?php } ?>
                </ul>

                <p><?=__('Add posts to this course', 'ls')?>:</p>
                <?=ls_post_picker([
                    'name'      => 'addPost',
                    'return'    => 'id',
                    'post_type' => 'course-lesson'
                ])?>

            </div>

        </div>
        <div id="course-wne" class="hide ls-tab-content">

            <div class="row clearfix">
                <?php (new LS\Field\Checkbox('sendLog', __('Send notification email', 'ls'), [], $course->getSendLogStatus()))->render(); ?>
            </div>

            <div class="row clearfix">
                <?php (new LS\Field\Text('logEmail', __('Recipient(s)', 'ls'), [], $course->getLogEmail()))->render(); ?>
            </div>

            <div class="row clearfix">
                <?php (new LS\Field\Text('logSubject', __('Email subject', 'ls'), [], $course->getLogSubject()))->render(); ?>
            </div>

            <div class="row clearfix">

                <div class="clearfix">
                    <?php (new LS\Field\Textarea('logBody', __('Email body', 'ls'), [
                        'tinymce'    => false,
                        'richEditor' => true,
                        'height'     => 400
                    ], $course->getLogBody()))->render(); ?>
                </div>

                <div><label>&nbsp;</label><strong><?=__('Note: This email with the consumer data with be send out only once at the end of a week.', 'ls')?></strong></div>

                <br />

                <div>
                    <label for="testCourseEmail"><?=__('Send test email on save', 'ls')?></label>
                    <input type="checkbox" name="sendTestCourseEmail" autocomplete="off" />
                    <input type="text" maxlength="512" id="testCourseEmail" name="testCourseEmail" value="<?=wp_get_current_user()->user_email?>" placeholder="email address" style="width: 175px;" />
                </div>
            </div>

        </div>
    </div>
</div>